In [1]:
import pandas as pd

local_data_path = "../../dataset_ignore/"
parcels = pd.read_csv(f"{local_data_path}Parcels_2020.csv")
property_assessment = pd.read_csv(f"{local_data_path}property-assessment.csv")

In [3]:
# Join datasets on "PID_LONG" = "PID"

map_parcel = parcels.set_index("PID_LONG").join(property_assessment.set_index("PID"))
map_parcel.head()

,OBJECTID,MAP_PAR_ID,LOC_ID,POLY_TYPE,MAP_NO,SOURCE,PLAN_ID,LAST_EDIT,BND_CHK,NO_MATCH,...,U_BTH_STYLE2,U_BTH_STYLE3,U_KITCH_TYPE,U_KITCH_STYLE,U_HEAT_TYP,U_AC,U_FPLACE,U_INT_FIN,U_INT_CND,U_VIEW
100001000.0,71006,100001000.0,F_782457_2963624,FEE,1.0,ASSESS,NaN,20191107,NaN,N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100002000.0,68430,100002000.0,F_782474_2963634,FEE,1.0,ASSESS,NaN,20191107,NaN,N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100003000.0,71584,100003000.0,F_782492_2963642,FEE,1.0,ASSESS,NaN,20191107,NaN,N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100004000.0,61304,100004000.0,F_782510_2963652,FEE,1.0,ASSESS,NaN,20191107,NaN,N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100005000.0,6734,100005000.0,F_782539_2963640,FEE,1.0,ASSESS,NaN,20191107,NaN,N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN