In [1]:
import pandas as pd
import numpy as np
import os
import shapefile
import ast
from pyproj import Transformer

In [2]:
#https://stackoverflow.com/questions/55112771/read-shapefiles-into-dataframe
def read_shapefile(sf_shape):
    """
    Read a shapefile into a Pandas dataframe with a 'coords' 
    column holding the geometry information. This uses the pyshp
    package
    """

    fields = [x[0] for x in sf_shape.fields][1:]
    records = [y[:] for y in sf_shape.records()]
    #records = sf_shape.records()
    shps = [s.points for s in sf_shape.shapes()]
    df = pd.DataFrame(columns=fields, data=records)
    df = df.assign(coords=shps)
    return df

## Finding the community centers

https://bostonopendata-boston.opendata.arcgis.com/datasets/acedd06b39854088b0f2fefccffebf84_0?geometry=-71.607%2C42.234%2C-70.564%2C42.412

In [3]:
local_data_path = "../../dataset_ignore/community_centers/"

In [4]:
local_data_path

'../../dataset_ignore/community_centers/'

In [5]:
shp_path = os.listdir(local_data_path)[3]
shp_path

'20a369e6-57fe-45f1-b3d9-381a07ca8b5f2020328-1-1eby637.wzx.shp'

In [6]:
shp_file = shapefile.Reader(local_data_path +  shp_path)
df = read_shapefile(shp_file)
df

,FID,OBJECTID,SITE,PHONE,FAX,STREET,NEIGH,ZIP,coords
0,1,0.0,Pino,635-5120,635-1874,86 Boardman St.,East Boston,2128,"[[-71.0108269837395, 42.3888817140619]]"
1,2,0.0,Paris Street Pool*,635-1410,635-5079,113 Paris St.,East Boston,2128,"[[-71.0368919163415, 42.3724271511922]]"
2,3,0.0,Paris Street,635-5125,635-5079,112 Paris St.,East Boston,2128,"[[-71.0375220248402, 42.3728816312829]]"
3,4,0.0,Golden Age Center,635-5175,635-5647,382 Main St.,Charlestown,2129,"[[-71.0699168142103, 42.3797690168046]]"
4,5,0.0,Charlestown*,635-5169,635-5084,255 Medford St.,Charlestown,2129,"[[-71.0609507192311, 42.380995303203]]"
5,6,0.0,Nazzaro,635-5166,635-5053,30 N. Bennet St.,Boston,2113,"[[-71.0544968810165, 42.3652996796642]]"
6,7,0.0,Quincy*,635-5129,635-5132,885 Washington St,Boston,2111,"[[-71.0649617695614, 42.3479492763056]]"
7,8,0.0,Condon*,635-5100,635-5103,"200 ""D"" St.",South Boston,2127,"[[-71.0525266409767, 42.338151479745]]"
8,9,0.0,Tynan,635-5110,635-5065,650 E. Fourth St.,South Boston,2127,"[[-71.0389136775342, 42.3346334388507]]"
9,10,0.0,Curley,635-5104,635-1259,1663 Columbia Rd.,South Boston,2127,"[[-71.0354629468184, 42.3292072485415]]"
10,11,0.0,Vine Street,635-1285,635-1291,339 Dudley Street,Roxbury,2119,"[[-71.0767147735931, 42.3267818083174]]"
11,12,0.0,Blackstone*,635-5162,635-5057,50 W. Brookline S,Boston,2118,"[[-71.0730041365717, 42.3403810738602]]"
12,13,0.0,Rec. Division @ Madison Park*,635-5206,635-5078,55 Malcom X Blvd,Roxbury,2119,"[[-71.0892278686055, 42.3316860264015]]"
13,14,0.0,Tobin,635-5216,635-5288,1481 Tremont St.,Roxbury,2119,"[[-71.0981616896089, 42.3324019255967]]"
14,15,0.0,Hennigan*,635-5198,635-5020,200 Heath St.,Jamaica Plai,2130,"[[-71.1068886203214, 42.3260829589987]]"
15,16,0.0,Shelburne,635-5213,635-5224,2730 Washington S,Roxbury,2119,"[[-71.0902032928732, 42.3224106304714]]"
16,17,0.0,Holland*,635-5144,635-5152,85 Olney St.,Dorchester,2121,"[[-71.0736191226796, 42.3061402464757]]"
17,18,0.0,Perkins*,635-5146,635-5274,155 Talbot Ave.,Dorchester,2124,"[[-71.0804505517003, 42.2924512497082]]"
18,19,0.0,Cleveland,635-5141,635-5028,11 Charles St.,Dorchester,2122,"[[-71.0616961550015, 42.3008803008259]]"
19,20,0.0,Leahy-Holloran*,635-5150,635-5298,1 Worrell St.,Dorchester,2122,"[[-71.049285508462, 42.2943503766681]]"
20,21,0.0,Gallivan,635-5252,635-5042,61 Woodruff Way,Mattapan,2126,"[[-71.0824175360372, 42.2752221764514]]"
21,22,0.0,Mildred Avenue*,635-1328,635-1332,5 Mildred Ave.,Mattapan,2126,"[[-71.0912031726427, 42.2759927246077]]"
22,23,0.0,Hyde Park,635-5178,635-5290,1179 River St.,Hyde Park,2136,"[[-71.1209922314941, 42.2564252306796]]"
23,24,0.0,Curtis Hall*,635-5193,635-5273,20 South St.,Jamaica Plai,2130,"[[-71.1148999354001, 42.3088511398977]]"
24,25,0.0,Roslindale,635-5185,635-5271,6 Cummins Hwy.,Roslindale,2131,"[[-71.1276384249151, 42.2865764735092]]"
25,26,0.0,Flaherty Pool*,635-5181,635-1225,160 Florence St.,Roslindale,2131,"[[-71.1222087700377, 42.2883204322892]]"
26,27,0.0,Menino,635-5256,635-5258,125 Brookway Rd.,Roslindale,2131,"[[-71.1201491289981, 42.2923882465749]]"
27,28,0.0,Roche,635-5066,635-5067,1716 Centre St.,West Roxbury,2132,"[[-71.1493061558172, 42.2869359902307]]"
28,29,0.0,Draper Pool*,635-5021,635-5628,5279 Washington S,West Roxbury,2132,"[[-71.1597832274256, 42.2601659116259]]"
29,30,0.0,Ohrenberger,635-5183,635-5283,175 W. Boundary R,West Roxbury,2132,"[[-71.1494662657657, 42.2608343327245]]"
30,31,0.0,Jackson/Mann,635-5153,635-5275,500 Cambridge St.,Allston,2134,"[[-71.1375007708588, 42.3529092061974]]"
31,32,0.0,Mirabella Pool*,635-1275,---,475 Commercial St,Boston,2113,"[[-71.0543096682463, 42.36875282086]]"
32,33,0.0,Clougherty Pool*,635-5174,---,Bunker Hill St.,Charlestown,2129,"[[-71.0675011641239, 42.3818774216633]]"
33,34,0.0,Grove Hall,635-1484,635-1485,51 Geneva Ave.,Roxbury,2121,"[[-71.0823239109573, 42.3088547158479]]"
34,35,0.0,Mason Pool*,635-5241,635-5627,159 Norfolk Ave.,Roxbury,2118,"[[-71.0708185577016, 42.3258065764696]]"
35,36,NaN,Mattahunt,635-5159,,100 Hebron St,Mattapan,2126,"[[-71.1035699361574, 42.2758118486664]]"

For some reason, there's a * at the end of some of the names in the community center dataset, let's remove that *

In [7]:
df['SITE'] = df.apply(lambda x:x['SITE'][0:-1] if x['SITE'].find('*') != -1 else x['SITE'], axis = 1)
df

,FID,OBJECTID,SITE,PHONE,FAX,STREET,NEIGH,ZIP,coords
0,1,0.0,Pino,635-5120,635-1874,86 Boardman St.,East Boston,2128,"[[-71.0108269837395, 42.3888817140619]]"
1,2,0.0,Paris Street Pool,635-1410,635-5079,113 Paris St.,East Boston,2128,"[[-71.0368919163415, 42.3724271511922]]"
2,3,0.0,Paris Street,635-5125,635-5079,112 Paris St.,East Boston,2128,"[[-71.0375220248402, 42.3728816312829]]"
3,4,0.0,Golden Age Center,635-5175,635-5647,382 Main St.,Charlestown,2129,"[[-71.0699168142103, 42.3797690168046]]"
4,5,0.0,Charlestown,635-5169,635-5084,255 Medford St.,Charlestown,2129,"[[-71.0609507192311, 42.380995303203]]"
5,6,0.0,Nazzaro,635-5166,635-5053,30 N. Bennet St.,Boston,2113,"[[-71.0544968810165, 42.3652996796642]]"
6,7,0.0,Quincy,635-5129,635-5132,885 Washington St,Boston,2111,"[[-71.0649617695614, 42.3479492763056]]"
7,8,0.0,Condon,635-5100,635-5103,"200 ""D"" St.",South Boston,2127,"[[-71.0525266409767, 42.338151479745]]"
8,9,0.0,Tynan,635-5110,635-5065,650 E. Fourth St.,South Boston,2127,"[[-71.0389136775342, 42.3346334388507]]"
9,10,0.0,Curley,635-5104,635-1259,1663 Columbia Rd.,South Boston,2127,"[[-71.0354629468184, 42.3292072485415]]"
10,11,0.0,Vine Street,635-1285,635-1291,339 Dudley Street,Roxbury,2119,"[[-71.0767147735931, 42.3267818083174]]"
11,12,0.0,Blackstone,635-5162,635-5057,50 W. Brookline S,Boston,2118,"[[-71.0730041365717, 42.3403810738602]]"
12,13,0.0,Rec. Division @ Madison Park,635-5206,635-5078,55 Malcom X Blvd,Roxbury,2119,"[[-71.0892278686055, 42.3316860264015]]"
13,14,0.0,Tobin,635-5216,635-5288,1481 Tremont St.,Roxbury,2119,"[[-71.0981616896089, 42.3324019255967]]"
14,15,0.0,Hennigan,635-5198,635-5020,200 Heath St.,Jamaica Plai,2130,"[[-71.1068886203214, 42.3260829589987]]"
15,16,0.0,Shelburne,635-5213,635-5224,2730 Washington S,Roxbury,2119,"[[-71.0902032928732, 42.3224106304714]]"
16,17,0.0,Holland,635-5144,635-5152,85 Olney St.,Dorchester,2121,"[[-71.0736191226796, 42.3061402464757]]"
17,18,0.0,Perkins,635-5146,635-5274,155 Talbot Ave.,Dorchester,2124,"[[-71.0804505517003, 42.2924512497082]]"
18,19,0.0,Cleveland,635-5141,635-5028,11 Charles St.,Dorchester,2122,"[[-71.0616961550015, 42.3008803008259]]"
19,20,0.0,Leahy-Holloran,635-5150,635-5298,1 Worrell St.,Dorchester,2122,"[[-71.049285508462, 42.2943503766681]]"
20,21,0.0,Gallivan,635-5252,635-5042,61 Woodruff Way,Mattapan,2126,"[[-71.0824175360372, 42.2752221764514]]"
21,22,0.0,Mildred Avenue,635-1328,635-1332,5 Mildred Ave.,Mattapan,2126,"[[-71.0912031726427, 42.2759927246077]]"
22,23,0.0,Hyde Park,635-5178,635-5290,1179 River St.,Hyde Park,2136,"[[-71.1209922314941, 42.2564252306796]]"
23,24,0.0,Curtis Hall,635-5193,635-5273,20 South St.,Jamaica Plai,2130,"[[-71.1148999354001, 42.3088511398977]]"
24,25,0.0,Roslindale,635-5185,635-5271,6 Cummins Hwy.,Roslindale,2131,"[[-71.1276384249151, 42.2865764735092]]"
25,26,0.0,Flaherty Pool,635-5181,635-1225,160 Florence St.,Roslindale,2131,"[[-71.1222087700377, 42.2883204322892]]"
26,27,0.0,Menino,635-5256,635-5258,125 Brookway Rd.,Roslindale,2131,"[[-71.1201491289981, 42.2923882465749]]"
27,28,0.0,Roche,635-5066,635-5067,1716 Centre St.,West Roxbury,2132,"[[-71.1493061558172, 42.2869359902307]]"
28,29,0.0,Draper Pool,635-5021,635-5628,5279 Washington S,West Roxbury,2132,"[[-71.1597832274256, 42.2601659116259]]"
29,30,0.0,Ohrenberger,635-5183,635-5283,175 W. Boundary R,West Roxbury,2132,"[[-71.1494662657657, 42.2608343327245]]"
30,31,0.0,Jackson/Mann,635-5153,635-5275,500 Cambridge St.,Allston,2134,"[[-71.1375007708588, 42.3529092061974]]"
31,32,0.0,Mirabella Pool,635-1275,---,475 Commercial St,Boston,2113,"[[-71.0543096682463, 42.36875282086]]"
32,33,0.0,Clougherty Pool,635-5174,---,Bunker Hill St.,Charlestown,2129,"[[-71.0675011641239, 42.3818774216633]]"
33,34,0.0,Grove Hall,635-1484,635-1485,51 Geneva Ave.,Roxbury,2121,"[[-71.0823239109573, 42.3088547158479]]"
34,35,0.0,Mason Pool,635-5241,635-5627,159 Norfolk Ave.,Roxbury,2118,"[[-71.0708185577016, 42.3258065764696]]"
35,36,NaN,Mattahunt,635-5159,,100 Hebron St,Mattapan,2126,"[[-71.1035699361574, 42.2758118486664]]"

Reading in the business csv, want to make sure there are no redundancies

In [8]:
local_social = "../../datasets_clean/"

In [9]:
os.listdir(local_social)[1]

'businesses_sanitized.csv'

In [10]:
old_soc = pd.read_csv(local_social + os.listdir(local_social)[1])
old_soc

,Unnamed: 0,name,zip,lon,lat,category
0,0,Franklin Cafe,2118,-71.068979,42.342915,food
1,1,South End Buttery,2118,-71.070373,42.342101,food
2,2,J.J. Foley's Cafe,2118,-71.065280,42.343664,food
3,3,Cathedral Station,2118,-71.066770,42.342806,food
4,4,Dunkin',2118,-71.065905,42.343730,food
...,...,...,...,...,...,...
70619,70619,AXA Advisors,2459,NaN,NaN,commercial
70620,70620,Barry D Lang MD & Associates,2459,NaN,NaN,commercial
70621,70621,"Doggone It, Inc.",2459,NaN,NaN,commercial
70622,70622,Fetch,2459,NaN,NaN,commercial
70623,70623,Custom Building Solutions,2459,NaN,NaN,commercial

## Cleaning community center dataset

In [11]:
df = df[['SITE','STREET','ZIP','coords']]
df['category'] = 'social'
df

<ipython-input-11-f2761cf659e2>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['category'] = 'social'

,SITE,STREET,ZIP,coords,category
0,Pino,86 Boardman St.,2128,"[[-71.0108269837395, 42.3888817140619]]",social
1,Paris Street Pool,113 Paris St.,2128,"[[-71.0368919163415, 42.3724271511922]]",social
2,Paris Street,112 Paris St.,2128,"[[-71.0375220248402, 42.3728816312829]]",social
3,Golden Age Center,382 Main St.,2129,"[[-71.0699168142103, 42.3797690168046]]",social
4,Charlestown,255 Medford St.,2129,"[[-71.0609507192311, 42.380995303203]]",social
5,Nazzaro,30 N. Bennet St.,2113,"[[-71.0544968810165, 42.3652996796642]]",social
6,Quincy,885 Washington St,2111,"[[-71.0649617695614, 42.3479492763056]]",social
7,Condon,"200 ""D"" St.",2127,"[[-71.0525266409767, 42.338151479745]]",social
8,Tynan,650 E. Fourth St.,2127,"[[-71.0389136775342, 42.3346334388507]]",social
9,Curley,1663 Columbia Rd.,2127,"[[-71.0354629468184, 42.3292072485415]]",social
10,Vine Street,339 Dudley Street,2119,"[[-71.0767147735931, 42.3267818083174]]",social
11,Blackstone,50 W. Brookline S,2118,"[[-71.0730041365717, 42.3403810738602]]",social
12,Rec. Division @ Madison Park,55 Malcom X Blvd,2119,"[[-71.0892278686055, 42.3316860264015]]",social
13,Tobin,1481 Tremont St.,2119,"[[-71.0981616896089, 42.3324019255967]]",social
14,Hennigan,200 Heath St.,2130,"[[-71.1068886203214, 42.3260829589987]]",social
15,Shelburne,2730 Washington S,2119,"[[-71.0902032928732, 42.3224106304714]]",social
16,Holland,85 Olney St.,2121,"[[-71.0736191226796, 42.3061402464757]]",social
17,Perkins,155 Talbot Ave.,2124,"[[-71.0804505517003, 42.2924512497082]]",social
18,Cleveland,11 Charles St.,2122,"[[-71.0616961550015, 42.3008803008259]]",social
19,Leahy-Holloran,1 Worrell St.,2122,"[[-71.049285508462, 42.2943503766681]]",social
20,Gallivan,61 Woodruff Way,2126,"[[-71.0824175360372, 42.2752221764514]]",social
21,Mildred Avenue,5 Mildred Ave.,2126,"[[-71.0912031726427, 42.2759927246077]]",social
22,Hyde Park,1179 River St.,2136,"[[-71.1209922314941, 42.2564252306796]]",social
23,Curtis Hall,20 South St.,2130,"[[-71.1148999354001, 42.3088511398977]]",social
24,Roslindale,6 Cummins Hwy.,2131,"[[-71.1276384249151, 42.2865764735092]]",social
25,Flaherty Pool,160 Florence St.,2131,"[[-71.1222087700377, 42.2883204322892]]",social
26,Menino,125 Brookway Rd.,2131,"[[-71.1201491289981, 42.2923882465749]]",social
27,Roche,1716 Centre St.,2132,"[[-71.1493061558172, 42.2869359902307]]",social
28,Draper Pool,5279 Washington S,2132,"[[-71.1597832274256, 42.2601659116259]]",social
29,Ohrenberger,175 W. Boundary R,2132,"[[-71.1494662657657, 42.2608343327245]]",social
30,Jackson/Mann,500 Cambridge St.,2134,"[[-71.1375007708588, 42.3529092061974]]",social
31,Mirabella Pool,475 Commercial St,2113,"[[-71.0543096682463, 42.36875282086]]",social
32,Clougherty Pool,Bunker Hill St.,2129,"[[-71.0675011641239, 42.3818774216633]]",social
33,Grove Hall,51 Geneva Ave.,2121,"[[-71.0823239109573, 42.3088547158479]]",social
34,Mason Pool,159 Norfolk Ave.,2118,"[[-71.0708185577016, 42.3258065764696]]",social
35,Mattahunt,100 Hebron St,2126,"[[-71.1035699361574, 42.2758118486664]]",social

In [12]:
df['lower'] = df['SITE'].str.casefold()
old_soc['lower'] = old_soc['name'].str.casefold()

df = df[~df.lower.isin(old_soc.lower)]

community_centers = df.drop(columns = 'lower')
community_centers

<ipython-input-12-b979db8d2b68>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['lower'] = df['SITE'].str.casefold()

,SITE,STREET,ZIP,coords,category
0,Pino,86 Boardman St.,2128,"[[-71.0108269837395, 42.3888817140619]]",social
2,Paris Street,112 Paris St.,2128,"[[-71.0375220248402, 42.3728816312829]]",social
5,Nazzaro,30 N. Bennet St.,2113,"[[-71.0544968810165, 42.3652996796642]]",social
6,Quincy,885 Washington St,2111,"[[-71.0649617695614, 42.3479492763056]]",social
7,Condon,"200 ""D"" St.",2127,"[[-71.0525266409767, 42.338151479745]]",social
8,Tynan,650 E. Fourth St.,2127,"[[-71.0389136775342, 42.3346334388507]]",social
9,Curley,1663 Columbia Rd.,2127,"[[-71.0354629468184, 42.3292072485415]]",social
10,Vine Street,339 Dudley Street,2119,"[[-71.0767147735931, 42.3267818083174]]",social
12,Rec. Division @ Madison Park,55 Malcom X Blvd,2119,"[[-71.0892278686055, 42.3316860264015]]",social
13,Tobin,1481 Tremont St.,2119,"[[-71.0981616896089, 42.3324019255967]]",social
14,Hennigan,200 Heath St.,2130,"[[-71.1068886203214, 42.3260829589987]]",social
15,Shelburne,2730 Washington S,2119,"[[-71.0902032928732, 42.3224106304714]]",social
16,Holland,85 Olney St.,2121,"[[-71.0736191226796, 42.3061402464757]]",social
17,Perkins,155 Talbot Ave.,2124,"[[-71.0804505517003, 42.2924512497082]]",social
18,Cleveland,11 Charles St.,2122,"[[-71.0616961550015, 42.3008803008259]]",social
19,Leahy-Holloran,1 Worrell St.,2122,"[[-71.049285508462, 42.2943503766681]]",social
20,Gallivan,61 Woodruff Way,2126,"[[-71.0824175360372, 42.2752221764514]]",social
21,Mildred Avenue,5 Mildred Ave.,2126,"[[-71.0912031726427, 42.2759927246077]]",social
23,Curtis Hall,20 South St.,2130,"[[-71.1148999354001, 42.3088511398977]]",social
26,Menino,125 Brookway Rd.,2131,"[[-71.1201491289981, 42.2923882465749]]",social
27,Roche,1716 Centre St.,2132,"[[-71.1493061558172, 42.2869359902307]]",social
29,Ohrenberger,175 W. Boundary R,2132,"[[-71.1494662657657, 42.2608343327245]]",social
30,Jackson/Mann,500 Cambridge St.,2134,"[[-71.1375007708588, 42.3529092061974]]",social
31,Mirabella Pool,475 Commercial St,2113,"[[-71.0543096682463, 42.36875282086]]",social

## Cleaning religion

In [13]:
local_data_path = "../../dataset_ignore/places_of_worship/"

In [14]:
shp_path = os.listdir(local_data_path)[6]
shp_path

'Places_of_Worship.shp'

In [15]:
shp_file = shapefile.Reader(local_data_path +  shp_path)
df = read_shapefile(shp_file)

In [16]:
df = df[df['GEOG_CITY'] == 'Boston']

In [17]:
df = df[['NAME','ADDRESS','ZIPCODE','coords']]
df['category'] = 'social'
df

,NAME,ADDRESS,ZIPCODE,coords,category
2,Islamic Society of Boston Cultural Center,100 Malcolm X Boulevard,02120,"[[233512.96549999714, 897904.6944999993]]",social
8,Masjid Al-Noor,28 Circuit Street,02119,"[[234133.40370000154, 897057.6695999987]]",social
11,Masjidun Lil Hamidulillah,724 Shawmut Avenue,02119,"[[234346.56319999695, 898114.9417999983]]",social
13,Allston Brighton Islamic Center,15 North Beacon Street,02134,"[[229852.79240000248, 900481.2523999996]]",social
17,Masjid Al-Quran,35 Intervale Street,02125,"[[234597.54389999807, 895756.3563000001]]",social
...,...,...,...,...,...
1963,The Community Church of Boston,565 Boylston Street,02116,"[[234903.56340000033, 900105.0887999982]]",social
2024,First Church in Charlestown,10 Green Street,02129-0203,"[[235927.3343999982, 902910.5007999986]]",social
2026,Hope Central Church,85 Seaverns Avenue,02130-2866,"[[232164.33110000193, 895676.2529000007]]",social
2027,Roslindale Congregational Church,25 Cummins Hwy,02131-2523,"[[230720.63599999994, 892866.2316999994]]",social
2030,Mount Vernon Congregational Church,645 Boylston Street,02116-2804,"[[234743.0379000008, 900043.8663000017]]",social

In [18]:
df['lower'] = df['NAME'].str.casefold()
old_soc['lower'] = old_soc['name'].str.casefold()
df = df[~df.lower.isin(old_soc.lower)]
religion = df.drop(columns = 'lower')
religion

,NAME,ADDRESS,ZIPCODE,coords,category
8,Masjid Al-Noor,28 Circuit Street,02119,"[[234133.40370000154, 897057.6695999987]]",social
11,Masjidun Lil Hamidulillah,724 Shawmut Avenue,02119,"[[234346.56319999695, 898114.9417999983]]",social
18,Yousuf Masjid,186 Chestnut Hill Avenue,02135,"[[228469.74549999833, 898993.511500001]]",social
49,Chabad House,491 Commonwealth Avenue,02215,"[[233425.1704000011, 899954.1667999998]]",social
73,Temple Hillel Bnai Torah,120 Corey Street,02132,"[[228290.81329999864, 893083.7446999997]]",social
...,...,...,...,...,...
1801,Pilgrim Church of Dorchester,540 Columbia Road,02125-2323,"[[235726.3348999992, 896258.0102999993]]",social
1849,First Church in Jamaica Plain UU,6 Eliot Street,02130,"[[231639.21299999952, 895576.3126000017]]",social
1853,"Church of the Covenant, Federated",67 Newbury Street,02116-3090,"[[235082.89940000325, 900269.185899999]]",social
1963,The Community Church of Boston,565 Boylston Street,02116,"[[234903.56340000033, 900105.0887999982]]",social
2030,Mount Vernon Congregational Church,645 Boylston Street,02116-2804,"[[234743.0379000008, 900043.8663000017]]",social

In [19]:
community_centers.rename(columns = {'ZIP':'ZIPCODE','SITE':'NAME','STREET':'ADDRESS'}, inplace = True)

In [20]:
socialdf = pd.concat((religion,community_centers))
socialdf

,NAME,ADDRESS,ZIPCODE,coords,category
8,Masjid Al-Noor,28 Circuit Street,02119,"[[234133.40370000154, 897057.6695999987]]",social
11,Masjidun Lil Hamidulillah,724 Shawmut Avenue,02119,"[[234346.56319999695, 898114.9417999983]]",social
18,Yousuf Masjid,186 Chestnut Hill Avenue,02135,"[[228469.74549999833, 898993.511500001]]",social
49,Chabad House,491 Commonwealth Avenue,02215,"[[233425.1704000011, 899954.1667999998]]",social
73,Temple Hillel Bnai Torah,120 Corey Street,02132,"[[228290.81329999864, 893083.7446999997]]",social
...,...,...,...,...,...
26,Menino,125 Brookway Rd.,2131,"[[-71.1201491289981, 42.2923882465749]]",social
27,Roche,1716 Centre St.,2132,"[[-71.1493061558172, 42.2869359902307]]",social
29,Ohrenberger,175 W. Boundary R,2132,"[[-71.1494662657657, 42.2608343327245]]",social
30,Jackson/Mann,500 Cambridge St.,2134,"[[-71.1375007708588, 42.3529092061974]]",social
31,Mirabella Pool,475 Commercial St,2113,"[[-71.0543096682463, 42.36875282086]]",social

In [53]:
raw = socialdf
raw

,NAME,ADDRESS,ZIPCODE,coords,category,east,north
8,Masjid Al-Noor,28 Circuit Street,02119,"[[234133.40370000154, 897057.6695999987]]",social,234133.403700,897057.669600
11,Masjidun Lil Hamidulillah,724 Shawmut Avenue,02119,"[[234346.56319999695, 898114.9417999983]]",social,234346.563200,898114.941800
18,Yousuf Masjid,186 Chestnut Hill Avenue,02135,"[[228469.74549999833, 898993.511500001]]",social,228469.745500,898993.511500
49,Chabad House,491 Commonwealth Avenue,02215,"[[233425.1704000011, 899954.1667999998]]",social,233425.170400,899954.166800
73,Temple Hillel Bnai Torah,120 Corey Street,02132,"[[228290.81329999864, 893083.7446999997]]",social,228290.813300,893083.744700
...,...,...,...,...,...,...,...
26,Menino,125 Brookway Rd.,2131,"[[-71.1201491289981, 42.2923882465749]]",social,-71.120149,42.292388
27,Roche,1716 Centre St.,2132,"[[-71.1493061558172, 42.2869359902307]]",social,-71.149306,42.286936
29,Ohrenberger,175 W. Boundary R,2132,"[[-71.1494662657657, 42.2608343327245]]",social,-71.149466,42.260834
30,Jackson/Mann,500 Cambridge St.,2134,"[[-71.1375007708588, 42.3529092061974]]",social,-71.137501,42.352909
31,Mirabella Pool,475 Commercial St,2113,"[[-71.0543096682463, 42.36875282086]]",social,-71.054310,42.368753

In [54]:
raw = raw.reset_index(drop = True)
raw

,NAME,ADDRESS,ZIPCODE,coords,category,east,north
0,Masjid Al-Noor,28 Circuit Street,02119,"[[234133.40370000154, 897057.6695999987]]",social,234133.403700,897057.669600
1,Masjidun Lil Hamidulillah,724 Shawmut Avenue,02119,"[[234346.56319999695, 898114.9417999983]]",social,234346.563200,898114.941800
2,Yousuf Masjid,186 Chestnut Hill Avenue,02135,"[[228469.74549999833, 898993.511500001]]",social,228469.745500,898993.511500
3,Chabad House,491 Commonwealth Avenue,02215,"[[233425.1704000011, 899954.1667999998]]",social,233425.170400,899954.166800
4,Temple Hillel Bnai Torah,120 Corey Street,02132,"[[228290.81329999864, 893083.7446999997]]",social,228290.813300,893083.744700
...,...,...,...,...,...,...,...
130,Menino,125 Brookway Rd.,2131,"[[-71.1201491289981, 42.2923882465749]]",social,-71.120149,42.292388
131,Roche,1716 Centre St.,2132,"[[-71.1493061558172, 42.2869359902307]]",social,-71.149306,42.286936
132,Ohrenberger,175 W. Boundary R,2132,"[[-71.1494662657657, 42.2608343327245]]",social,-71.149466,42.260834
133,Jackson/Mann,500 Cambridge St.,2134,"[[-71.1375007708588, 42.3529092061974]]",social,-71.137501,42.352909
134,Mirabella Pool,475 Commercial St,2113,"[[-71.0543096682463, 42.36875282086]]",social,-71.054310,42.368753

In [55]:
# back to list
raw['east'] = raw['coords'].apply(lambda x: x[0][0])
raw['north'] = raw['coords'].apply(lambda x: x[0][1])


parcels = raw[['NAME', 'ADDRESS', 'ZIPCODE', 'east', 'north', 'category']]
parcels.columns = ['name', 'address', 'zip', 'east', 'north', 'category']
parcels = parcels.reset_index(drop = True)

transformer = Transformer.from_crs(crs_from = 'epsg:2805',
                                   crs_to = 'epsg:4326')

# lists of east/north and initial for lat/lon
east = list(parcels.east)
north = list(parcels.north)
latitudes = []
longitudes = []

# saving a couple entries for testing
test = parcels.loc[0:2,:].copy(deep = True).reset_index(drop = True)

# transforming
for i in range(len(east)):
    new = transformer.transform(east[i],north[i])
    latitudes.append(new[0])
    longitudes.append(new[1])

# updating dataframe
parcels.east = latitudes
parcels.north = longitudes



# checking first couple entries
test1 = transformer.transform(test.east[0],test.north[0])
test2 = transformer.transform(test.east[1],test.north[1])

if test1 == (parcels.east[0],parcels.north[0]) and \
    test2 == (parcels.east[1],parcels.north[1]):
        parcels.columns = ['name', 'address', 'zip', 'lat', 'lon', 'category']
        print('converted.')
        
else:
    print('improper conversion.')

converted.

In [57]:
parcels.to_csv('../../datasets_clean/worship_community_latlon.csv')