In [8]:
import numpy as np
import pandas as pd
import requests
import json

In [15]:
racedf = pd.read_csv('race.csv')
racedf

2          0                12
5                 25          0                17         15                25
6                 12          0                12          0                12
7                 31          0                17         20                31
8                332         14                23        375               331
9                 12          0                12          0                12
10               418         45                58        819               416
11               760         60                73       1668               767
12               569         71                72       1666               560
13               377         87               110        593               382
14               415          7                13        781               417
15               388        209               175        414               323
16               304         34                39        189               303
17               176        118               155         56                83
18                17          0                17          0                17
19               130          0                12        134               130
20                12          0                12          0                12
21               272          7                12        224               274
22                82          0                12        148                82
23               332        128               171        307               302
24                62         22                36         40                50
25                12          0                12          0                12
26                12          0                12          0                12
27                12          0                12          0                12
28                12          0                12          0                12

[29 rows x 44 columns]

In [47]:
racedf = pd.read_csv('race.csv')

with open('metadata.json') as f:
    data = list(json.load(f).items())
data = data[1][1]['B03002']['columns']

cols = []
for i in data:
    cols += ([data[i]['name']])
cols

cols2 = ['geoid', 'name']
for i in cols:
    cols2 += [i]
    cols2 += [i + ' error']
cols2
racedf.columns = cols2
racedf.head()

,geoid,name,Total:,Total: error,Not Hispanic or Latino:,Not Hispanic or Latino: error,White alone,White alone error,Black or African American alone,Black or African American alone error,...,Native Hawaiian and Other Pacific Islander alone,Native Hawaiian and Other Pacific Islander alone error,Some other race alone,Some other race alone error,Two or more races:,Two or more races: error,Two races including Some other race,Two races including Some other race error,"Two races excluding Some other race, and three or more races","Two races excluding Some other race, and three or more races error"
0,14000US25009207200,"Census Tract 2072, Essex, MA",2467,251,1540,274,698,253,280,120,...,0,12,510,306,159,133,135,120,24,45
1,14000US25009208101,"Census Tract 2081.01, Essex, MA",4991,409,4571,403,4216,413,21,24,...,0,12,0,12,0,12,0,12,0,12
2,14000US25009208102,"Census Tract 2081.02, Essex, MA",3258,342,2872,343,2471,311,133,154,...,0,12,18,35,13,20,13,20,0,12
3,14000US25009208200,"Census Tract 2082, Essex, MA",5519,507,5263,469,4696,513,317,267,...,0,17,79,126,0,17,0,17,0,17
4,14000US25009990100,"Census Tract 9901, Essex, MA",0,12,0,12,0,12,0,12,...,0,12,0,12,0,12,0,12,0,12