In [44]:
pip install geofeather

Requirement already satisfied: geofeather in /usr/local/lib/python3.7/dist-packages (0.3.0)
Requirement already satisfied: geopandas in /usr/local/lib/python3.7/dist-packages (from geofeather) (0.9.0)
Requirement already satisfied: feather-format in /usr/local/lib/python3.7/dist-packages (from geofeather) (0.4.1)
Requirement already satisfied: fiona>=1.8 in /usr/local/lib/python3.7/dist-packages (from geopandas->geofeather) (1.8.18)
Requirement already satisfied: pyproj>=2.2.0 in /usr/local/lib/python3.7/dist-packages (from geopandas->geofeather) (3.0.1)
Requirement already satisfied: shapely>=1.6 in /usr/local/lib/python3.7/dist-packages (from geopandas->geofeather) (1.7.1)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from geopandas->geofeather) (1.1.5)
Requirement already satisfied: pyarrow>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from feather-format->geofeather) (3.0.0)
Requirement already satisfied: munch in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas->geofeather) (2.5.0)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas->geofeather) (1.15.0)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas->geofeather) (20.3.0)
Requirement already satisfied: click<8,>=4.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas->geofeather) (7.1.2)
Requirement already satisfied: cligj>=0.5 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas->geofeather) (0.7.1)
Requirement already satisfied: click-plugins>=1.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas->geofeather) (1.1.1)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas->geofeather) (2020.12.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->geopandas->geofeather) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->geopandas->geofeather) (2.8.1)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->geopandas->geofeather) (1.19.5)

In [41]:
pip install geopandas

Requirement already satisfied: geopandas in /usr/local/lib/python3.7/dist-packages (0.9.0)
Requirement already satisfied: fiona>=1.8 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.8.18)
Requirement already satisfied: pyproj>=2.2.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (3.0.1)
Requirement already satisfied: shapely>=1.6 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.7.1)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.1.5)
Requirement already satisfied: click<8,>=4.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (7.1.2)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.15.0)
Requirement already satisfied: munch in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (2.5.0)
Requirement already satisfied: click-plugins>=1.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.1.1)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (2020.12.5)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (20.3.0)
Requirement already satisfied: cligj>=0.5 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (0.7.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->geopandas) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->geopandas) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->geopandas) (1.19.5)

In [43]:
import geopandas as gpd

In [ ]:
from geofeather import to_geofeather, from_geofeather
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# statewide adress data
state_wide_address = from_geofeather('/content/drive/Shareddrives/506 Data Science/statewise_address_data/statewide_address_data.feather')

In [57]:
#Isolate quincy addresses
quincy_addresses = state_wide_address[state_wide_address['COMMUNITY_NAME']=='QUINCY']
quincy_addresses

             CENTROID_ID  ...                       geometry
2065620  M_238755_886610  ...  POINT (238754.959 886609.775)
2065621  M_238755_886610  ...  POINT (238754.959 886609.775)
2065622  M_238755_886610  ...  POINT (238754.959 886609.775)
2065623  M_238755_886610  ...  POINT (238754.959 886609.775)
2065646  M_238821_886625  ...  POINT (238821.324 886625.242)
...                  ...  ...                            ...
2325425  M_240360_894698  ...  POINT (240359.890 894697.594)
2327432  M_240264_894802  ...  POINT (240263.999 894802.252)
2328705  M_240384_894699  ...  POINT (240384.318 894698.903)
2328719  M_240174_894716  ...  POINT (240173.761 894715.681)
2329774  M_240303_894815  ...  POINT (240303.135 894814.714)

[56431 rows x 25 columns]

In [47]:
#Uploading Quincy parcel data (not a feather file)
quincy_parcels = gpd.read_file('/content/drive/MyDrive/506 Google Colab/L3_SHP_M243_Quincy/M243TaxPar.shp')
quincy_parcels
#quincy_parcels["geometry"][0]

       SHAPE_Leng  ...                                           geometry
0      738.412609  ...  POLYGON ((245631.381 890483.668, 245631.496 89...
1      143.577378  ...  POLYGON ((245404.858 891623.698, 245370.930 89...
2      136.319900  ...  POLYGON ((245421.888 891613.183, 245421.222 89...
3      136.003189  ...  POLYGON ((245417.145 891568.529, 245417.145 89...
4      131.655335  ...  POLYGON ((245419.812 891592.380, 245419.241 89...
...           ...  ...                                                ...
21278  313.884035  ...  POLYGON ((240066.752 889096.245, 240052.613 88...
21279  629.482372  ...  POLYGON ((240277.388 889163.652, 240274.092 88...
21280  133.059876  ...  POLYGON ((238491.847 892525.603, 238481.845 89...
21281  252.396065  ...  POLYGON ((240985.687 888746.076, 240986.201 88...
21282  227.857320  ...  POLYGON ((239457.988 887931.191, 239456.941 88...

[21283 rows x 13 columns]

In [48]:
#Installing Shapley. Shapley can help us find how many addresses are in each parcel via Point (addresses) in Polygon (parcel)
from shapely.geometry import Point, Polygon

In [63]:
#Test lines to understand the datasets and shapley
parcel = quincy_parcels["geometry"][0]
type(parcel)
address = quincy_addresses["geometry"].iloc[0]
type(address)
address.within(parcel)
#POINT.winthin(POLYGON) returns true if point is in the polygon, and false if its not in the polygon

False

In [83]:
#Proof of concept! It works :D
small_quincy_parcels = quincy_parcels.iloc[0:10]
small_quincy_addresses = quincy_addresses.iloc[0:100]

density = []
for i, parcel in small_quincy_parcels.iterrows():
  counter = 0
  for j, address in quincy_addresses.iterrows():
    if address['geometry'].within(parcel['geometry']):
      counter += 1
  density.append(counter)
print(density)

[0, 1, 1, 1, 1, 1, 1, 1, 2, 1]

In [ ]:
#Calculating density for all of Quincy
density = []
for i, parcel in quincy_parcels.iterrows():
  counter = 0
  for j, address in quincy_addresses.iterrows():
    if address['geometry'].within(parcel['geometry']):
      counter += 1
  density.append(counter)
print(density)

In [ ]:
l3_taxpar_poly_assess = from_geofeather('/content/drive/MyDrive/Colab Notebooks/l3_taxpar_poly_assess.feather')

/usr/local/lib/python3.7/dist-packages/geofeather/core.py:70: UserWarning: /content/drive/MyDrive/Colab Notebooks/l3_taxpar_poly_assess.feather.crs coordinate reference system file is missing. No crs will be set for this GeoDataFrame.
  crsfilename

In [ ]:
l3_taxpar_poly_assess

              MAP_PAR_ID  ...                                           geometry
0                22-A-14  ...  POLYGON ((164922.309 878186.641, 164855.848 87...
1             P-12_7_3_0  ...  POLYGON ((217537.914 869802.140, 217538.324 86...
2                41-7-35  ...  POLYGON ((117170.468 867084.617, 117146.410 86...
3                  43_41  ...  POLYGON ((243671.656 874572.000, 243661.297 87...
4               K10 13 2  ...  POLYGON ((107768.000 869277.188, 107765.680 86...
...                  ...  ...                                                ...
2410189  006-000-061-001  ...  POLYGON ((267605.715 858936.195, 267585.522 85...
2410190          G14 2 4  ...  POLYGON ((104613.414 871309.375, 104544.328 87...
2410191          F10 3 5  ...  POLYGON ((103984.086 869536.813, 104015.172 86...
2410192          G14 2 8  ...  POLYGON ((104673.516 871136.625, 104703.531 87...
2410193          22-25-0  ...  POLYGON ((198879.326 872853.488, 198879.327 87...

[2410194 rows x 47 columns]

In [ ]:
l3_uc_lut = gpd.read_file('/content/drive/Shareddrives/506 Data Science/state_use_codes_lookup_table/l3_uc_lut.shp')

In [ ]:
l3_uc_lut

      TOWN_ID  ... geometry
0           0  ...     None
1           0  ...     None
2           0  ...     None
3           0  ...     None
4           0  ...     None
...       ...  ...      ...
9452      168  ...     None
9453      168  ...     None
9454      168  ...     None
9455      168  ...     None
9456      168  ...     None

[9457 rows x 4 columns]

In [ ]:
l3_lut = gpd.read_file('/content/drive/Shareddrives/506 Data Science/other_legal and miscellaneous type_lookup_table/l3_lut.shp')

In [ ]:
l3_lut

       TOWN_ID  ... geometry
0            0  ...     None
1            0  ...     None
2            0  ...     None
3            0  ...     None
4            0  ...     None
...        ...  ...      ...
19932        0  ...     None
19933        0  ...     None
19934        0  ...     None
19935        0  ...     None
19936        0  ...     None

[19937 rows x 5 columns]