In [1]:
import folium
from folium.plugins import HeatMap
import numpy as np
import pandas as pd
import os
current_directory = os.getcwd()

In [2]:
location=[32.7003, -90.6783]
weather_data = pd.read_csv('/Users/abdullaahrobins/Documents/GitHub/CS506Spring2021Repository/NaturalDisasterProject/Deliverable_4/storm_data_search_results.csv')

In [ ]:
# info = weather_data.info()
# state_occ = weather_data['STATE_ABBR'].value_counts()
# df = weather_data['STATE_ABBR'].value_counts().rename_axis('states').reset_index(name='counts')

In [ ]:
# heat_data = [[row['BEGIN_LAT'],row['BEGIN_LON']] for index, row in heat_df.iterrows()]
# HeatMap(heat_data).add_to(base_map)

In [ ]:
# base_map.save('heatmap_weather.html')
# base_map.save('choropleth_weather.html')

In [3]:
weather_data['BEGIN_DATE'] = pd.to_datetime(weather_data['BEGIN_DATE'])

In [6]:
weather_data.groupby('TOR_F_SCALE').count()

,EVENT_ID,CZ_NAME_STR,BEGIN_LOCATION,BEGIN_DATE,BEGIN_TIME,EVENT_TYPE,MAGNITUDE,DEATHS_DIRECT,INJURIES_DIRECT,DAMAGE_PROPERTY_NUM,...,END_LOCATION,END_DATE,END_TIME,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON,EVENT_NARRATIVE,EPISODE_NARRATIVE,ABSOLUTE_ROWNUMBER
TOR_F_SCALE,,,,,,,,,,,,,,,,,,,,,
EF3,384,384,384,384,384,384,384,384,384,384,...,384,384,384,384,384,384,384,384,384,384
EF4,99,99,99,99,99,99,99,99,99,99,...,99,99,99,99,99,99,99,99,99,99
EF5,12,12,12,12,12,12,12,12,12,12,...,12,12,12,12,12,12,12,12,12,12

In [7]:
w_df = weather_data.loc[(weather_data.TOR_F_SCALE == 'EF3')]

In [8]:
w_df

,EVENT_ID,CZ_NAME_STR,BEGIN_LOCATION,BEGIN_DATE,BEGIN_TIME,EVENT_TYPE,MAGNITUDE,TOR_F_SCALE,DEATHS_DIRECT,INJURIES_DIRECT,...,END_LOCATION,END_DATE,END_TIME,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON,EVENT_NARRATIVE,EPISODE_NARRATIVE,ABSOLUTE_ROWNUMBER
0,203448,HARRISON CO.,CROSSROADS,2010-01-20,1718,Tornado,,EF3,0,0,...,WASKOM,01/20/2010,1738,32.4869,-94.1689,32.5182,-94.0432,The tornado first touched down in a wooded are...,A very warm and unstable air mass developed ac...,1
1,203449,CADDO PAR.,LORRAINE,2010-01-20,1738,Tornado,,EF3,0,0,...,BLANCHARD,01/20/2010,1759,32.5182,-94.0432,32.5506,-93.9127,The tornado was a continuation of the Harrison...,A very warm and unstable air mass developed ac...,2
2,218501,GUILFORD CO.,HIGH PT,2010-03-28,1830,Tornado,,EF3,0,0,...,DEEP RIVER,03/28/2010,1840,36.0049,-80.0396,36.0447,-80.0020,The tornado initially touched down as an EF1 w...,Convection developed ahead of an amplified upp...,3
3,225573,COTTLE CO.,CEE VEE,2010-04-22,1846,Tornado,,EF3,0,0,...,CEE VEE,04/22/2010,1920,34.1688,-100.5119,34.2615,-100.3287,A large and rain wrapped tornado tracked from ...,Scattered thunderstorms developed over the cen...,4
4,222803,MADISON PAR.,QUEBEC,2010-04-24,1009,Tornado,,EF3,0,16,...,TALLA BENA,04/24/2010,1025,32.4032,-91.2993,32.4952,-91.1177,The start of the long-track violent tornado be...,"During the midday hours of April 24th, an inte...",5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
486,884164,ORANGEBURG CO.,SPRINGFIELD,2020-04-13,451,Tornado,,EF3,2,7,...,WOLFTON,04/20/2020,516,33.4539,-81.2651,33.6175,-80.9394,"A strong, long-track tornado began just south ...",A squall line rolled through the region during...,487
488,888412,BERKELEY CO.,MONCKS CORNER,2020-04-13,638,Tornado,,EF3,0,6,...,WITHERBEE,04/13/2020,648,33.1816,-79.9901,33.2045,-79.8947,The National Weather Service Storm Survey Team...,A severe quasi-linear convective system (QLCS)...,489
490,889030,POLK CO.,ONALASKA,2020-04-22,1635,Tornado,,EF3,3,33,...,BARNES,04/22/2020,1715,30.8409,-95.1824,30.8810,-94.7040,Tornado touched down on the eastern shore of L...,Severe thunderstorms developed in the afternoo...,491
491,895549,ACADIA PAR.,RICHARD,2020-05-17,1931,Tornado,,EF3,1,9,...,CHURCH PT,05/17/2020,1941,30.4597,-92.2678,30.4176,-92.2234,An EF-3 tornado was documented in parts of Aca...,A slow moving upper level low moved out of Tex...,492
494,913350,BERTIE CO.,WOODARD,2020-08-04,15,Tornado,,EF3,2,14,...,WINDSOR,08/04/2020,26,35.8870,-76.8900,36.0140,-76.9770,A damage survey conducted by the NWS Wakefield...,The center of Tropical Storm Isaias tracked no...,495

In [10]:
import requests
from datetime import timedelta
import json
'''
Formatting:
'start': '2010-01-01',
'end': '2018-12-31',
'''
c = 0
frames = []
for index, row in w_df.iterrows():
    c+=1
    if c==99:
        break
    end_date = row.BEGIN_DATE
    begin_date = end_date - timedelta(weeks=8)
    lat = row.BEGIN_LAT
    lon = row.BEGIN_LON
    uid = row.EVENT_ID
    r = requests.get('https://api.oikolab.com/weather',
                     params={'param': ['temperature', 'wind_speed', 'surface_solar_radiation', 'relative_humidity', 'surface_pressure', 'total_precipitation'],
                             'start': begin_date,
                             'end': end_date,
                             'freq': 'D',
                             'lat': lat,
                             'lon': lon,
                             'api-key': 'cef6e18355334e8db30069a17cab881e'}
                     )
    w_data = json.loads(r.json()['data'])
    history_df = pd.DataFrame(index=pd.to_datetime(w_data['index'], 
                                       unit='s'),
                  data=w_data['data'],
                  columns=w_data['columns'])
    history_df['latitude'] = lat
    history_df['longitude'] = lon
    history_df['event_id'] = uid
    frames.append(history_df)
result = pd.concat(frames)
result.index.name = 'datetime'
# result.to_csv("historical_data_firsthalf.csv", encoding='utf-8', index=False)

In [11]:
import requests
from datetime import timedelta
import json
from itertools import islice

'''
Formatting:
'start': '2010-01-01',
'end': '2018-12-31',
'''
c = 0
frames = []
for index, row in islice(w_df.iterrows(),99,198):
    end_date = row.BEGIN_DATE
    begin_date = end_date - timedelta(weeks=8)
    lat = row.BEGIN_LAT
    lon = row.BEGIN_LON
    uid = row.EVENT_ID
    r = requests.get('https://api.oikolab.com/weather',
                     params={'param': ['temperature', 'wind_speed', 'surface_solar_radiation', 'relative_humidity', 'surface_pressure', 'total_precipitation'],
                             'start': begin_date,
                             'end': end_date,
                             'freq': 'D',
                             'lat': lat,
                             'lon': lon,
                             'api-key': '039931c37a38434fa325780e772a03d7'}
                     )
    w_data = json.loads(r.json()['data'])
    history_df = pd.DataFrame(index=pd.to_datetime(w_data['index'], 
                                       unit='s'),
                  data=w_data['data'],
                  columns=w_data['columns'])
    history_df['latitude'] = lat
    history_df['longitude'] = lon
    history_df['event_id'] = uid
    frames.append(history_df)
result2 = pd.concat(frames)
result2.index.name = 'datetime'
# result2.to_csv("historical_data_second.csv", encoding='utf-8')

In [12]:
import requests
from datetime import timedelta
import json
from itertools import islice

'''
Formatting:
'start': '2010-01-01',
'end': '2018-12-31',
'''
c = 0
frames = []
for index, row in islice(w_df.iterrows(),199,298):
    end_date = row.BEGIN_DATE
    begin_date = end_date - timedelta(weeks=8)
    lat = row.BEGIN_LAT
    lon = row.BEGIN_LON
    uid = row.EVENT_ID
    r = requests.get('https://api.oikolab.com/weather',
                     params={'param': ['temperature', 'wind_speed', 'surface_solar_radiation', 'relative_humidity', 'surface_pressure', 'total_precipitation'],
                             'start': begin_date,
                             'end': end_date,
                             'freq': 'D',
                             'lat': lat,
                             'lon': lon,
                             'api-key': 'dca39edd13e4410180be9e852e37fbab'}
                     )
    w_data = json.loads(r.json()['data'])
    history_df = pd.DataFrame(index=pd.to_datetime(w_data['index'], 
                                       unit='s'),
                  data=w_data['data'],
                  columns=w_data['columns'])
    history_df['latitude'] = lat
    history_df['longitude'] = lon
    history_df['event_id'] = uid
    frames.append(history_df)
result3 = pd.concat(frames)
result3.index.name = 'datetime'
# result2.to_csv("historical_data_second.csv", encoding='utf-8')

In [13]:
result_fin = pd.concat([result,result2,result3])
result_fin.to_csv("historical_data_2.csv", encoding='utf-8')

In [14]:
result_fin

,temperature (degC),wind_speed (m/s),surface_solar_radiation (W/m^2),relative_humidity (0-1),surface_pressure (Pa),total_precipitation (mm of water equivalent),latitude,longitude,event_id
datetime,,,,,,,,,
2009-11-25,9.91,2.76,160,0.47,101257.58,0.00,32.4869,-94.1689,203448
2009-11-26,9.35,2.11,145,0.60,101181.89,0.00,32.4869,-94.1689,203448
2009-11-27,13.11,3.30,111,0.63,100649.88,0.00,32.4869,-94.1689,203448
2009-11-28,16.85,3.27,71,0.83,100267.40,0.26,32.4869,-94.1689,203448
2009-11-29,12.53,3.04,98,0.79,100664.11,0.92,32.4869,-94.1689,203448
...,...,...,...,...,...,...,...,...,...
2017-02-24,4.32,5.83,187,0.49,99717.88,0.00,37.9392,-89.1503,677492
2017-02-25,2.52,1.58,155,0.46,100450.42,0.00,37.9392,-89.1503,677492
2017-02-26,9.50,2.33,183,0.61,100341.69,0.04,37.9392,-89.1503,677492
2017-02-27,15.56,4.96,54,0.77,99730.39,0.01,37.9392,-89.1503,677492
2017-02-28,20.36,6.07,18,0.82,99075.00,0.00,37.9392,-89.1503,677492