In [73]:
from pprint import pprint as p
import sys

p(sys.path)

['',
 'C:\\Users\\13474\\AppData\\Local\\Programs\\Python\\Python39\\python39.zip',
 'C:\\Users\\13474\\AppData\\Local\\Programs\\Python\\Python39\\DLLs',
 'C:\\Users\\13474\\AppData\\Local\\Programs\\Python\\Python39\\lib',
 'C:\\Users\\13474\\AppData\\Local\\Programs\\Python\\Python39',
 'C:\\Users\\13474\\AppData\\Roaming\\Python\\Python39\\site-packages',
 'C:\\Users\\13474\\AppData\\Roaming\\Python\\Python39\\site-packages\\win32',
 'C:\\Users\\13474\\AppData\\Roaming\\Python\\Python39\\site-packages\\win32\\lib',
 'C:\\Users\\13474\\AppData\\Roaming\\Python\\Python39\\site-packages\\Pythonwin',
 'C:\\Users\\13474\\AppData\\Local\\Programs\\Python\\Python39\\lib\\site-packages']

In [74]:
p(sys.executable)

'C:\\Users\\13474\\Anaconda3\\python.exe'

In [75]:
sys.path= ['', 'C:\\Users\\13474\\AppData\\Local\\Programs\\Python\\Python39\\python39.zip', 'C:\\Users\\13474\\AppData\\Local\\Programs\\Python\\Python39\\DLLs', 'C:\\Users\\13474\\AppData\\Local\\Programs\\Python\\Python39\\lib', 'C:\\Users\\13474\\AppData\\Local\\Programs\\Python\\Python39', 'C:\\Users\\13474\\AppData\\Roaming\\Python\\Python39\\site-packages', 'C:\\Users\\13474\\AppData\\Roaming\\Python\\Python39\\site-packages\\win32', 'C:\\Users\\13474\\AppData\\Roaming\\Python\\Python39\\site-packages\\win32\\lib', 'C:\\Users\\13474\\AppData\\Roaming\\Python\\Python39\\site-packages\\Pythonwin', 'C:\\Users\\13474\\AppData\\Local\\Programs\\Python\\Python39\\lib\\site-packages']

In [76]:
import pandas as pd
import dask.dataframe as dd
from fuzzywuzzy import fuzz

In [77]:
final = pd.read_csv('final_dataset.csv')
final

,Unnamed: 0,Unnamed: 0_x,Name,Rank,Race,Year,CaseID,TypeOfMisconduct,Allegation,Finding,...,State,Tender Type Description,Tender Type ID,UUID,Zip,Unnamed: 0_y,DATE ADDED,AGENCY,STATUS,INFORMATION REGARDING LEAD ENTRY
0,0,11.0,joseph abasciano,Police Officer,White,2011.0,IAD2011-0182,Citizen complaint,Neg.Duty/Unreasonable Judge,Exonerated,...,MA,NaN,0.0,9fb75fe5-6415-5cc9-a9b5-517e5721b605,02132,NaN,NaN,NaN,NaN,NaN
1,1,13.0,joseph abasciano,Police Officer,White,2011.0,IAD2011-0182,Citizen complaint,Neg.Duty/Unreasonable Judge,Exonerated,...,MA,NaN,0.0,3f6e4b3f-1de1-5e76-90bd-af7fcc83e611,02132,NaN,NaN,NaN,NaN,NaN
2,2,26.0,joseph abasciano,Police Officer,White,2011.0,IAD2011-0182,Citizen complaint,Force,Not Sustained,...,MA,NaN,0.0,9fb75fe5-6415-5cc9-a9b5-517e5721b605,02132,NaN,NaN,NaN,NaN,NaN
3,3,28.0,joseph abasciano,Police Officer,White,2011.0,IAD2011-0182,Citizen complaint,Force,Not Sustained,...,MA,NaN,0.0,3f6e4b3f-1de1-5e76-90bd-af7fcc83e611,02132,NaN,NaN,NaN,NaN,NaN
4,4,41.0,joseph abasciano,Police Officer,White,2013.0,IAD2013-0019,Citizen complaint,Neg.Duty/Unreasonable Judge,Not Sustained,...,MA,NaN,0.0,9fb75fe5-6415-5cc9-a9b5-517e5721b605,02132,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8903,8903,NaN,robert twitchell,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,129.0,9/25/2020,BPD,Indicted,Conspiracy/embezzlement: Time & attendance. US...
8904,8904,NaN,royce veal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,130.0,9/25/2020,BPD,Sustained,BPD internal investigation (conformance to law...
8905,8905,NaN,emmet t. walsh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,131.0,9/25/2020,BPD,Public,BPD internal investigation (conformance to law...
8906,8906,NaN,robert g. warren,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,132.0,9/25/2020,BPD,Sustained,BPD internal investigation (conformance to law...
8907,8907,NaN,william woodley,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,134.0,9/25/2020,BPD,CWOF,Larceny: Time & attendance/overtime. SCDAO inv...

In [78]:
df = pd.read_csv('EmployeeEarnings.csv')
df

,NAME,DEPARTMENT_NAME,TITLE,REGULAR,RETRO,OTHER,OVERTIME,INJURED,DETAIL,QUINN / EDUCATION INCENTIVE,TOTAL EARNINGS,POSTAL
0,"Abadi,Kidani A",Assessing Department,Property Utilization Officer,"$78,836.75",NaN,$175.00,NaN,NaN,NaN,NaN,"$79,011.75",02118
1,"Abajue Umeh,Kenechukwu Stephanie",BPS Boston Arts Academy,Teacher,"$50,895.36",NaN,NaN,NaN,NaN,NaN,NaN,"$50,895.36",02150
2,"Abasciano,Joseph",Boston Police Department,Police Officer,"$96,890.67",NaN,$850.00,"$16,595.52",NaN,NaN,"$24,222.83","$138,559.02",02132
3,"Abatzis,Kelley",BPS Health and Wellness,Employment Agreement,"$4,020.00",NaN,NaN,NaN,NaN,NaN,NaN,"$4,020.00",02171
4,"Abban,Christopher John",Boston Fire Department,Fire Fighter,"$127,532.31",NaN,"$2,665.34","$21,638.82",NaN,"$6,380.00",NaN,"$158,216.47",02132
...,...,...,...,...,...,...,...,...,...,...,...,...
21853,"Zuckert,Samuel Ellliot",BPS Welcome Services,Sen Analyst(C),"$84,581.16",NaN,NaN,NaN,NaN,NaN,NaN,"$84,581.16",02119
21854,"Zukowski III,Charles",Boston Police Department,Police Officer,"$74,932.22",NaN,$800.00,"$10,851.70",NaN,"$7,406.00",NaN,"$93,989.92",02124
21855,"Zuniga,Kevin Y",BPS Counseling Service,School Psychologist(1),"$81,409.36",NaN,"$8,850.00",NaN,NaN,NaN,NaN,"$90,259.36",02151
21856,"Zwarich,Maralene Zoann",Eliot K-8,Teacher,"$89,872.92",NaN,"$1,500.00",NaN,NaN,NaN,NaN,"$91,372.92",02132
21857,"Zwerdling,Laura",BPS Special Education,Occupational Therapist,"$54,509.40",NaN,$64.00,NaN,NaN,NaN,NaN,"$54,573.40",02140

In [79]:
pol_only = df[df['DEPARTMENT_NAME'].str.contains('police', case=False, na=False)]
pol_only

,NAME,DEPARTMENT_NAME,TITLE,REGULAR,RETRO,OTHER,OVERTIME,INJURED,DETAIL,QUINN / EDUCATION INCENTIVE,TOTAL EARNINGS,POSTAL
2,"Abasciano,Joseph",Boston Police Department,Police Officer,"$96,890.67",NaN,$850.00,"$16,595.52",NaN,NaN,"$24,222.83","$138,559.02",02132
19,"Abdul-Aziz,Ramadani",Boston Police Department,Police Officer,NaN,NaN,"$9,924.38",NaN,NaN,NaN,NaN,"$9,924.38",02119
22,"ABEL,KENY",Boston Police Department,Cadet (Police),"$15,599.70",NaN,NaN,NaN,NaN,NaN,NaN,"$15,599.70",02119
32,"Abrahamson,Patrick Olaf",Boston Police Department,Police Officer,"$79,021.12",NaN,$800.00,"$12,940.29","$16,568.94",NaN,NaN,"$109,330.35",02135
38,"Abreu,Carlos De jesus",Boston Police Department,Jr Building Custodian,"$38,733.42",NaN,$250.00,"$15,676.01",NaN,NaN,NaN,"$54,659.43",02124
...,...,...,...,...,...,...,...,...,...,...,...,...
21837,"Zingg,Robert M",Boston Police Department,Police Detective,"$117,457.28",NaN,"$5,026.27","$97,867.55",NaN,NaN,NaN,"$220,351.10",02090
21843,"Zographos,Peter A.",Boston Police Department,Police Offc Mobile Offc 2$6,"$94,479.92",NaN,$800.00,"$15,696.55",NaN,$184.00,"$18,896.11","$130,056.58",02081
21847,"Zou,Zi",Boston Police Department,Police Officer,"$66,150.78",NaN,$800.00,"$29,784.57","$26,873.75","$48,944.00",NaN,"$172,553.10",02124
21849,"Zubrin,William W.",Boston Police Department,Police Detective,"$101,989.72",NaN,"$4,426.30","$94,907.50",NaN,NaN,"$20,397.97","$221,721.49",02122
21854,"Zukowski III,Charles",Boston Police Department,Police Officer,"$74,932.22",NaN,$800.00,"$10,851.70",NaN,"$7,406.00",NaN,"$93,989.92",02124

In [80]:
def fixname(name):
    name = name.lower()
    name = name.split(",")
    for i in range(len(name)):
        name[i] = name[i].strip()
    if len(name) == 2:
        return name[1] + ' ' + name[0]
    if len(name) == 3:
        return name[1] + ' ' + name[2] + ' ' + name[0]
    else:
        return name
    
fixname(pol_only['NAME'][57])

'dora luz acevedo'

In [81]:
names = pol_only['NAME'].apply(fixname)
pol_only['NAME'] = names
pol_only

C:\Users\13474\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,NAME,DEPARTMENT_NAME,TITLE,REGULAR,RETRO,OTHER,OVERTIME,INJURED,DETAIL,QUINN / EDUCATION INCENTIVE,TOTAL EARNINGS,POSTAL
2,joseph abasciano,Boston Police Department,Police Officer,"$96,890.67",NaN,$850.00,"$16,595.52",NaN,NaN,"$24,222.83","$138,559.02",02132
19,ramadani abdul-aziz,Boston Police Department,Police Officer,NaN,NaN,"$9,924.38",NaN,NaN,NaN,NaN,"$9,924.38",02119
22,keny abel,Boston Police Department,Cadet (Police),"$15,599.70",NaN,NaN,NaN,NaN,NaN,NaN,"$15,599.70",02119
32,patrick olaf abrahamson,Boston Police Department,Police Officer,"$79,021.12",NaN,$800.00,"$12,940.29","$16,568.94",NaN,NaN,"$109,330.35",02135
38,carlos de jesus abreu,Boston Police Department,Jr Building Custodian,"$38,733.42",NaN,$250.00,"$15,676.01",NaN,NaN,NaN,"$54,659.43",02124
...,...,...,...,...,...,...,...,...,...,...,...,...
21837,robert m zingg,Boston Police Department,Police Detective,"$117,457.28",NaN,"$5,026.27","$97,867.55",NaN,NaN,NaN,"$220,351.10",02090
21843,peter a. zographos,Boston Police Department,Police Offc Mobile Offc 2$6,"$94,479.92",NaN,$800.00,"$15,696.55",NaN,$184.00,"$18,896.11","$130,056.58",02081
21847,zi zou,Boston Police Department,Police Officer,"$66,150.78",NaN,$800.00,"$29,784.57","$26,873.75","$48,944.00",NaN,"$172,553.10",02124
21849,william w. zubrin,Boston Police Department,Police Detective,"$101,989.72",NaN,"$4,426.30","$94,907.50",NaN,NaN,"$20,397.97","$221,721.49",02122
21854,charles zukowski iii,Boston Police Department,Police Officer,"$74,932.22",NaN,$800.00,"$10,851.70",NaN,"$7,406.00",NaN,"$93,989.92",02124

In [82]:
final = pd.read_csv("final_dataset.csv")

In [83]:
# String similarity between the two fields
def FuzzySimilarity(row):
    address_1 = row['Name']
    address_2 = row['NAME']
    fuzzy_ratio = fuzz.token_set_ratio(address_1,address_2)
    return fuzzy_ratio

In [84]:
# Create a new column called lastName character that has the first letter of the last name as its separate column

def getLastCh(s):
    "s is a string of the Name/Contributor Columns of the datasets"
    s_list = s.split()
    suffixes = ['jr','jr.','sr','sr.','i','ii','iii']

    # remove suffixes in s_list
    for i in reversed(range(len(s_list))):
        if s_list[i] in suffixes:
            s_list.pop(i)

    lastName = s_list[-1]
    firstCh = lastName[0]
    return firstCh

pol_only['lastNameCh'] = [getLastCh(s) for s in pol_only['NAME']]
final['lastNameCh'] = [getLastCh(s) for s in final['Name']]

C:\Users\13474\Anaconda3\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [85]:
# This program will merge the two dataframes using their lastName characters then apply a string similarity score for each row then we'll filter the string similarity value to create the final dataframe with name matches.

unique_names = list(final['lastNameCh'].unique())

for name in unique_names:
    df2_sub_zip = pol_only[pol_only['lastNameCh'] == name]
    df1_sub_zip = final[final['lastNameCh'] == name]

    df_merge = dd.merge(df1_sub_zip, df2_sub_zip, how='left', left_on='lastNameCh', right_on='lastNameCh')
    
    df_merge['Fuzzy Similarity'] = df_merge.apply(lambda row: FuzzySimilarity(row), axis=1)
    
    # You can adjust this number for a more selective fuzzy similarity merge
    Fuzzy_Filter = df_merge[df_merge['Fuzzy Similarity'] > 85]
    
    title = "./fuzzyDatasets/merge_df_name_" + name + ".csv"
    Fuzzy_Filter.to_csv(title, encoding = "utf-8")

In [86]:
# This will create the list

list_of_csv_titles = []

for name in unique_names:
    title = "./fuzzyDatasets/merge_df_name_" + name + ".csv"
    list_of_csv_titles.append(title)
    
print(list_of_csv_titles)

['./fuzzyDatasets/merge_df_name_a.csv', './fuzzyDatasets/merge_df_name_b.csv', './fuzzyDatasets/merge_df_name_c.csv', './fuzzyDatasets/merge_df_name_d.csv', './fuzzyDatasets/merge_df_name_s.csv', './fuzzyDatasets/merge_df_name_e.csv', './fuzzyDatasets/merge_df_name_f.csv', './fuzzyDatasets/merge_df_name_g.csv', './fuzzyDatasets/merge_df_name_h.csv', './fuzzyDatasets/merge_df_name_j.csv', './fuzzyDatasets/merge_df_name_l.csv', './fuzzyDatasets/merge_df_name_k.csv', './fuzzyDatasets/merge_df_name_m.csv', './fuzzyDatasets/merge_df_name_n.csv', './fuzzyDatasets/merge_df_name_o.csv', './fuzzyDatasets/merge_df_name_p.csv', './fuzzyDatasets/merge_df_name_q.csv', './fuzzyDatasets/merge_df_name_r.csv', './fuzzyDatasets/merge_df_name_t.csv', './fuzzyDatasets/merge_df_name_v.csv', './fuzzyDatasets/merge_df_name_w.csv', './fuzzyDatasets/merge_df_name_x.csv', './fuzzyDatasets/merge_df_name_i.csv', './fuzzyDatasets/merge_df_name_z.csv']

In [87]:
# Merging all the batches

df_merge_final = pd.DataFrame()
for files in list_of_csv_titles:
    data = pd.read_csv(files)
    df_merge_final = df_merge_final.append(data)
df_merge_final

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0_x,Name,Rank,Race,Year,CaseID,TypeOfMisconduct,Allegation,...,REGULAR,RETRO,OTHER,OVERTIME,INJURED,DETAIL,QUINN / EDUCATION INCENTIVE,TOTAL EARNINGS,POSTAL,Fuzzy Similarity
0,0,0,11.0,joseph abasciano,Police Officer,White,2011.0,IAD2011-0182,Citizen complaint,Neg.Duty/Unreasonable Judge,...,"$96,890.67",NaN,$850.00,"$16,595.52",NaN,NaN,"$24,222.83","$138,559.02",2132.0,100
1,92,1,13.0,joseph abasciano,Police Officer,White,2011.0,IAD2011-0182,Citizen complaint,Neg.Duty/Unreasonable Judge,...,"$96,890.67",NaN,$850.00,"$16,595.52",NaN,NaN,"$24,222.83","$138,559.02",2132.0,100
2,184,2,26.0,joseph abasciano,Police Officer,White,2011.0,IAD2011-0182,Citizen complaint,Force,...,"$96,890.67",NaN,$850.00,"$16,595.52",NaN,NaN,"$24,222.83","$138,559.02",2132.0,100
3,276,3,28.0,joseph abasciano,Police Officer,White,2011.0,IAD2011-0182,Citizen complaint,Force,...,"$96,890.67",NaN,$850.00,"$16,595.52",NaN,NaN,"$24,222.83","$138,559.02",2132.0,100
4,368,4,41.0,joseph abasciano,Police Officer,White,2013.0,IAD2013-0019,Citizen complaint,Neg.Duty/Unreasonable Judge,...,"$96,890.67",NaN,$850.00,"$16,595.52",NaN,NaN,"$24,222.83","$138,559.02",2132.0,100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1,3,6016,9592.0,vladimir xavier,Police Officer,Black,2012.0,IAD2012-0009,Citizen complaint,FIO Reports,...,"$93,424.55",NaN,$800.00,"$19,103.00","$3,633.94",NaN,NaN,"$116,961.49",2121.0,100
2,5,6017,9593.0,vladimir xavier,Police Officer,Black,2014.0,IAD2014-0255,Citizen complaint,Respectful Treatment,...,"$93,424.55",NaN,$800.00,"$19,103.00","$3,633.94",NaN,NaN,"$116,961.49",2121.0,100
0,0,7644,5747.0,anthony d ierardi,Sergeant,White,2017.0,IAD2017-0154,Internal investigation,Details,...,NaN,NaN,"$12,069.32",NaN,"$118,924.58",NaN,"$23,784.81","$154,778.71",2030.0,100
0,5,8856,9594.0,robert m zingg,Detective,White,2011.0,IAD2011-0553,Internal investigation,Conduct Unbecoming,...,"$117,457.28",NaN,"$5,026.27","$97,867.55",NaN,NaN,NaN,"$220,351.10",2090.0,100
1,15,8857,9595.0,robert m zingg,Detective,White,2012.0,IAD2012-0039,Citizen complaint,Conduct Unbecoming,...,"$117,457.28",NaN,"$5,026.27","$97,867.55",NaN,NaN,NaN,"$220,351.10",2090.0,100

In [88]:
df_merge_final

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0_x,Name,Rank,Race,Year,CaseID,TypeOfMisconduct,Allegation,...,REGULAR,RETRO,OTHER,OVERTIME,INJURED,DETAIL,QUINN / EDUCATION INCENTIVE,TOTAL EARNINGS,POSTAL,Fuzzy Similarity
0,0,0,11.0,joseph abasciano,Police Officer,White,2011.0,IAD2011-0182,Citizen complaint,Neg.Duty/Unreasonable Judge,...,"$96,890.67",NaN,$850.00,"$16,595.52",NaN,NaN,"$24,222.83","$138,559.02",2132.0,100
1,92,1,13.0,joseph abasciano,Police Officer,White,2011.0,IAD2011-0182,Citizen complaint,Neg.Duty/Unreasonable Judge,...,"$96,890.67",NaN,$850.00,"$16,595.52",NaN,NaN,"$24,222.83","$138,559.02",2132.0,100
2,184,2,26.0,joseph abasciano,Police Officer,White,2011.0,IAD2011-0182,Citizen complaint,Force,...,"$96,890.67",NaN,$850.00,"$16,595.52",NaN,NaN,"$24,222.83","$138,559.02",2132.0,100
3,276,3,28.0,joseph abasciano,Police Officer,White,2011.0,IAD2011-0182,Citizen complaint,Force,...,"$96,890.67",NaN,$850.00,"$16,595.52",NaN,NaN,"$24,222.83","$138,559.02",2132.0,100
4,368,4,41.0,joseph abasciano,Police Officer,White,2013.0,IAD2013-0019,Citizen complaint,Neg.Duty/Unreasonable Judge,...,"$96,890.67",NaN,$850.00,"$16,595.52",NaN,NaN,"$24,222.83","$138,559.02",2132.0,100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1,3,6016,9592.0,vladimir xavier,Police Officer,Black,2012.0,IAD2012-0009,Citizen complaint,FIO Reports,...,"$93,424.55",NaN,$800.00,"$19,103.00","$3,633.94",NaN,NaN,"$116,961.49",2121.0,100
2,5,6017,9593.0,vladimir xavier,Police Officer,Black,2014.0,IAD2014-0255,Citizen complaint,Respectful Treatment,...,"$93,424.55",NaN,$800.00,"$19,103.00","$3,633.94",NaN,NaN,"$116,961.49",2121.0,100
0,0,7644,5747.0,anthony d ierardi,Sergeant,White,2017.0,IAD2017-0154,Internal investigation,Details,...,NaN,NaN,"$12,069.32",NaN,"$118,924.58",NaN,"$23,784.81","$154,778.71",2030.0,100
0,5,8856,9594.0,robert m zingg,Detective,White,2011.0,IAD2011-0553,Internal investigation,Conduct Unbecoming,...,"$117,457.28",NaN,"$5,026.27","$97,867.55",NaN,NaN,NaN,"$220,351.10",2090.0,100
1,15,8857,9595.0,robert m zingg,Detective,White,2012.0,IAD2012-0039,Citizen complaint,Conduct Unbecoming,...,"$117,457.28",NaN,"$5,026.27","$97,867.55",NaN,NaN,NaN,"$220,351.10",2090.0,100

In [89]:
df_merge.to_csv("with_earnings.csv")