In [36]:
import pandas as pd

In [37]:
df = pd.read_csv('EmployeeEarnings.csv')
df

,NAME,DEPARTMENT_NAME,TITLE,REGULAR,RETRO,OTHER,OVERTIME,INJURED,DETAIL,QUINN / EDUCATION INCENTIVE,TOTAL EARNINGS,POSTAL
0,"Abadi,Kidani A",Assessing Department,Property Utilization Officer,"$78,836.75",NaN,$175.00,NaN,NaN,NaN,NaN,"$79,011.75",02118
1,"Abajue Umeh,Kenechukwu Stephanie",BPS Boston Arts Academy,Teacher,"$50,895.36",NaN,NaN,NaN,NaN,NaN,NaN,"$50,895.36",02150
2,"Abasciano,Joseph",Boston Police Department,Police Officer,"$96,890.67",NaN,$850.00,"$16,595.52",NaN,NaN,"$24,222.83","$138,559.02",02132
3,"Abatzis,Kelley",BPS Health and Wellness,Employment Agreement,"$4,020.00",NaN,NaN,NaN,NaN,NaN,NaN,"$4,020.00",02171
4,"Abban,Christopher John",Boston Fire Department,Fire Fighter,"$127,532.31",NaN,"$2,665.34","$21,638.82",NaN,"$6,380.00",NaN,"$158,216.47",02132
...,...,...,...,...,...,...,...,...,...,...,...,...
21853,"Zuckert,Samuel Ellliot",BPS Welcome Services,Sen Analyst(C),"$84,581.16",NaN,NaN,NaN,NaN,NaN,NaN,"$84,581.16",02119
21854,"Zukowski III,Charles",Boston Police Department,Police Officer,"$74,932.22",NaN,$800.00,"$10,851.70",NaN,"$7,406.00",NaN,"$93,989.92",02124
21855,"Zuniga,Kevin Y",BPS Counseling Service,School Psychologist(1),"$81,409.36",NaN,"$8,850.00",NaN,NaN,NaN,NaN,"$90,259.36",02151
21856,"Zwarich,Maralene Zoann",Eliot K-8,Teacher,"$89,872.92",NaN,"$1,500.00",NaN,NaN,NaN,NaN,"$91,372.92",02132
21857,"Zwerdling,Laura",BPS Special Education,Occupational Therapist,"$54,509.40",NaN,$64.00,NaN,NaN,NaN,NaN,"$54,573.40",02140

In [38]:
pol_only = df[df['DEPARTMENT_NAME'].str.contains('police', case=False, na=False)]
pol_only

,NAME,DEPARTMENT_NAME,TITLE,REGULAR,RETRO,OTHER,OVERTIME,INJURED,DETAIL,QUINN / EDUCATION INCENTIVE,TOTAL EARNINGS,POSTAL
2,"Abasciano,Joseph",Boston Police Department,Police Officer,"$96,890.67",NaN,$850.00,"$16,595.52",NaN,NaN,"$24,222.83","$138,559.02",02132
19,"Abdul-Aziz,Ramadani",Boston Police Department,Police Officer,NaN,NaN,"$9,924.38",NaN,NaN,NaN,NaN,"$9,924.38",02119
22,"ABEL,KENY",Boston Police Department,Cadet (Police),"$15,599.70",NaN,NaN,NaN,NaN,NaN,NaN,"$15,599.70",02119
32,"Abrahamson,Patrick Olaf",Boston Police Department,Police Officer,"$79,021.12",NaN,$800.00,"$12,940.29","$16,568.94",NaN,NaN,"$109,330.35",02135
38,"Abreu,Carlos De jesus",Boston Police Department,Jr Building Custodian,"$38,733.42",NaN,$250.00,"$15,676.01",NaN,NaN,NaN,"$54,659.43",02124
...,...,...,...,...,...,...,...,...,...,...,...,...
21837,"Zingg,Robert M",Boston Police Department,Police Detective,"$117,457.28",NaN,"$5,026.27","$97,867.55",NaN,NaN,NaN,"$220,351.10",02090
21843,"Zographos,Peter A.",Boston Police Department,Police Offc Mobile Offc 2$6,"$94,479.92",NaN,$800.00,"$15,696.55",NaN,$184.00,"$18,896.11","$130,056.58",02081
21847,"Zou,Zi",Boston Police Department,Police Officer,"$66,150.78",NaN,$800.00,"$29,784.57","$26,873.75","$48,944.00",NaN,"$172,553.10",02124
21849,"Zubrin,William W.",Boston Police Department,Police Detective,"$101,989.72",NaN,"$4,426.30","$94,907.50",NaN,NaN,"$20,397.97","$221,721.49",02122
21854,"Zukowski III,Charles",Boston Police Department,Police Officer,"$74,932.22",NaN,$800.00,"$10,851.70",NaN,"$7,406.00",NaN,"$93,989.92",02124

In [39]:
def fixname(name):
    name = name.lower()
    name = name.split(",")
    for i in range(len(name)):
        name[i] = name[i].strip()
    if len(name) == 2:
        return name[1] + ' ' + name[0]
    if len(name) == 3:
        return name[1] + ' ' + name[2] + ' ' + name[0]
    else:
        return name
    
fixname(pol_only['NAME'][57])

'dora luz acevedo'

In [40]:
names = pol_only['NAME'].apply(fixname)
pol_only['NAME'] = names
pol_only

C:\Users\13474\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,NAME,DEPARTMENT_NAME,TITLE,REGULAR,RETRO,OTHER,OVERTIME,INJURED,DETAIL,QUINN / EDUCATION INCENTIVE,TOTAL EARNINGS,POSTAL
2,joseph abasciano,Boston Police Department,Police Officer,"$96,890.67",NaN,$850.00,"$16,595.52",NaN,NaN,"$24,222.83","$138,559.02",02132
19,ramadani abdul-aziz,Boston Police Department,Police Officer,NaN,NaN,"$9,924.38",NaN,NaN,NaN,NaN,"$9,924.38",02119
22,keny abel,Boston Police Department,Cadet (Police),"$15,599.70",NaN,NaN,NaN,NaN,NaN,NaN,"$15,599.70",02119
32,patrick olaf abrahamson,Boston Police Department,Police Officer,"$79,021.12",NaN,$800.00,"$12,940.29","$16,568.94",NaN,NaN,"$109,330.35",02135
38,carlos de jesus abreu,Boston Police Department,Jr Building Custodian,"$38,733.42",NaN,$250.00,"$15,676.01",NaN,NaN,NaN,"$54,659.43",02124
...,...,...,...,...,...,...,...,...,...,...,...,...
21837,robert m zingg,Boston Police Department,Police Detective,"$117,457.28",NaN,"$5,026.27","$97,867.55",NaN,NaN,NaN,"$220,351.10",02090
21843,peter a. zographos,Boston Police Department,Police Offc Mobile Offc 2$6,"$94,479.92",NaN,$800.00,"$15,696.55",NaN,$184.00,"$18,896.11","$130,056.58",02081
21847,zi zou,Boston Police Department,Police Officer,"$66,150.78",NaN,$800.00,"$29,784.57","$26,873.75","$48,944.00",NaN,"$172,553.10",02124
21849,william w. zubrin,Boston Police Department,Police Detective,"$101,989.72",NaN,"$4,426.30","$94,907.50",NaN,NaN,"$20,397.97","$221,721.49",02122
21854,charles zukowski iii,Boston Police Department,Police Officer,"$74,932.22",NaN,$800.00,"$10,851.70",NaN,"$7,406.00",NaN,"$93,989.92",02124

In [41]:
final = pd.read_csv("final_dataset.csv")

In [42]:
pol_only['Name'] = pol_only['NAME']
pol_only = pol_only.drop(['NAME'],axis=1)
pol_only['Name'].isin(final['Name']).value_counts()

C:\Users\13474\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

False    2216
True      926
Name: Name, dtype: int64

In [43]:
pol_only = pol_only[pol_only['Name'].isin(final['Name'])]
pol_only

,DEPARTMENT_NAME,TITLE,REGULAR,RETRO,OTHER,OVERTIME,INJURED,DETAIL,QUINN / EDUCATION INCENTIVE,TOTAL EARNINGS,POSTAL,Name
2,Boston Police Department,Police Officer,"$96,890.67",NaN,$850.00,"$16,595.52",NaN,NaN,"$24,222.83","$138,559.02",02132,joseph abasciano
19,Boston Police Department,Police Officer,NaN,NaN,"$9,924.38",NaN,NaN,NaN,NaN,"$9,924.38",02119,ramadani abdul-aziz
32,Boston Police Department,Police Officer,"$79,021.12",NaN,$800.00,"$12,940.29","$16,568.94",NaN,NaN,"$109,330.35",02135,patrick olaf abrahamson
39,Boston Police Department,Police Sergeant,"$119,678.12",NaN,$800.00,"$43,322.09","$2,402.50",NaN,NaN,"$166,202.71",02136,cesar abreu
43,Boston Police Department,Police Officer,"$97,337.78",NaN,$800.00,"$20,042.67",NaN,"$49,082.00",NaN,"$167,262.45",02136,moises j abreu
...,...,...,...,...,...,...,...,...,...,...,...,...
21586,Boston Police Department,Police Sergeant,"$129,038.04",NaN,$800.00,"$27,348.00","$8,715.14","$9,752.00",NaN,"$175,653.18",02184,john p wright
21604,Boston Police Department,Police Offc/Bomb Squad,"$103,053.33",NaN,$800.00,"$14,800.31",NaN,"$8,280.00","$20,610.52","$147,544.16",01460,paul d wright
21633,Boston Police Department,Police Officer,"$96,472.56",NaN,$850.00,"$11,905.68",NaN,"$21,758.00",NaN,"$130,986.24",02125,ryan wynne
21797,Boston Police Department,Police Officer,"$95,174.72",NaN,$800.00,"$54,250.10","$2,163.06","$68,080.00",NaN,"$220,467.88",02124,kevin zarnoch
21837,Boston Police Department,Police Detective,"$117,457.28",NaN,"$5,026.27","$97,867.55",NaN,NaN,NaN,"$220,351.10",02090,robert m zingg

In [44]:
# # String similarity between the two fields
# def FuzzySimilarity(row):
#     address_1 = row['Name']
#     address_2 = row['Contributor']
#     fuzzy_ratio = fuzz.ratio(address_1,address_2)
#     return fuzzy_ratio

# # Create a new column called lastName character that has the first letter of the last name as its separate column

# def getLastCh(s):
#     "s is a string of the Name/Contributor Columns of the datasets"
#     s_list = s.split()
#     suffixes = ['jr','jr.','sr','sr.','i','ii','iii']

#     # remove suffixes in s_list
#     for i in reversed(range(len(s_list))):
#         if s_list[i] in suffixes:
#             s_list.pop(i)

#     lastName = s_list[-1]
#     firstCh = lastName[0]
#     return firstCh

# # pol_only['lastNameCh'] = [getLastCh(s) for s in pol_only['Name']]
# # final['lastNameCh'] = [getLastCh(s) for s in final['Name']]

In [45]:
final

,Unnamed: 0,Unnamed: 0.1,Name,Rank,Race,Year,CaseID,TypeOfMisconduct,Outcome,Address,...,Tender Type Description,Tender Type ID,UUID,Zip,INDEX,DATE ADDED,AGENCY,STATUS,INFORMATION REGARDING LEAD ENTRY,lastNameCh
0,0,85.0,joseph abasciano,Police Officer,White,2011.0,IAD2011-0182,Citizen complaint,NaN,31 Magnolia #1,...,Check,1.0,80159df0-d9b4-5af9-bba6-136001e125b9,02125,NaN,NaN,NaN,NaN,NaN,a
1,1,169.0,joseph abasciano,Police Officer,White,2011.0,IAD2011-0182,Citizen complaint,NaN,64 Redfield St,...,Check,1.0,b3e8aa45-64d0-561e-845a-3a935bf8bf78,02122-3623,NaN,NaN,NaN,NaN,NaN,a
2,2,213.0,joseph abasciano,Police Officer,White,2011.0,IAD2011-0182,Citizen complaint,NaN,171 Milton St,...,Credit Card,3.0,7499a96d-81ee-5d8f-b368-96af613d5a53,02124-5317,NaN,NaN,NaN,NaN,NaN,a
3,3,223.0,joseph abasciano,Police Officer,White,2011.0,IAD2011-0182,Citizen complaint,NaN,89 Tyndale St,...,Credit Card,3.0,38d1f78f-9dca-57d0-b5c1-7e65849b234d,02131-2325,NaN,NaN,NaN,NaN,NaN,a
4,4,248.0,joseph abasciano,Police Officer,White,2011.0,IAD2011-0182,Citizen complaint,NaN,8 Weld Ave,...,Check,1.0,49ccc74d-49be-55a1-a8b4-91636996ddd0,02119-3118,NaN,NaN,NaN,NaN,NaN,a
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268415,268415,NaN,robert twitchell,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,129.0,9/25/2020,BPD,Indicted,Conspiracy/embezzlement: Time & attendance. US...,t
268416,268416,NaN,royce veal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,130.0,9/25/2020,BPD,Sustained,BPD internal investigation (conformance to law...,v
268417,268417,NaN,emmet t. walsh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,131.0,9/25/2020,BPD,Public,BPD internal investigation (conformance to law...,w
268418,268418,NaN,robert g. warren,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,132.0,9/25/2020,BPD,Sustained,BPD internal investigation (conformance to law...,w
268419,268419,NaN,william woodley,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,134.0,9/25/2020,BPD,CWOF,Larceny: Time & attendance/overtime. SCDAO inv...,w

In [46]:
df_merge = final.merge(pol_only,how='outer',on = 'Name')
df_merge

,Unnamed: 0,Unnamed: 0.1,Name,Rank,Race,Year,CaseID,TypeOfMisconduct,Outcome,Address,...,REGULAR,RETRO,OTHER,OVERTIME,INJURED,DETAIL,QUINN / EDUCATION INCENTIVE,TOTAL EARNINGS,POSTAL,lastNameCh_y
0,0,85.0,joseph abasciano,Police Officer,White,2011.0,IAD2011-0182,Citizen complaint,NaN,31 Magnolia #1,...,"$96,890.67",NaN,$850.00,"$16,595.52",NaN,NaN,"$24,222.83","$138,559.02",02132,a
1,1,169.0,joseph abasciano,Police Officer,White,2011.0,IAD2011-0182,Citizen complaint,NaN,64 Redfield St,...,"$96,890.67",NaN,$850.00,"$16,595.52",NaN,NaN,"$24,222.83","$138,559.02",02132,a
2,2,213.0,joseph abasciano,Police Officer,White,2011.0,IAD2011-0182,Citizen complaint,NaN,171 Milton St,...,"$96,890.67",NaN,$850.00,"$16,595.52",NaN,NaN,"$24,222.83","$138,559.02",02132,a
3,3,223.0,joseph abasciano,Police Officer,White,2011.0,IAD2011-0182,Citizen complaint,NaN,89 Tyndale St,...,"$96,890.67",NaN,$850.00,"$16,595.52",NaN,NaN,"$24,222.83","$138,559.02",02132,a
4,4,248.0,joseph abasciano,Police Officer,White,2011.0,IAD2011-0182,Citizen complaint,NaN,8 Weld Ave,...,"$96,890.67",NaN,$850.00,"$16,595.52",NaN,NaN,"$24,222.83","$138,559.02",02132,a
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268770,268415,NaN,robert twitchell,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
268771,268416,NaN,royce veal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
268772,268417,NaN,emmet t. walsh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
268773,268418,NaN,robert g. warren,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
268774,268419,NaN,william woodley,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN