In [1]:
import numpy as np
import pandas as pd
import dask.dataframe as dd
from fuzzywuzzy import fuzz

/Users/rachelpeng/opt/anaconda3/lib/python3.8/site-packages/fuzzywuzzy/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

## Import the merged dataset

In [2]:
df = pd.read_csv('mergedEARNINGS.csv')

print(df)

      Unnamed: 0  Unnamed: 0_x              Name            Rank   Race  \
0              0          11.0  joseph abasciano  Police Officer  White
1              1          13.0  joseph abasciano  Police Officer  White
2              2          26.0  joseph abasciano  Police Officer  White
3              3          28.0  joseph abasciano  Police Officer  White
4              4          41.0  joseph abasciano  Police Officer  White
...          ...           ...               ...             ...    ...
8903        8903           NaN  robert twitchell             NaN    NaN
8904        8904           NaN        royce veal             NaN    NaN
8905        8905           NaN    emmet t. walsh             NaN    NaN
8906        8906           NaN  robert g. warren             NaN    NaN
8907        8907           NaN   william woodley             NaN    NaN

        Year        CaseID   TypeOfMisconduct                   Allegation  \
0     2011.0  IAD2011-0182  Citizen complaint  Neg.Duty/Unreasonable Judge
1     2011.0  IAD2011-0182  Citizen complaint  Neg.Duty/Unreasonable Judge
2     2011.0  IAD2011-0182  Citizen complaint                        Force
3     2011.0  IAD2011-0182  Citizen complaint                        Force
4     2013.0  IAD2013-0019  Citizen complaint  Neg.Duty/Unreasonable Judge
...      ...           ...                ...                          ...
8903     NaN           NaN                NaN                          NaN
8904     NaN           NaN                NaN                          NaN
8905     NaN           NaN                NaN                          NaN
8906     NaN           NaN                NaN                          NaN
8907     NaN           NaN                NaN                          NaN

            Finding  ... State Tender Type Description  Tender Type ID  \
0        Exonerated  ...    MA                     NaN             0.0
1        Exonerated  ...    MA                     NaN             0.0
2     Not Sustained  ...    MA                     NaN             0.0
3     Not Sustained  ...    MA                     NaN             0.0
4     Not Sustained  ...    MA                     NaN             0.0
...             ...  ...   ...                     ...             ...
8903            NaN  ...   NaN                     NaN             NaN
8904            NaN  ...   NaN                     NaN             NaN
8905            NaN  ...   NaN                     NaN             NaN
8906            NaN  ...   NaN                     NaN             NaN
8907            NaN  ...   NaN                     NaN             NaN

                                      UUID    Zip Unnamed: 0_y DATE ADDED  \
0     9fb75fe5-6415-5cc9-a9b5-517e5721b605  02132          NaN        NaN
1     3f6e4b3f-1de1-5e76-90bd-af7fcc83e611  02132          NaN        NaN
2     9fb75fe5-6415-5cc9-a9b5-517e5721b605  02132          NaN        NaN
3     3f6e4b3f-1de1-5e76-90bd-af7fcc83e611  02132          NaN        NaN
4     9fb75fe5-6415-5cc9-a9b5-517e5721b605  02132          NaN        NaN
...                                    ...    ...          ...        ...
8903                                   NaN    NaN        129.0  9/25/2020
8904                                   NaN    NaN        130.0  9/25/2020
8905                                   NaN    NaN        131.0  9/25/2020
8906                                   NaN    NaN        132.0  9/25/2020
8907                                   NaN    NaN        134.0  9/25/2020

     AGENCY     STATUS                   INFORMATION REGARDING LEAD ENTRY
0       NaN        NaN                                                NaN
1       NaN        NaN                                                NaN
2       NaN        NaN                                                NaN
3       NaN        NaN                                                NaN
4       NaN        NaN                                                NaN
...     ...        ...                                                ...
8903    BPD   Indicted  Conspiracy/embezzlement: Time & attendance. US...
8904    BPD  Sustained  BPD internal investigation (conformance to law...
8905    BPD     Public  BPD internal investigation (conformance to law...
8906    BPD  Sustained  BPD internal investigation (conformance to law...
8907    BPD       CWOF  Larceny: Time & attendance/overtime. SCDAO inv...

[8908 rows x 35 columns]

In [3]:
df = df.drop(columns=['Unnamed: 0', 'Unnamed: 0_x', 'Unnamed: 0_y'])

print(df.shape)

(8908, 32)

## Import employee earnings dataset (general)

In [4]:
employeeDF = pd.read_csv('EmployeeEarnings.csv')

print(employeeDF)

                                   NAME           DEPARTMENT_NAME  \
0                        Abadi,Kidani A      Assessing Department
1      Abajue Umeh,Kenechukwu Stephanie   BPS Boston Arts Academy
2                      Abasciano,Joseph  Boston Police Department
3                        Abatzis,Kelley   BPS Health and Wellness
4                Abban,Christopher John    Boston Fire Department
...                                 ...                       ...
21853            Zuckert,Samuel Ellliot      BPS Welcome Services
21854              Zukowski III,Charles  Boston Police Department
21855                    Zuniga,Kevin Y    BPS Counseling Service
21856            Zwarich,Maralene Zoann                 Eliot K-8
21857                   Zwerdling,Laura     BPS Special Education

                              TITLE        REGULAR RETRO        OTHER  \
0      Property Utilization Officer    $78,836.75    NaN     $175.00
1                           Teacher    $50,895.36    NaN          NaN
2                    Police Officer    $96,890.67    NaN     $850.00
3              Employment Agreement     $4,020.00    NaN          NaN
4                      Fire Fighter   $127,532.31    NaN   $2,665.34
...                             ...            ...   ...          ...
21853                Sen Analyst(C)    $84,581.16    NaN          NaN
21854                Police Officer    $74,932.22    NaN     $800.00
21855        School Psychologist(1)    $81,409.36    NaN   $8,850.00
21856                       Teacher    $89,872.92    NaN   $1,500.00
21857        Occupational Therapist    $54,509.40    NaN      $64.00

           OVERTIME INJURED       DETAIL QUINN / EDUCATION INCENTIVE  \
0               NaN     NaN          NaN                         NaN
1               NaN     NaN          NaN                         NaN
2       $16,595.52      NaN          NaN                 $24,222.83
3               NaN     NaN          NaN                         NaN
4       $21,638.82      NaN   $6,380.00                          NaN
...             ...     ...          ...                         ...
21853           NaN     NaN          NaN                         NaN
21854   $10,851.70      NaN   $7,406.00                          NaN
21855           NaN     NaN          NaN                         NaN
21856           NaN     NaN          NaN                         NaN
21857           NaN     NaN          NaN                         NaN

      TOTAL EARNINGS POSTAL
0        $79,011.75   02118
1        $50,895.36   02150
2       $138,559.02   02132
3         $4,020.00   02171
4       $158,216.47   02132
...              ...    ...
21853    $84,581.16   02119
21854    $93,989.92   02124
21855    $90,259.36   02151
21856    $91,372.92   02132
21857    $54,573.40   02140

[21858 rows x 12 columns]

## Make subset of the earnings dataset with only Boston Police Department employees

In [5]:
polOnlyDF = employeeDF[employeeDF['DEPARTMENT_NAME'].str.contains('police', case=False, na=False)]

print(polOnlyDF)

                          NAME           DEPARTMENT_NAME  \
2             Abasciano,Joseph  Boston Police Department
19         Abdul-Aziz,Ramadani  Boston Police Department
22                   ABEL,KENY  Boston Police Department
32     Abrahamson,Patrick Olaf  Boston Police Department
38       Abreu,Carlos De jesus  Boston Police Department
...                        ...                       ...
21837           Zingg,Robert M  Boston Police Department
21843       Zographos,Peter A.  Boston Police Department
21847                   Zou,Zi  Boston Police Department
21849        Zubrin,William W.  Boston Police Department
21854     Zukowski III,Charles  Boston Police Department

                             TITLE        REGULAR RETRO        OTHER  \
2                   Police Officer    $96,890.67    NaN     $850.00
19                  Police Officer            NaN   NaN   $9,924.38
22                  Cadet (Police)    $15,599.70    NaN          NaN
32                  Police Officer    $79,021.12    NaN     $800.00
38          Jr  Building Custodian    $38,733.42    NaN     $250.00
...                            ...            ...   ...          ...
21837             Police Detective   $117,457.28    NaN   $5,026.27
21843  Police Offc Mobile Offc 2$6    $94,479.92    NaN     $800.00
21847               Police Officer    $66,150.78    NaN     $800.00
21849             Police Detective   $101,989.72    NaN   $4,426.30
21854               Police Officer    $74,932.22    NaN     $800.00

           OVERTIME       INJURED        DETAIL QUINN / EDUCATION INCENTIVE  \
2       $16,595.52            NaN           NaN                 $24,222.83
19              NaN           NaN           NaN                         NaN
22              NaN           NaN           NaN                         NaN
32      $12,940.29    $16,568.94            NaN                         NaN
38      $15,676.01            NaN           NaN                         NaN
...             ...           ...           ...                         ...
21837   $97,867.55            NaN           NaN                         NaN
21843   $15,696.55            NaN      $184.00                  $18,896.11
21847   $29,784.57    $26,873.75    $48,944.00                          NaN
21849   $94,907.50            NaN           NaN                 $20,397.97
21854   $10,851.70            NaN    $7,406.00                          NaN

      TOTAL EARNINGS POSTAL
2       $138,559.02   02132
19        $9,924.38   02119
22       $15,599.70   02119
32      $109,330.35   02135
38       $54,659.43   02124
...              ...    ...
21837   $220,351.10   02090
21843   $130,056.58   02081
21847   $172,553.10   02124
21849   $221,721.49   02122
21854    $93,989.92   02124

[3142 rows x 12 columns]

## clean names in new dataset to match format of our other datasets

In [6]:
def fixname(name):
    name = name.lower()
    name = name.split(",")
    for i in range(len(name)):
        name[i] = name[i].strip()
    if len(name) == 2:
        return name[1] + ' ' + name[0]
    if len(name) == 3:
        return name[1] + ' ' + name[2] + ' ' + name[0]
    else:
        return name
    
fixname(polOnlyDF['NAME'][57])

'dora luz acevedo'

In [7]:
names = polOnlyDF['NAME'].apply(fixname)
polOnlyDF['NAME'] = names

print(polOnlyDF)

                          NAME           DEPARTMENT_NAME  \
2             joseph abasciano  Boston Police Department
19         ramadani abdul-aziz  Boston Police Department
22                   keny abel  Boston Police Department
32     patrick olaf abrahamson  Boston Police Department
38       carlos de jesus abreu  Boston Police Department
...                        ...                       ...
21837           robert m zingg  Boston Police Department
21843       peter a. zographos  Boston Police Department
21847                   zi zou  Boston Police Department
21849        william w. zubrin  Boston Police Department
21854     charles zukowski iii  Boston Police Department

                             TITLE        REGULAR RETRO        OTHER  \
2                   Police Officer    $96,890.67    NaN     $850.00
19                  Police Officer            NaN   NaN   $9,924.38
22                  Cadet (Police)    $15,599.70    NaN          NaN
32                  Police Officer    $79,021.12    NaN     $800.00
38          Jr  Building Custodian    $38,733.42    NaN     $250.00
...                            ...            ...   ...          ...
21837             Police Detective   $117,457.28    NaN   $5,026.27
21843  Police Offc Mobile Offc 2$6    $94,479.92    NaN     $800.00
21847               Police Officer    $66,150.78    NaN     $800.00
21849             Police Detective   $101,989.72    NaN   $4,426.30
21854               Police Officer    $74,932.22    NaN     $800.00

           OVERTIME       INJURED        DETAIL QUINN / EDUCATION INCENTIVE  \
2       $16,595.52            NaN           NaN                 $24,222.83
19              NaN           NaN           NaN                         NaN
22              NaN           NaN           NaN                         NaN
32      $12,940.29    $16,568.94            NaN                         NaN
38      $15,676.01            NaN           NaN                         NaN
...             ...           ...           ...                         ...
21837   $97,867.55            NaN           NaN                         NaN
21843   $15,696.55            NaN      $184.00                  $18,896.11
21847   $29,784.57    $26,873.75    $48,944.00                          NaN
21849   $94,907.50            NaN           NaN                 $20,397.97
21854   $10,851.70            NaN    $7,406.00                          NaN

      TOTAL EARNINGS POSTAL
2       $138,559.02   02132
19        $9,924.38   02119
22       $15,599.70   02119
32      $109,330.35   02135
38       $54,659.43   02124
...              ...    ...
21837   $220,351.10   02090
21843   $130,056.58   02081
21847   $172,553.10   02124
21849   $221,721.49   02122
21854    $93,989.92   02124

[3142 rows x 12 columns]
<ipython-input-7-364c214d70af>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  polOnlyDF['NAME'] = names

## Do Fuzzy Matching!!!

In [8]:
# String similarity between the two fields

def fuzzySimilarity(row):
    name1 = row['Name']
    name2 = row['NAME']
    fuzzy_ratio = fuzz.token_set_ratio(name1, name2)
    return fuzzy_ratio

In [9]:
# Create a new column called lastName character that has the first letter of the last name as its separate column

def getLastCh(s):
    "s is a string of the Name/Contributor Columns of the datasets"
    s_list = s.split()
    suffixes = ['jr','jr.','sr','sr.','i','ii','iii']

    # remove suffixes in s_list
    for i in reversed(range(len(s_list))):
        if s_list[i] in suffixes:
            s_list.pop(i)

    lastName = s_list[-1]
    firstCh = lastName[0]
    return firstCh

polOnlyDF['lastNameCh'] = [getLastCh(s) for s in polOnlyDF['NAME']]
df['lastNameCh'] = [getLastCh(s) for s in df['Name']]

<ipython-input-9-de9efad123f0>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  polOnlyDF['lastNameCh'] = [getLastCh(s) for s in polOnlyDF['NAME']]

In [10]:
# This program will merge the two dataframes using their lastName characters then apply a string similarity score for each row then we'll filter the string similarity value to create the final dataframe with name matches.

unique_names = list(df['lastNameCh'].unique())

for name in unique_names:
    df2_sub_zip = polOnlyDF[polOnlyDF['lastNameCh'] == name]
    df1_sub_zip = df[df['lastNameCh'] == name]

    df_merge = dd.merge(df1_sub_zip, df2_sub_zip, how='left', left_on='lastNameCh', right_on='lastNameCh')
    
    df_merge['Fuzzy Similarity'] = df_merge.apply(lambda row: fuzzySimilarity(row), axis=1)
    
    # You can adjust this number for a more selective fuzzy similarity merge
    Fuzzy_Filter = df_merge[df_merge['Fuzzy Similarity'] > 85]
    
    title = "./fuzzyDatasets/merge_df_name_" + name + ".csv"
    Fuzzy_Filter.to_csv(title, encoding = "utf-8")

In [11]:
# This will create the list

list_of_csv_titles = []

for name in unique_names:
    title = "./fuzzyDatasets/merge_df_name_" + name + ".csv"
    list_of_csv_titles.append(title)

In [12]:
# Merging all the batches

df_merge_final = pd.DataFrame()

for files in list_of_csv_titles:
    data = pd.read_csv(files)
    df_merge_final = df_merge_final.append(data)

In [13]:
print(df_merge_final)

    Unnamed: 0               Name            Rank   Race    Year  \
0            0   joseph abasciano  Police Officer  White  2011.0
1           92   joseph abasciano  Police Officer  White  2011.0
2          184   joseph abasciano  Police Officer  White  2011.0
3          276   joseph abasciano  Police Officer  White  2011.0
4          368   joseph abasciano  Police Officer  White  2013.0
..         ...                ...             ...    ...     ...
1            3    vladimir xavier  Police Officer  Black  2012.0
2            5    vladimir xavier  Police Officer  Black  2014.0
0            0  anthony d ierardi        Sergeant  White  2017.0
0            5     robert m zingg       Detective  White  2011.0
1           15     robert m zingg       Detective  White  2012.0

          CaseID        TypeOfMisconduct                   Allegation  \
0   IAD2011-0182       Citizen complaint  Neg.Duty/Unreasonable Judge
1   IAD2011-0182       Citizen complaint  Neg.Duty/Unreasonable Judge
2   IAD2011-0182       Citizen complaint                        Force
3   IAD2011-0182       Citizen complaint                        Force
4   IAD2013-0019       Citizen complaint  Neg.Duty/Unreasonable Judge
..           ...                     ...                          ...
1   IAD2012-0009       Citizen complaint                  FIO Reports
2   IAD2014-0255       Citizen complaint         Respectful Treatment
0   IAD2017-0154  Internal investigation                      Details
0   IAD2011-0553  Internal investigation           Conduct Unbecoming
1   IAD2012-0039       Citizen complaint           Conduct Unbecoming

          Finding         Outcome  ...        REGULAR  RETRO         OTHER  \
0      Exonerated             NaN  ...    $96,890.67     NaN      $850.00
1      Exonerated             NaN  ...    $96,890.67     NaN      $850.00
2   Not Sustained             NaN  ...    $96,890.67     NaN      $850.00
3   Not Sustained             NaN  ...    $96,890.67     NaN      $850.00
4   Not Sustained             NaN  ...    $96,890.67     NaN      $850.00
..            ...             ...  ...            ...    ...           ...
1       Sustained  Oral Reprimand  ...    $93,424.55     NaN      $800.00
2       Unfounded             NaN  ...    $93,424.55     NaN      $800.00
0       Sustained             NaN  ...            NaN    NaN   $12,069.32
0       Sustained     Counselling  ...   $117,457.28     NaN    $5,026.27
1   Not Sustained             NaN  ...   $117,457.28     NaN    $5,026.27

        OVERTIME        INJURED DETAIL QUINN / EDUCATION INCENTIVE  \
0    $16,595.52             NaN    NaN                 $24,222.83
1    $16,595.52             NaN    NaN                 $24,222.83
2    $16,595.52             NaN    NaN                 $24,222.83
3    $16,595.52             NaN    NaN                 $24,222.83
4    $16,595.52             NaN    NaN                 $24,222.83
..           ...            ...    ...                         ...
1    $19,103.00      $3,633.94     NaN                         NaN
2    $19,103.00      $3,633.94     NaN                         NaN
0            NaN   $118,924.58     NaN                 $23,784.81
0    $97,867.55             NaN    NaN                         NaN
1    $97,867.55             NaN    NaN                         NaN

   TOTAL EARNINGS  POSTAL  Fuzzy Similarity
0    $138,559.02   2132.0               100
1    $138,559.02   2132.0               100
2    $138,559.02   2132.0               100
3    $138,559.02   2132.0               100
4    $138,559.02   2132.0               100
..            ...     ...               ...
1    $116,961.49   2121.0               100
2    $116,961.49   2121.0               100
0    $154,778.71   2030.0               100
0    $220,351.10   2090.0               100
1    $220,351.10   2090.0               100

[8821 rows x 47 columns]

In [14]:
print(list(df_merge_final))

['Unnamed: 0', 'Name', 'Rank', 'Race', 'Year', 'CaseID', 'TypeOfMisconduct', 'Allegation', 'Finding', 'Outcome', 'Address', 'Amount', 'CPF ID', 'City', 'Contributor', 'Date', 'Datetime', 'Employer', 'Occupation', 'Principal Officer', 'Recipient', 'Record Type Description', 'Record Type ID', 'Source Description', 'State', 'Tender Type Description', 'Tender Type ID', 'UUID', 'Zip', 'DATE ADDED', 'AGENCY', 'STATUS', 'INFORMATION REGARDING LEAD ENTRY', 'lastNameCh', 'NAME', 'DEPARTMENT_NAME', 'TITLE', 'REGULAR', 'RETRO', 'OTHER', 'OVERTIME', 'INJURED', 'DETAIL', 'QUINN / EDUCATION INCENTIVE', 'TOTAL EARNINGS', 'POSTAL', 'Fuzzy Similarity']

In [15]:
df_merge_final = df_merge_final.drop(columns=['Unnamed: 0', 'lastNameCh', 'Fuzzy Similarity'])

print(list(df_merge_final))

['Name', 'Rank', 'Race', 'Year', 'CaseID', 'TypeOfMisconduct', 'Allegation', 'Finding', 'Outcome', 'Address', 'Amount', 'CPF ID', 'City', 'Contributor', 'Date', 'Datetime', 'Employer', 'Occupation', 'Principal Officer', 'Recipient', 'Record Type Description', 'Record Type ID', 'Source Description', 'State', 'Tender Type Description', 'Tender Type ID', 'UUID', 'Zip', 'DATE ADDED', 'AGENCY', 'STATUS', 'INFORMATION REGARDING LEAD ENTRY', 'NAME', 'DEPARTMENT_NAME', 'TITLE', 'REGULAR', 'RETRO', 'OTHER', 'OVERTIME', 'INJURED', 'DETAIL', 'QUINN / EDUCATION INCENTIVE', 'TOTAL EARNINGS', 'POSTAL']

In [16]:
df_merge_final.shape

(8821, 44)

## Save & export new dataset :)

In [19]:
df_merge_final.to_csv("mergedEARNINGS.csv")