In [1]:
# code block for imports 
import pandas as pd 
import numpy as np
import sqlite3
from sqlalchemy import create_engine
import os
import matplotlib.pyplot as plt
import pandas as pd
import folium
from folium import plugins
from folium.plugins import HeatMap

In [2]:
conn = sqlite3.connect('cs506MAPC.db')

## Display first 10 Providers

In [3]:
qrystr ="SELECT DISTINCT t1.ProviderName,substr(t1.BlockCode,0,12) as tractNum,t1.MaxAdDown,t1.MaxAdUp, t2.town, t3.Longitude, t3.Latitude FROM FCC_DATA_T t1, censusblocks_t t2, CityLongLat_t t3 WHERE substr(t1.BlockCode,0,12) = t2.blockcode AND t2.town = t3.town ORDER BY t2.town ASC"


#convert query results into dataframe
df_filtered_providers = pd.read_sql_query(qrystr, conn)
print(df_filtered_providers.head(10))

                     ProviderName     tractNum  MaxAdDown  MaxAdUp      town  \
0  MCI Communications Corporation  25023520100        0.0      0.0  ABINGTON
1  MCI Communications Corporation  25023520201        0.0      0.0  ABINGTON
2  MCI Communications Corporation  25023520202        0.0      0.0  ABINGTON
3          Crown Castle Fiber LLC  25023520100        0.0      0.0  ABINGTON
4          Crown Castle Fiber LLC  25023520201        0.0      0.0  ABINGTON
5          Crown Castle Fiber LLC  25023520202        0.0      0.0  ABINGTON
6                    ViaSat, Inc.  25023520100      100.0      3.0  ABINGTON
7                    ViaSat, Inc.  25023520201      100.0      3.0  ABINGTON
8                    ViaSat, Inc.  25023520202      100.0      3.0  ABINGTON
9          U.S. TelePacific Corp.  25023520202        0.0      0.0  ABINGTON

   Longitude  Latitude
0     -70.96     42.12
1     -70.96     42.12
2     -70.96     42.12
3     -70.96     42.12
4     -70.96     42.12
5     -70.96     42.12
6     -70.96     42.12
7     -70.96     42.12
8     -70.96     42.12
9     -70.96     42.12

## Non Zero Providers

In [4]:
qryStr2 = "SELECT DISTINCT t1.ProviderName,substr(t1.BlockCode,0,12) as tractNum,t1.MaxAdDown,t1.MaxAdUp, t2.town, t3.Longitude, t3.Latitude FROM FCC_DATA_T t1, censusblocks_t t2, CityLongLat_t t3 WHERE MaxAdDown != 0.0 AND MaxAdUp != 0.0 and substr(t1.BlockCode,0,12) = t2.blockcode AND t2.town = t3.town ORDER BY t2.town ASC"
df_filtered_non_zero_providers = pd.read_sql_query(qryStr2, conn)
print(df_filtered_non_zero_providers.head(10))

                        ProviderName     tractNum  MaxAdDown  MaxAdUp  \
0                       ViaSat, Inc.  25023520100      100.0    3.000
1                       ViaSat, Inc.  25023520201      100.0    3.000
2                       ViaSat, Inc.  25023520202      100.0    3.000
3  COMCAST CABLE COMMUNICATIONS, LLC  25023520100      987.0   35.000
4  COMCAST CABLE COMMUNICATIONS, LLC  25023520201      987.0   35.000
5  COMCAST CABLE COMMUNICATIONS, LLC  25023520202      987.0   35.000
6           Verizon New England Inc.  25023520202      940.0  880.000
7           Verizon New England Inc.  25023520202        5.0    0.768
8           Verizon New England Inc.  25023520202       15.0    1.000
9           Verizon New England Inc.  25023520202       10.0    1.000

       town  Longitude  Latitude
0  ABINGTON     -70.96     42.12
1  ABINGTON     -70.96     42.12
2  ABINGTON     -70.96     42.12
3  ABINGTON     -70.96     42.12
4  ABINGTON     -70.96     42.12
5  ABINGTON     -70.96     42.12
6  ABINGTON     -70.96     42.12
7  ABINGTON     -70.96     42.12
8  ABINGTON     -70.96     42.12
9  ABINGTON     -70.96     42.12

## Zero Providers

In [5]:
qryStr3 = "SELECT DISTINCT t1.ProviderName,substr(t1.BlockCode,0,12) as tractNum,t1.MaxAdDown,t1.MaxAdUp, t2.town, t3.Longitude, t3.Latitude FROM FCC_DATA_T t1, censusblocks_t t2, CityLongLat_t t3 WHERE MaxAdDown = 0 AND MaxAdUp = 0 and substr(t1.BlockCode,0,12) = t2.blockcode AND t2.town = t3.town ORDER BY t2.town ASC"
df_filtered_zero_providers = pd.read_sql_query(qryStr3, conn)
print(df_filtered_zero_providers.head(10))

                        ProviderName     tractNum  MaxAdDown  MaxAdUp  \
0     MCI Communications Corporation  25023520100        0.0      0.0
1     MCI Communications Corporation  25023520201        0.0      0.0
2     MCI Communications Corporation  25023520202        0.0      0.0
3             Crown Castle Fiber LLC  25023520100        0.0      0.0
4             Crown Castle Fiber LLC  25023520201        0.0      0.0
5             Crown Castle Fiber LLC  25023520202        0.0      0.0
6             U.S. TelePacific Corp.  25023520202        0.0      0.0
7  Broadview Networks Holdings, Inc.  25023520100        0.0      0.0
8  COMCAST CABLE COMMUNICATIONS, LLC  25023520201        0.0      0.0
9  COMCAST CABLE COMMUNICATIONS, LLC  25023520100        0.0      0.0

       town  Longitude  Latitude
0  ABINGTON     -70.96     42.12
1  ABINGTON     -70.96     42.12
2  ABINGTON     -70.96     42.12
3  ABINGTON     -70.96     42.12
4  ABINGTON     -70.96     42.12
5  ABINGTON     -70.96     42.12
6  ABINGTON     -70.96     42.12
7  ABINGTON     -70.96     42.12
8  ABINGTON     -70.96     42.12
9  ABINGTON     -70.96     42.12