# MAPC Team 1 Notebook

In [16]:
# code block for imports 
import pandas as pd 
import numpy as np
import sqlite3
from sqlalchemy import create_engine
import os
import matplotlib.pyplot as plt
import pandas as pd
import folium
from folium import plugins
from folium.plugins import HeatMap

In [17]:
# functions for reading data as a df and inserting into sql db
def readData(filename):
    data = pd.read_csv(filename)
    return data

def insertDataToDB(tablename, df,conn):
    df.to_sql(tablename,conn, if_exists="replace")

In [18]:
# connect to database cs506MAPC.db
conn = sqlite3.connect('cs506MAPC.db')

# read data from FCC June 2019 data. 
# If this line causes errors for you, you first need to download the data and 
# and unzip it into your local copy of your repository. (Can't upload the CSV to git because it's too large)
# to download the zip file, go here --> https://github.com/MAPC/broadband-data-bu/tree/main/FCC%20data
# NOTE: Make sure that you have the .csv file in the 'MAPC Broadband Equity - Team 1' folder and that you rename it
# to "fcc_data_june2019.csv" 

df = readData("fcc_data_june2019.csv")
insertDataToDB("fcc_data_t",df,conn)

**Command to import cities with their long and lat**

In [19]:
df = readData("MACityLongLat.csv")
insertDataToDB("CityLongLat_t",df,conn)

In [20]:
qryStr = "CREATE TABLE IF NOT EXISTS censusblocks_t (town TEXT, blockcode TEXT PRIMARY KEY NOT NULL)"
cursor = conn.cursor()
cursor.execute(qryStr)

dict = {}


for filename in os.listdir('census_blocks'):
    readFile = os.path.join('census_blocks', filename)
    names = filename.split(".")
    cityName = names[0].upper()
    f = open(readFile,"r", encoding="latin-1");
    lines = f.readlines();
    count = 0
    for line in lines:
        if count == 0:
            count += 1
            continue
        entries = line.split(";")
        if len(entries) != 6:
            continue
        tracts = entries[3].split(".");
        censusblock = entries[1] + entries[2] + tracts[0] + tracts[1]
        
        if censusblock not in dict:
            dict[censusblock] = cityName
        else:
            continue
        cursor.execute("INSERT INTO censusblocks_t VALUES(?,?)",(cityName,censusblock));
        conn.commit()

In [28]:
def generateBaseMap(default_location=[42.360081, -71.058884]):
    base_map = folium.Map(location=default_location)
    return base_map

# download speed
base_map = generateBaseMap()

HeatMap(data=df_filtered_non_zero_providers [['Latitude', 'Longitude', 'MaxAdDown']].groupby(['Latitude', 'Longitude']).
        mean().reset_index().values.tolist(), radius=8, max_zoom=13).add_to(base_map) 

base_map.save('maxaddown.html')

# upload speed
base_map = generateBaseMap()

HeatMap(data=df_filtered_non_zero_providers [['Latitude', 'Longitude', 'MaxAdUp']].groupby(['Latitude', 'Longitude']).
        mean().reset_index().values.tolist(), radius=8, max_zoom=13).add_to(base_map) 

base_map.save('maxadup.html')

In [ ]:
df = readData("median_income.csv")
print(df.head(10))
df_filtered = df[['ct10_id','mhi','mhi_me','o_mhi','o_mhi_me','r_mhi','r_mhi_me']]
insertDataToDB("median_income_t",df_filtered,conn)


#todo: filter data from fcc data which has 0 max_ad_up and max_ad_down
#this means company doesnt supply that area.

## Display first 10 Providers with no service (0 upload and 0 download)

In [22]:
qrystr ="SELECT DISTINCT t1.ProviderName,substr(t1.BlockCode,0,12) as tractNum,t1.MaxAdDown,t1.MaxAdUp, t2.town, t3.Longitude, t3.Latitude FROM FCC_DATA_T t1, censusblocks_t t2, CityLongLat_t t3 WHERE substr(t1.BlockCode,0,12) = t2.blockcode AND t2.town = t3.town ORDER BY t2.town ASC"


#convert query results into dataframe
df_filtered_providers = pd.read_sql_query(qrystr, conn)
print(df_filtered_providers.head(10))

                     ProviderName     tractNum  MaxAdDown  MaxAdUp      town  \
0  MCI Communications Corporation  25023520100        0.0      0.0  ABINGTON
1  MCI Communications Corporation  25023520201        0.0      0.0  ABINGTON
2  MCI Communications Corporation  25023520202        0.0      0.0  ABINGTON
3          Crown Castle Fiber LLC  25023520100        0.0      0.0  ABINGTON
4          Crown Castle Fiber LLC  25023520201        0.0      0.0  ABINGTON
5          Crown Castle Fiber LLC  25023520202        0.0      0.0  ABINGTON
6                    ViaSat, Inc.  25023520100      100.0      3.0  ABINGTON
7                    ViaSat, Inc.  25023520201      100.0      3.0  ABINGTON
8                    ViaSat, Inc.  25023520202      100.0      3.0  ABINGTON
9          U.S. TelePacific Corp.  25023520202        0.0      0.0  ABINGTON

   Longitude  Latitude
0     -70.96     42.12
1     -70.96     42.12
2     -70.96     42.12
3     -70.96     42.12
4     -70.96     42.12
5     -70.96     42.12
6     -70.96     42.12
7     -70.96     42.12
8     -70.96     42.12
9     -70.96     42.12

**Display first 10 Providers with service in blocks**

In [23]:
qryStr2 = "SELECT DISTINCT t1.ProviderName,substr(t1.BlockCode,0,12) as tractNum,t1.MaxAdDown,t1.MaxAdUp, t2.town, t3.Longitude, t3.Latitude FROM FCC_DATA_T t1, censusblocks_t t2, CityLongLat_t t3 WHERE MaxAdDown != 0.0 AND MaxAdUp != 0.0 and substr(t1.BlockCode,0,12) = t2.blockcode AND t2.town = t3.town ORDER BY t2.town ASC"
df_filtered_non_zero_providers = pd.read_sql_query(qryStr2, conn)
print(df_filtered_non_zero_providers.head(10))

                        ProviderName     tractNum  MaxAdDown  MaxAdUp  \
0                       ViaSat, Inc.  25023520100      100.0    3.000
1                       ViaSat, Inc.  25023520201      100.0    3.000
2                       ViaSat, Inc.  25023520202      100.0    3.000
3  COMCAST CABLE COMMUNICATIONS, LLC  25023520100      987.0   35.000
4  COMCAST CABLE COMMUNICATIONS, LLC  25023520201      987.0   35.000
5  COMCAST CABLE COMMUNICATIONS, LLC  25023520202      987.0   35.000
6           Verizon New England Inc.  25023520202      940.0  880.000
7           Verizon New England Inc.  25023520202        5.0    0.768
8           Verizon New England Inc.  25023520202       15.0    1.000
9           Verizon New England Inc.  25023520202       10.0    1.000

       town  Longitude  Latitude
0  ABINGTON     -70.96     42.12
1  ABINGTON     -70.96     42.12
2  ABINGTON     -70.96     42.12
3  ABINGTON     -70.96     42.12
4  ABINGTON     -70.96     42.12
5  ABINGTON     -70.96     42.12
6  ABINGTON     -70.96     42.12
7  ABINGTON     -70.96     42.12
8  ABINGTON     -70.96     42.12
9  ABINGTON     -70.96     42.12

**Display first 10 Providers with no service in blocks**

In [24]:
qryStr3 = "SELECT DISTINCT t1.ProviderName,substr(t1.BlockCode,0,12) as tractNum,t1.MaxAdDown,t1.MaxAdUp, t2.town, t3.Longitude, t3.Latitude FROM FCC_DATA_T t1, censusblocks_t t2, CityLongLat_t t3 WHERE MaxAdDown = 0 AND MaxAdUp = 0 and substr(t1.BlockCode,0,12) = t2.blockcode AND t2.town = t3.town ORDER BY t2.town ASC"
df_filtered_zero_providers = pd.read_sql_query(qryStr3, conn)
print(df_filtered_zero_providers.head(10))

                        ProviderName     tractNum  MaxAdDown  MaxAdUp  \
0     MCI Communications Corporation  25023520100        0.0      0.0
1     MCI Communications Corporation  25023520201        0.0      0.0
2     MCI Communications Corporation  25023520202        0.0      0.0
3             Crown Castle Fiber LLC  25023520100        0.0      0.0
4             Crown Castle Fiber LLC  25023520201        0.0      0.0
5             Crown Castle Fiber LLC  25023520202        0.0      0.0
6             U.S. TelePacific Corp.  25023520202        0.0      0.0
7  Broadview Networks Holdings, Inc.  25023520100        0.0      0.0
8  COMCAST CABLE COMMUNICATIONS, LLC  25023520201        0.0      0.0
9  COMCAST CABLE COMMUNICATIONS, LLC  25023520100        0.0      0.0

       town  Longitude  Latitude
0  ABINGTON     -70.96     42.12
1  ABINGTON     -70.96     42.12
2  ABINGTON     -70.96     42.12
3  ABINGTON     -70.96     42.12
4  ABINGTON     -70.96     42.12
5  ABINGTON     -70.96     42.12
6  ABINGTON     -70.96     42.12
7  ABINGTON     -70.96     42.12
8  ABINGTON     -70.96     42.12
9  ABINGTON     -70.96     42.12