# Logistic Regression

In [98]:
import pandas as pd

In [99]:
# data from webscraper of Boston police disciplinary action

df1 = pd.read_csv("BostonPoliceInternalAffairs.csv")
df1

,Name,Rank,Race,Gender,Year,CaseID,TypeOfMisconduct,Allegation,Finding,Outcome
0,Joseph Abasciano,Police Officer,White,Male,2011,IAD2011-0182,Citizen complaint,Neg.Duty/Unreasonable Judge,Exonerated,NaN
1,Joseph Abasciano,Police Officer,White,Male,2011,IAD2011-0182,Citizen complaint,Force,Not Sustained,NaN
2,Joseph Abasciano,Police Officer,White,Male,2013,IAD2013-0019,Citizen complaint,Neg.Duty/Unreasonable Judge,Not Sustained,NaN
3,Joseph Abasciano,Police Officer,White,Male,2019,IAD2019-0085,Citizen complaint,Abuse of Process,Not Sustained,NaN
4,Ramadani Abdul-Aziz,Police Officer,Black,Male,2011,IAD2011-0258,Citizen complaint,Neg.Duty/Unreasonable Judge,Sustained,Oral Reprimand
...,...,...,...,...,...,...,...,...,...,...
5655,Kevin Zarnoch,Police Officer,White,Male,2016,IAD2016-0203,Internal investigation,Reporting for Duty,Sustained,Oral Reprimand
5656,Kevin Zarnoch,Police Officer,White,Male,2019,IAD2019-0157,Internal investigation,Reporting for Duty,Sustained,Suspension
5657,Robert M Zingg,Detective,White,Male,2011,IAD2011-0553,Internal investigation,Conduct Unbecoming,Sustained,Counselling
5658,Robert M Zingg,Detective,White,Male,2012,IAD2012-0039,Citizen complaint,Conduct Unbecoming,Not Sustained,NaN
5659,Peter A Zographos,Police Officer,White,Male,2012,IAD2012-0336,Citizen complaint,Neg.Duty/Unreasonable Judge,Exonerated,NaN

In [100]:
# data of Boston police officers that contributed

df2 = pd.read_csv("BPIA-APC-LEAD-EARNINGS.csv")
df2

,Unnamed: 0,Name,Rank,Race,Gender,Year,CaseID,TypeOfMisconduct,Allegation,Finding,...,TITLE,REGULAR,RETRO,OTHER,OVERTIME,INJURED,DETAIL,QUINN / EDUCATION INCENTIVE,TOTAL EARNINGS,POSTAL
0,0,joseph abasciano,Police Officer,White,Male,2011.0,IAD2011-0182,Citizen complaint,Neg.Duty/Unreasonable Judge,Exonerated,...,Police Officer,"$96,890.67",NaN,$850.00,"$16,595.52",NaN,NaN,"$24,222.83","$138,559.02",2132.0
1,1,joseph abasciano,Police Officer,White,Male,2011.0,IAD2011-0182,Citizen complaint,Neg.Duty/Unreasonable Judge,Exonerated,...,Police Officer,"$96,890.67",NaN,$850.00,"$16,595.52",NaN,NaN,"$24,222.83","$138,559.02",2132.0
2,2,joseph abasciano,Police Officer,White,Male,2011.0,IAD2011-0182,Citizen complaint,Force,Not Sustained,...,Police Officer,"$96,890.67",NaN,$850.00,"$16,595.52",NaN,NaN,"$24,222.83","$138,559.02",2132.0
3,3,joseph abasciano,Police Officer,White,Male,2011.0,IAD2011-0182,Citizen complaint,Force,Not Sustained,...,Police Officer,"$96,890.67",NaN,$850.00,"$16,595.52",NaN,NaN,"$24,222.83","$138,559.02",2132.0
4,4,joseph abasciano,Police Officer,White,Male,2013.0,IAD2013-0019,Citizen complaint,Neg.Duty/Unreasonable Judge,Not Sustained,...,Police Officer,"$96,890.67",NaN,$850.00,"$16,595.52",NaN,NaN,"$24,222.83","$138,559.02",2132.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8816,1,vladimir xavier,Police Officer,Black,Male,2012.0,IAD2012-0009,Citizen complaint,FIO Reports,Sustained,...,Police Officer,"$93,424.55",NaN,$800.00,"$19,103.00","$3,633.94",NaN,NaN,"$116,961.49",2121.0
8817,2,vladimir xavier,Police Officer,Black,Male,2014.0,IAD2014-0255,Citizen complaint,Respectful Treatment,Unfounded,...,Police Officer,"$93,424.55",NaN,$800.00,"$19,103.00","$3,633.94",NaN,NaN,"$116,961.49",2121.0
8818,0,anthony d ierardi,Sergeant,White,Male,2017.0,IAD2017-0154,Internal investigation,Details,Sustained,...,Police Sergeant/FgrPrt Ev Tech,NaN,NaN,"$12,069.32",NaN,"$118,924.58",NaN,"$23,784.81","$154,778.71",2030.0
8819,0,robert m zingg,Detective,White,Male,2011.0,IAD2011-0553,Internal investigation,Conduct Unbecoming,Sustained,...,Police Detective,"$117,457.28",NaN,"$5,026.27","$97,867.55",NaN,NaN,NaN,"$220,351.10",2090.0
8820,1,robert m zingg,Detective,White,Male,2012.0,IAD2012-0039,Citizen complaint,Conduct Unbecoming,Not Sustained,...,Police Detective,"$117,457.28",NaN,"$5,026.27","$97,867.55",NaN,NaN,NaN,"$220,351.10",2090.0

In [101]:
names = list(df2.Name.unique())
print("Number of unique names that contributed: ", len(names))

Number of unique names that contributed:  412

In [102]:
names_total = list(df1.Name.unique())
print("Number of total names on Boston police disciplinary dataset: ", len(names_total))

Number of total names on Boston police disciplinary dataset:  1465

In [103]:
# make names_total lower_case for matching
names_total = [name.lower() for name in names_total]

In [104]:
count = 0 
names_contributed = []
for name in names:
    if name in names_total:
        count+=1
        names_contributed.append(name)

print("number of names from BPD dataset who contributed: ", count)
print("percentage of BPD who contributed: ", count/len(names_total) * 100)

number of names from BPD dataset who contributed:  398
percentage of BPD who contributed:  27.167235494880547

In [105]:
# create new column called contributed, preseting it = 0
df1["Contributed"] = 0

# 1 if contributed, 0 if not
for row in range(len(df1)):
    name = df1["Name"][row].lower()
    if name in names_contributed:
        df1["Contributed"][row] = 1
    else:
        df1["Contributed"][row] = 0

<ipython-input-105-a0dea439886e>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["Contributed"][row] = 1
<ipython-input-105-a0dea439886e>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["Contributed"][row] = 0

In [106]:
# drop duplicates

df1.drop_duplicates(subset=['Name', 'TypeOfMisconduct', 'Race', 'Rank', 'Allegation', 'Finding'], keep='first', inplace=True)
df1

,Name,Rank,Race,Gender,Year,CaseID,TypeOfMisconduct,Allegation,Finding,Outcome,Contributed
0,Joseph Abasciano,Police Officer,White,Male,2011,IAD2011-0182,Citizen complaint,Neg.Duty/Unreasonable Judge,Exonerated,NaN,1
1,Joseph Abasciano,Police Officer,White,Male,2011,IAD2011-0182,Citizen complaint,Force,Not Sustained,NaN,1
2,Joseph Abasciano,Police Officer,White,Male,2013,IAD2013-0019,Citizen complaint,Neg.Duty/Unreasonable Judge,Not Sustained,NaN,1
3,Joseph Abasciano,Police Officer,White,Male,2019,IAD2019-0085,Citizen complaint,Abuse of Process,Not Sustained,NaN,1
4,Ramadani Abdul-Aziz,Police Officer,Black,Male,2011,IAD2011-0258,Citizen complaint,Neg.Duty/Unreasonable Judge,Sustained,Oral Reprimand,0
...,...,...,...,...,...,...,...,...,...,...,...
5654,Joseph M Zanoli,Police Officer,White,Male,2016,IAD2016-0024,Citizen complaint,Force,Not Sustained,NaN,0
5655,Kevin Zarnoch,Police Officer,White,Male,2016,IAD2016-0203,Internal investigation,Reporting for Duty,Sustained,Oral Reprimand,0
5657,Robert M Zingg,Detective,White,Male,2011,IAD2011-0553,Internal investigation,Conduct Unbecoming,Sustained,Counselling,1
5658,Robert M Zingg,Detective,White,Male,2012,IAD2012-0039,Citizen complaint,Conduct Unbecoming,Not Sustained,NaN,1
5659,Peter A Zographos,Police Officer,White,Male,2012,IAD2012-0336,Citizen complaint,Neg.Duty/Unreasonable Judge,Exonerated,NaN,0

In [107]:
df1.Rank.unique()

array(['Police Officer', 'Detective', 'Sergeant Detective', 'Sergeant',
       'Captain', 'Lieutenant', 'Lieutenantenant',
       'Lieutenantenant Detective', 'Deputy', 'Deputy Superintendent',
       'Superintendent'], dtype=object)

In [57]:
df1.Race.unique()

array(['White', 'Black', 'Hispanic', 'Asian'], dtype=object)

In [108]:
df1.Gender.unique()

array(['Male', 'Female'], dtype=object)

In [109]:
df1.TypeOfMisconduct.unique()

array(['Citizen complaint', 'Internal investigation'], dtype=object)

In [60]:
df1.Allegation.unique()

array(['Neg.Duty/Unreasonable Judge', 'Force', 'Abuse of Process',
       'Reporting for Duty', 'Self Identification',
       'BIAS-Free Policing Policy', 'Sleeping On Duty',
       'Conduct Unbecoming', 'CORI Access', 'Respectful Treatment',
       'Situations Involving Family & Frien', 'Conformance to Laws',
       'Evidence', 'Court', 'Untruthfulness', 'Patrol Officer Duties',
       'Prisoners', 'Details',
       'Strip Search and or Visual Body Cavity Search',
       'Association with Criminals', 'Canon of Ethics', 'Alcohol',
       'Police Service', 'Directives/Orders', 'Pursuit Driving',
       'Manner of Recording Complaints',
       'Examination for Visible Injuries', 'Substance Abuse Policy',
       'Abuse of Discretion', 'Vehicle Surveillance Procedures',
       'Pointing Firearms', 'Personal Business', 'Arrest Procedure',
       'Information Dept. Members May Not Release', 'Emergency Driving',
       'Handling of Accident Victims & Emergency Cases',
       'Protection of Abused Persons', 'Discharge of Firearm',
       'Hostile Work Environment', 'Harassment Policy',
       'Patrol Officer Assigned to Dept Motor Vehicle',
       'sexual harassment', 'Criticising Department',
       'Securing and Maintenance of Firearm', 'Quid Pro Quo',
       'FIO Reports', 'Residency', 'Soliciting on Duty',
       'Duty Supervisor', 'Department Motor Vehicle Accident-Reporting',
       'Tabacco on Duty',
       'Special Order 16-023 Section 2.5 BWC Notice of Recording',
       'Sick & Injured Persons', 'Permissible Weapons & Ammunition',
       'Reporting Firearms Dishcarge', 'Uniforms And Equipment',
       'evidence', 'Accountability', 'Body Worn Camera Policy',
       'Training and Qualifications', 'Exchange of Badge Prohibited',
       'Domestic Violence', 'Failure to be Knowledgeable & Informed',
       'Mutual Protection', 'Sick Leave',
       'Special Order 15-028 Municipal Election',
       'Request for Interviews',
       'Change of Address Notification Violation', 'District Logging',
       'Situations Involving Family & Friend', 'Area Commanders',
       'Special Order 92-15 Towed Motor Vehicles', 'Improper Statements',
       'Leaves of Absence',
       'Rape Shield Consideration in Official Police Reports',
       'Improper Supervision', 'Violations of Rules & Procedures',
       'Special Order 97-35 Motor Vehicle Accidents Involving Dept. Vehicles and/or Sworn Personnel',
       'Situations Involving Off-Duty Boston Police Officers', 'alcohol',
       'Police Officer Assigned to Dept. M/V', 'Traffic Enforcement',
       'Radio Procedures',
       'Special Order 99-48 Dept E-Mail and Computer Use',
       'Drug Forfeiture Procedures', 'Reporting Law Violations',
       'uniforms and equipment', 'Leather/Nylon Equipment (3 counts)',
       'Reporting taking', 'Prisoner', 'Two-Way Radio & MDT Procedure',
       'Securing Motor Vehicle', 'Ballistic Procedures',
       'Booking Procedures', 'Police Officer Notifying Operations'],
      dtype=object)

In [110]:
df1.Finding.unique()

array(['Exonerated', 'Not Sustained', 'Sustained', 'Unfounded',
       'Withdrawn', 'Filed'], dtype=object)

In [111]:
df1.Outcome.unique()

array([nan, 'Oral Reprimand', 'Suspension', 'Retired/Resigned',
       'written reprimand', 'termination',
       'Terminated - reinstated through arbitration',
       'Suspension in abeyance', 'Counselling', 'Demotion',
       'Suspension Rescinded', 'suspension',
       'Terminated - reinstated through Civil Service Commission'],
      dtype=object)

In [112]:
# make a copy of df1
data = df1

data = data.replace({
    # TypeOfMisconduct
    'Citizen complaint': 0,
    'Internal investigation': 1,
    
    # Rank - higher is more power
    'Police Officer': 0,
    'Detective': 1,
    'Sergeant': 2,
    'Sergeant Detective':2,
    'Lieutenant': 3,
    'Lieutenantenant': 3,
    'Lieutenantenant Detective':3,
    'Captain': 4,
    'Deputy' : 4,
    'Deputy Superintendent': 5,
    'Superintendent': 5,
    
    # Race - 0 is White, 1 is everything else
    'White': 0,
    'Black': 1,
    'Hispanic': 1,
    'Asian': 1,
     
    # Finding - 0 for found innocent or not done yet, 1 for guilty
    'Withdrawn': 0,
    'Exonerated': 0,
    'Unfounded':0,
    'Filed': 0,
    'Not Sustained': 0,
    'Sustained': 1,
    
    # Gender
    'Male': 1,
    'Female': 0
    })

In [113]:
data

,Name,Rank,Race,Gender,Year,CaseID,TypeOfMisconduct,Allegation,Finding,Outcome,Contributed
0,Joseph Abasciano,0,0,1,2011,IAD2011-0182,0,Neg.Duty/Unreasonable Judge,0,NaN,1
1,Joseph Abasciano,0,0,1,2011,IAD2011-0182,0,Force,0,NaN,1
2,Joseph Abasciano,0,0,1,2013,IAD2013-0019,0,Neg.Duty/Unreasonable Judge,0,NaN,1
3,Joseph Abasciano,0,0,1,2019,IAD2019-0085,0,Abuse of Process,0,NaN,1
4,Ramadani Abdul-Aziz,0,1,1,2011,IAD2011-0258,0,Neg.Duty/Unreasonable Judge,1,Oral Reprimand,0
...,...,...,...,...,...,...,...,...,...,...,...
5654,Joseph M Zanoli,0,0,1,2016,IAD2016-0024,0,Force,0,NaN,0
5655,Kevin Zarnoch,0,0,1,2016,IAD2016-0203,1,Reporting for Duty,1,Oral Reprimand,0
5657,Robert M Zingg,1,0,1,2011,IAD2011-0553,1,Conduct Unbecoming,1,Counselling,1
5658,Robert M Zingg,1,0,1,2012,IAD2012-0039,0,Conduct Unbecoming,0,NaN,1
5659,Peter A Zographos,0,0,1,2012,IAD2012-0336,0,Neg.Duty/Unreasonable Judge,0,NaN,0

In [114]:
import statsmodels.api as sm

labels1 = data["Contributed"]
data1 = data.drop(["Name", "CaseID", "Contributed", "Outcome", "Allegation"], axis = 1)

logit_model = sm.Logit(labels1, data1).fit()
print(logit_model.summary())

Optimization terminated successfully.
         Current function value: 0.562487
         Iterations 5
                           Logit Regression Results
==============================================================================
Dep. Variable:            Contributed   No. Observations:                 4367
Model:                          Logit   Df Residuals:                     4361
Method:                           MLE   Df Model:                            5
Date:                Mon, 26 Apr 2021   Pseudo R-squ.:                 0.04441
Time:                        17:01:10   Log-Likelihood:                -2456.4
converged:                       True   LL-Null:                       -2570.5
Covariance Type:            nonrobust   LLR p-value:                 2.451e-47
====================================================================================
                       coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------------
Rank                 0.2747      0.034      8.125      0.000       0.208       0.341
Race                -0.6444      0.077     -8.337      0.000      -0.796      -0.493
Gender               0.1223      0.128      0.956      0.339      -0.128       0.373
Year                -0.0004   6.56e-05     -6.614      0.000      -0.001      -0.000
TypeOfMisconduct    -0.0540      0.102     -0.531      0.595      -0.253       0.145
Finding             -0.5203      0.100     -5.214      0.000      -0.716      -0.325
====================================================================================

From the logistic regression, we can see that Rank, Race, Gender, Year, and Finding all have significant p values. We will rerun a regression with only this significant.

In [115]:
data2 = data1.drop(["Gender", "TypeOfMisconduct"], axis = 1)
labels2 = data["Contributed"]

logit_model2 = sm.Logit(labels2, data2).fit()
print(logit_model2.summary())

Optimization terminated successfully.
         Current function value: 0.562634
         Iterations 5
                           Logit Regression Results
==============================================================================
Dep. Variable:            Contributed   No. Observations:                 4367
Model:                          Logit   Df Residuals:                     4363
Method:                           MLE   Df Model:                            3
Date:                Mon, 26 Apr 2021   Pseudo R-squ.:                 0.04416
Time:                        17:01:13   Log-Likelihood:                -2457.0
converged:                       True   LL-Null:                       -2570.5
Covariance Type:            nonrobust   LLR p-value:                 6.045e-49
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Rank           0.2705      0.033      8.106      0.000       0.205       0.336
Race          -0.6546      0.077     -8.526      0.000      -0.805      -0.504
Year          -0.0004   2.54e-05    -14.873      0.000      -0.000      -0.000
Finding       -0.5534      0.083     -6.657      0.000      -0.716      -0.390
==============================================================================

### Results
The logistic regression equation that could predict whether the person contributed or not is: probability contributed = 0.3075Rank -0.6816Race - 0.0004Year - 0.6297Finding.

1. Higher the rank, the more likely the person is to contribute. 
2. Race is encoded 0 for white and 1 for minority. From the coefficient predictor, we can see that it is negative indicating that if the person is white, they are more likely to contribute.
3. Year's coefficient is very close to 0 indicating that it most likely does not influence whether or not a person contributes.

### Next Steps
This is preliminary modeling with logistic regression. There are many more things we can do to build a more successful model. Many variables are currently left out including Allegation for simplicity. Finding was also encoded with 0 or 1 but could be useful to encode with other dummy variables.

# One-Hot Encoding

### For Race, Finding, and Outcome

In [198]:
# for race & finding bc outcome has nan values
Xvals_onehot_Race = pd.get_dummies(df1.Race)
Xvals_onehot_Finding = pd.get_dummies(df1.Finding)

X_vals_cat = pd.concat([Xvals_onehot_Race, Xvals_onehot_Finding], axis = 1).reindex(Xvals_onehot_Race.index)

smModel_onehot_Race = sm.Logit(labels2, X_vals_cat).fit()
print_model = smModel_onehot_Race.summary()
print(print_model)

Warning: Maximum number of iterations has been exceeded.
         Current function value: 0.560452
         Iterations: 35
                           Logit Regression Results
==============================================================================
Dep. Variable:            Contributed   No. Observations:                 4367
Model:                          Logit   Df Residuals:                     4357
Method:                           MLE   Df Model:                            9
Date:                Mon, 26 Apr 2021   Pseudo R-squ.:                 0.04787
Time:                        17:45:58   Log-Likelihood:                -2447.5
converged:                      False   LL-Null:                       -2570.5
Covariance Type:            nonrobust   LLR p-value:                 6.640e-48
=================================================================================
                    coef    std err          z      P>|z|      [0.025      0.975]
---------------------------------------------------------------------------------
Asian            -9.6721        nan        nan        nan         nan         nan
Black            -0.4393        nan        nan        nan         nan         nan
Hispanic          0.4683        nan        nan        nan         nan         nan
White             0.5117        nan        nan        nan         nan         nan
Exonerated       -1.1088        nan        nan        nan         nan         nan
Filed            -2.7696        nan        nan        nan         nan         nan
Not Sustained    -1.1309        nan        nan        nan         nan         nan
Sustained        -1.6354        nan        nan        nan         nan         nan
Unfounded        -0.9837        nan        nan        nan         nan         nan
Withdrawn        -1.5030        nan        nan        nan         nan         nan
=================================================================================
/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/statsmodels/base/model.py:566: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

In [199]:
X_vals_cat

,Asian,Black,Hispanic,White,Exonerated,Filed,Not Sustained,Sustained,Unfounded,Withdrawn
0,0,0,0,1,1,0,0,0,0,0
1,0,0,0,1,0,0,1,0,0,0
2,0,0,0,1,0,0,1,0,0,0
3,0,0,0,1,0,0,1,0,0,0
4,0,1,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...
5654,0,0,0,1,0,0,1,0,0,0
5655,0,0,0,1,0,0,0,1,0,0
5657,0,0,0,1,0,0,0,1,0,0
5658,0,0,0,1,0,0,1,0,0,0
5659,0,0,0,1,1,0,0,0,0,0