# This notebook preprocesses all the raw data regarding services and combine them into one big dataset.

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
food_retailers = '/content/gdrive/My Drive/Colab Notebooks/CS506FinalProject/food_retailers_2017_pt.csv'
merged =  '/content/gdrive/My Drive/Colab Notebooks/CS506FinalProject/Final_merge.xlsx'

In [ ]:
import pandas as pd
import re
import requests
import urllib.parse
import json
import ast

#Open space:

In [ ]:
osdf = pd.read_csv('/content/gdrive/My Drive/Colab Notebooks/CS506FinalProject/Open_Space_fully_processed.csv')
osdf.head(10)

                  name        type           address  zip        lat        lon
0          Wilson Park  open space  Allston-Brighton  NaN  42.340985 -71.145930
1      Nickerson Field  open space  Allston-Brighton  NaN  42.353369 -71.119283
2     Smith Playground  open space  Allston-Brighton  NaN  42.364359 -71.131411
3          Fern Square  open space  Allston-Brighton  NaN  41.211271 -81.496505
4    Ringer Playground  open space  Allston-Brighton  NaN  42.350446 -71.138224
5  McKinney Playground  open space  Allston-Brighton  NaN  42.354751 -71.152922
6          Hobart Park  open space  Allston-Brighton  NaN  42.355735 -71.161270
7       Jackson Square  open space  Allston-Brighton  NaN  42.322596 -71.100257
8          Boyden Park  open space  Allston-Brighton  NaN  42.339545 -71.166317
9   Evergreen Cemetery  open space  Allston-Brighton  NaN  42.338336 -71.162957

#Food retailers (groceries)

In [ ]:
# do food retailers 
df = pd.read_csv(food_retailers)
df.head()

   objectid  ...                                              shape
0         1  ...  2400000001000000010004006A6900000C000000010000...
1         2  ...  2400000001000000010004006A6900000C000000010000...
2         3  ...  2400000001000000010004006A6900000C000000010000...
3         4  ...  2400000001000000010004006A6900000C000000010000...
4         5  ...  2400000001000000010004006A6900000C000000010000...

[5 rows x 17 columns]

Drop the unnecessary infomation.

In [ ]:
columns_drop = ['address2', 'state', 'recordtype', 'data_year', 'source', 'market_id', 'ebt', 'coupons', 'shape']
df = df.drop(columns = columns_drop)
df.head(5)

   objectid      name  ...  longitude           prim_type
0         1  7-Eleven  ... -71.158960  Convenience Stores
1         2  7-Eleven  ... -71.221743  Convenience Stores
2         3  7-Eleven  ... -71.139769  Convenience Stores
3         4  7-Eleven  ... -71.151866  Convenience Stores
4         5  7-Eleven  ... -71.091320  Convenience Stores

[5 rows x 8 columns]

Check how many cities are in the dataset:

In [ ]:
all_municipal = set(df['municipal'].to_list())
print(all_municipal)

{'Lunenburg', 'Raynham', 'Mission Hill', 'Wenham', 'West Springfield', 'South Chatham', 'Ware', 'Holland', 'South Deerfield', 'Jamaica Plain', 'Wendell', 'Webster', 'Mill River', 'Brookline', 'Hanson', 'Hudson', 'Topsfield', 'Bedford', 'Fall River', 'Ipswich', 'Chilmark', 'Menemsha', 'West Bridgewater', 'Lanesborough', 'West Boylston', 'Cuttyhunk', 'Wilkinsonville', 'Dartmouth', 'Feeding Hills', 'Eastham', 'Hatfield', 'Merrimac', 'Warren', 'Nahant', 'Tyngsboro', 'Danvers', 'Gloucester', 'Burlington', 'Leeds', 'Melrose', 'Woods Hole', 'North Carver', 'Lancaster', 'Westport Point', 'Gill', 'Osterville', 'Granby', 'Green Harbor', 'Framingham', 'Leverett', 'Bernardston', 'Newburyport', 'Dighton', 'Millbury', 'Lynn', 'Edgartown', 'Charlemont', 'Millville', 'Templeton', 'Hopkinton', 'North Adams', 'North Marshfield', 'Ludlow', 'North Easton', 'West Roxbury', 'Cohasset', 'Teaticket', 'Billerica', 'Chatham', 'South Easton', 'Thorndike', 'Blandford', 'Westwood', 'Brant Rock', 'Nantucket', 'Shirley', 'North Eastham', 'Uxbridge', 'Seekonk', 'South Dennis', 'Brewster', 'Hyde Park', 'Dudley', 'Westborough', 'Auburn', 'Chester', 'Hyannis', 'Mansfield', 'Becket', 'Palmer', 'Boston', 'Bass River', 'Plympton', 'Hubbardston', 'East Wareham', 'Pembroke', 'West Tisbury', 'Halifax', 'Weston', 'East Falmouth', 'Hadley', 'Northampton', 'Hanover', 'Rockport', 'Newtonville', 'Lowell', 'Norfolk', 'Upton', 'Woburn', 'Onset', 'Chestnut Hill', 'Petersham', 'Barre', 'Peabody', 'Fairhaven', 'Montague', 'Cummington', 'Medford', 'Randolph', 'Holbrook', 'West Harwich', 'Orleans', 'Harwich Port', 'South Wellfleet', 'East Bridgewater', 'Waltham', 'West Dennis', 'North Attleboro', 'Hanscom AFB', 'Fitchburg', 'Boylston', 'Watertown', 'Winchendon', 'Chelmsford', 'Lincoln', 'Amesbury', 'Weymouth', 'Dover', 'North Andover', 'East Boston', 'Marblehead', 'North Dartmouth', 'Norton', 'Byfield', 'Ashfield', 'Dorchester', 'Housatonic', 'Millers Falls', 'Harwich', 'Needham Heights', 'Clinton', 'Stow', 'Millis', 'North Grafton', 'Norwood', 'Stoughton', 'Brookfield', 'Somerville', 'Cambridge', 'Richmond', 'Indian Orchard', 'Maynard', 'Southampton', 'Southborough', 'Whitman', 'Easthampton', 'Monterey', 'Monument Beach', 'Sharon', 'Marlborough', 'Ashby', 'South Hadley', 'Carlisle', 'Bondsville', 'Beverly', 'Natick', 'Provincetown', 'East Dennis', 'Phillipston', 'Harvard', 'West Wareham', 'Hampden', 'Middleton', 'East Brookfield', 'Hardwick', 'Fields Corner', 'North Uxbridge', 'Rowley', 'Norwell', 'North Quincy', 'Sandisfield', 'Charlestown', 'Southwick', 'Westford', 'East Orleans', 'Acton', 'Dracut', 'Foxboro', 'West Falmouth', 'Lawrence', 'East Sandwich', 'Medway', 'North Brookfield', 'Hopedale', 'Belchertown', 'Newbury', 'Newton Highlands', 'Roxbury', 'Paxton', 'Chicopee', 'West Newbury', 'Holliston', 'Mattapoisett', 'Bellingham', 'Huntington', 'North Chatham', 'Belmont', 'Hancock', 'Brockton', 'South Hamilton', 'New Bedford', 'Everett', 'Three Rivers', 'Ayer', 'East Walpole', 'Turners Falls', 'Berkley', 'Methuen', 'Franklin', 'Adams', 'Cherry Valley', 'Vineyard Haven', 'Attleboro Falls', 'South Barre', 'Marshfield', 'Siasconset', 'Salem', 'Greenfield', 'Egremont', 'Williamstown', 'Taunton', 'Shelburne', 'Monson', 'Athol', 'North Truro', 'West Chatham', 'Lenox Dale', 'Attleboro', 'Milford', 'Florence', 'Amherst', 'Stockbridge', 'Canton', 'South Lancaster', 'West Newton', 'West Groton', 'Leominster', 'Cheshire', 'Sutton', 'Allston', 'Middleboro', 'Wales', 'Yarmouth Port', 'Shutesbury', 'Boxford', 'Concord', 'Somerset', 'Shrewsbury', 'Goshen', 'Dedham', 'Erving', 'Dalton', 'Florida', 'Holden', 'Quincy', 'Whitinsville', 'Sterling', 'White Horse Bch', 'Savoy', 'Springfield', 'West Townsend', 'Grafton', 'Haverhill', 'Littleton', 'Hampshire', 'Bridgewater', 'West Stockbridge', 'Gardner', 'Sagamore Beach', 'South Yarmouth', 'Scituate', 'Northbridge', 'Pittsfield', 'Milton', 'Plymouth', 'North Reading', 'Newton', 'Carver', 'Mattapan', 'Truro', 'Hinsdale', 'Swansea', 'Walpole', 'Wellesley Hills', 'Longmeadow', 'Lexington', 'Pocasset', 'Dennis Port', 'West Barnstable', 'South Dartmouth', 'Salisbury', 'Tewksbury', 'Mendon', 'Waquoit', 'Buzzards Bay', 'Oak Bluffs', 'Kingston', 'Medfield', 'Wellfleet', 'Hull', 'Wakefield', 'Winthrop', 'Newton Center', 'East Longmeadow', 'Wilbraham', 'Marion', 'Avon', 'Groton', 'Lynnfield', 'Arlington', 'East Freetown', 'Assonet', 'Wayland', 'Easton', 'New Salem', 'Princeton', 'Ashland', 'Blackstone', 'Marstons Mills', 'Wellesley', 'Needham', 'Centerville', 'Worthington', 'East Taunton', 'Holyoke', 'Charlton', 'Sheffield', 'Mashpee', 'Rochester', 'Bolton', 'Chesterfield', 'Newton Upper Fls', 'Baldwinville', 'Andover', 'Great Barrington', 'Sandwich', 'Granville', 'Chartley', 'Agawam', 'Cataumet', 'Whately', 'Milton Village', 'Royalston', 'Lenox', 'Orange', 'Barnstable', 'Sagamore', 'Berlin', 'Westhampton', 'Wrentham', 'Otis', 'Westfield', 'Lakeville', 'East Weymouth', 'Dennis', 'Groveland', 'Essex', 'Accord', 'Hyannis Port', 'Worcester', 'Revere', 'North Billerica', 'Plainville', 'Hamilton', 'South Boston', 'Manomet', 'Saugus', 'Abington', 'South Weymouth', 'Manchestr By Sea', 'Southfield', 'Dorchester Ctr', 'Williamsburg', 'Stoneham', 'Marshfield Hills', 'Brimfield', 'North Weymouth', 'Roxbury Crossing', 'Fiskdale', 'Wareham', 'Russell', 'Sudbury', 'Falmouth', 'West Brookfield', 'Townsend', 'North Dighton', 'Lee', 'Cotuit', 'Brighton', 'Leicester', 'Gilbertville', 'Waban', 'Rehoboth', 'Pepperell', 'Acushnet', 'Roslindale', 'North Chelmsford', 'Spencer', 'Georgetown', 'Sturbridge', 'Hingham', 'South Grafton', 'Oxford', 'Ashburnham', 'Winchester', 'Sherborn', 'Westport', 'Shelburne Falls', 'Deerfield', 'North Oxford', 'Duxbury', 'Buckland', 'Braintree', 'West Yarmouth', 'Southbridge', 'East Otis', 'Sunderland', 'Northborough', 'Bourne', 'Wilmington', 'Conway', 'Malden', 'Westminster', 'Auburndale', 'Chelsea', 'Northfield', 'Wilbrham', 'North Falmouth', 'Reading', 'Boxborough', 'Swampscott', 'Rutland', 'Douglas', 'West Warren', 'Rockland'}

Check Zipcodes:

In [ ]:
all_zipcode = set(df['zipcode'].to_list())
print(all_zipcode)

{2048, 0, 2050, 2051, 2052, 2053, 2054, 2056, 2059, 2061, 2062, 2066, 2067, 2072, 2081, 2090, 2093, 2108, 2109, 2110, 2111, 2112, 2113, 2114, 2115, 2116, 2117, 2118, 2119, 2120, 2121, 2122, 2124, 2125, 2126, 2127, 2128, 2129, 2130, 2131, 2132, 2134, 2135, 2136, 2138, 2139, 2140, 2141, 2142, 2143, 2144, 2145, 2148, 2149, 2150, 2151, 2152, 2155, 2163, 2169, 2170, 2171, 2176, 2180, 2184, 2186, 2187, 2188, 2189, 2190, 2191, 2199, 2201, 2203, 2210, 2215, 2222, 2301, 2302, 2322, 2324, 2330, 2332, 2333, 2334, 2338, 2339, 2341, 2343, 2345, 2346, 2347, 2351, 2355, 2356, 2359, 2360, 2364, 2367, 2368, 2370, 2375, 2379, 2381, 2382, 2420, 2421, 2445, 2446, 2451, 2452, 2453, 2458, 2459, 2460, 2461, 2464, 2465, 2466, 2467, 2468, 2472, 2474, 2476, 2478, 2481, 2482, 2492, 2493, 2494, 2532, 2534, 2535, 2536, 2537, 2538, 2539, 2540, 2543, 2552, 2553, 2554, 2556, 2557, 2558, 2559, 2561, 2562, 2563, 2564, 2568, 2571, 2574, 2575, 2576, 2601, 2630, 2631, 2632, 2633, 2635, 2638, 2639, 2641, 2642, 2643, 2645, 2646, 2647, 2648, 2649, 2650, 2651, 2652, 2653, 2655, 2657, 2659, 2660, 2663, 2664, 2666, 2667, 2668, 2669, 2670, 2671, 2673, 2675, 2702, 2703, 2712, 2713, 2715, 2717, 2718, 2719, 2720, 2721, 2722, 2723, 2724, 2725, 2726, 2738, 2739, 2740, 2741, 2743, 2744, 2745, 2746, 2747, 2748, 2760, 2762, 2763, 2764, 2766, 2767, 2769, 2770, 2771, 2777, 2779, 2780, 2790, 2791, 1001, 1002, 1005, 1007, 1008, 1009, 1010, 1011, 1012, 1013, 1020, 1022, 1026, 1027, 1028, 1029, 1030, 1031, 1032, 1033, 1034, 1035, 1036, 1037, 1038, 1040, 1050, 1053, 1054, 1056, 1057, 1060, 1062, 1063, 1069, 1071, 1072, 1073, 1074, 1075, 1077, 1079, 1080, 1081, 1082, 1083, 1085, 1089, 1092, 1093, 1095, 1096, 1098, 1101, 1102, 1103, 1104, 1105, 1106, 1107, 1108, 1109, 1118, 1119, 1128, 1129, 1144, 1151, 1201, 1220, 1223, 1225, 1226, 1230, 1235, 1236, 1237, 1238, 1240, 1242, 1244, 1245, 1247, 1253, 1254, 1255, 1256, 1257, 1259, 1262, 1266, 1267, 1301, 1330, 1331, 1337, 1338, 1339, 1341, 1342, 1344, 1349, 1351, 1354, 1355, 1360, 1364, 1366, 1368, 1370, 1373, 1375, 1376, 1379, 1420, 1430, 1431, 1432, 1436, 1440, 1450, 1451, 1452, 1453, 1460, 1462, 1463, 1464, 1468, 1469, 1472, 1473, 1474, 1475, 1501, 1503, 1504, 1505, 1506, 1507, 1510, 1515, 1516, 1518, 1519, 1520, 1521, 1523, 1524, 1527, 1529, 1532, 1534, 1535, 1536, 1537, 1538, 1540, 1541, 1543, 1545, 1550, 1560, 1561, 1562, 1564, 1566, 1568, 1569, 1570, 1571, 1581, 1583, 1585, 1588, 1590, 1602, 1603, 1604, 1605, 1606, 1607, 1608, 1609, 1610, 1611, 1612, 1653, 1701, 1702, 1719, 1720, 1721, 1730, 1731, 1740, 1741, 1742, 1746, 1747, 1748, 1749, 1752, 1754, 1756, 1757, 1760, 1770, 1772, 1773, 1775, 1776, 1778, 1801, 1803, 1810, 1821, 1824, 1826, 1830, 1832, 1833, 1834, 1835, 1840, 1841, 1843, 1844, 1845, 1850, 1851, 1852, 1854, 1860, 1862, 1863, 1864, 1867, 1876, 1879, 1880, 1886, 1887, 1890, 1901, 1902, 1904, 1905, 1906, 1907, 1908, 1913, 1915, 1921, 1922, 1923, 1929, 1930, 1931, 1936, 1938, 1940, 1944, 1945, 1949, 1950, 1951, 1952, 1960, 1966, 1969, 1970, 1982, 1983, 1984, 1985, 2018, 2019, 2020, 2021, 2025, 2026, 2030, 2032, 2035, 2038, 2041, 2043, 2045}

Preprocess and drop unneeded instances.

In [ ]:
def is_city_Boston(zipcode):
  """zipcode: an integer number which is the zipcode"""
  """return true if it is within city of Boston; false otherwise"""
  zip = [2108, 2109, 2110, 2111, 2112, 2113, 2114, 2115, 2116, 2117, 2118, 2119, 2120, 2121, 2122, 2123, 
         2124, 2125, 2126, 2127, 2128, 2129, 2130, 2131, 2132, 2133, 2134, 2135, 2136, 2137, 2163,
         2196, 2199, 2201, 2203, 2204, 2205, 2206, 2210, 2211, 2212, 2215, 2217, 2222, 2241, 2266, 
         2283, 2284, 2293, 2297, 2298]
  if zipcode in zip:
    return 1
  return 0

In [ ]:
all_prim_types = set(df['prim_type'].to_list())
print(all_prim_types)

{'Fruit & Vegetable Markets', 'Winter Markets', 'Department Stores (Except Discount Dept Stores)', 'Meat Markets', 'Fish & Seafood Markets', '452990', 'Supermarkets/Other Grocery (Exc Convenience) Strs', 'Farmers Markets', 'Warehouse Clubs & Supercenters', 'All Other Specialty Food Stores', 'Convenience Stores', 'Pharmacies & Drug Stores'}

The final data type should be:

'name', 'type', 'address', 'zip', 'lat', 'lon'

In [ ]:
columns_drop = ['objectid', 'municipal', 'prim_type']
df = df.drop(columns = columns_drop)
df = df.rename(columns = {'zipcode':'zip', 'latitude':'lat', 'longitude':'lon'})
df.insert(1, 'type', 'grocery')
df.head(5)

       name     type             address   zip        lat        lon
0  7-Eleven  grocery   462 Washington St  2135  42.348527 -71.158960
1  7-Eleven  grocery  131 Middlesex Tpke  1803  42.487965 -71.221743
2  7-Eleven  grocery    226 Winthrop Ave  1843  42.686019 -71.139769
3  7-Eleven  grocery        1693 Route 6  2726  41.754381 -71.151866
4  7-Eleven  grocery        226 Broadway  2780  41.920467 -71.091320

#Boston Business:
Load dataset:

In [ ]:
# do the last dataset
mdf = pd.read_excel(merged)
mdf.head(3)

   Unnamed: 0  LAT(Bing)  LON(Bing)  ... Final_Zips  Final_Lon  Final_Lat
0           0  42.342962 -71.068945  ...       2118 -71.068979  42.342915
1           1  42.342103 -71.070354  ...       2118 -71.070373  42.342101
2           2  42.343681 -71.065255  ...       2118 -71.065280  42.343664

[3 rows x 57 columns]

Drop all the unnecessary infomation. There are too many of them, so I do it in 2 steps.

In [ ]:
c_todrop = ['Unnamed: 0', 'BING_BUSINESS_OTHER_TYPES', 'BING_FULL_ADDRESS', 'Google_place_id', 'Google_opening_hours', 'Google_price_level', 'Google_rating', 'Google_user_ratings_total', 'Google_reference',
            'Google_viewport', 'H distance', 'Fuzzy Similarity', 'Yelp_id', 'Yelp_phone', 'Yelp_price', 'Yelp_rating', 'Yelp_review_count', 'UUID']
mdf = mdf.drop(columns = c_todrop)
mdf.head(3)

   LAT(Bing)  LON(Bing) ADDRESS_LINE(Bing)  ... Final_Zips  Final_Lon  Final_Lat
0  42.342962 -71.068945    278 Shawmut Ave  ...       2118 -71.068979  42.342915
1  42.342103 -71.070354    314 Shawmut Ave  ...       2118 -71.070373  42.342101
2  42.343681 -71.065255  117 E Berkeley St  ...       2118 -71.065280  42.343664

[3 rows x 39 columns]

In [ ]:
c_todrop = ['All_addresses', 'All_Zips', 'All_Lat', 'All_Lon', 'locationName(Yellowpages)', 'Yellowpages_categories', 'Yellowpages_locationAddress', 'Yellowpages_locationCity', 'Yellowpages_locationState',
            'Yellowpages_locationZip', 'Yellowpages_locationPhone', 'Yellowpages_openTime', 'Years In Business(Yellowpages)']
mdf = mdf.drop(columns = c_todrop)
mdf.head(3)

   LAT(Bing)  LON(Bing) ADDRESS_LINE(Bing)  ... Final_Zips  Final_Lon  Final_Lat
0  42.342962 -71.068945    278 Shawmut Ave  ...       2118 -71.068979  42.342915
1  42.342103 -71.070354    314 Shawmut Ave  ...       2118 -71.070373  42.342101
2  42.343681 -71.065255  117 E Berkeley St  ...       2118 -71.065280  42.343664

[3 rows x 26 columns]

### Find all the business types from Bing

In [ ]:
all_bing_business_types = list(set(mdf['BING_BUSINESS_TYPE'].to_list()))
all_bing_business_types = all_bing_business_types[1:] # remove the first nan
all_bing_business_types.sort()
print(all_bing_business_types)

['ATMs', 'Abuse and Addiction Treatment', 'Accounting and Bookkeeping', 'Acupuncturists', 'Adult Education', 'Adult Entertainment', 'Advertising Agencies', 'Afghani Restaurant', 'African Restaurant', 'Air Conditioning Services', 'Airline Ticket Offices', 'Airport Shuttles', 'Airports', 'Alcohol and Drug Treatment Centers', 'Allergists and Immunologists', 'Alternative Medicine', 'Alternative Schools', 'Ambulance and EMS Services', 'American Restaurant', 'Amusement Parks', 'Anesthesiologists', 'Animal Shelters and Humane Societies', 'Animal and Pet Services', 'Antique Stores', 'Apartments', 'Apparel', 'Apparel Accessories', 'Aquariums', 'Armed Forces', 'Art Galleries', 'Art Museums', 'Art Schools', 'Arts and Crafts Supply Stores', 'Arts and Entertainment', 'Assisted Living and Care Services', 'Associations', 'Attractions', 'Audio-Visual Production and Design', 'Audiologists', 'Australian Restaurant', 'Auto Body Shops', 'Auto Detailing Services', 'Auto Maintenance and Repair', 'Auto Parts and Accessories Stores', 'Auto Road Services', 'Auto and Home Insurance', 'Automotive and Vehicle', 'Automotive and Vehicles', 'B2B Advertising', 'B2B Auto Parts', 'B2B Autos and Vehicles', 'B2B Business Services', 'B2B Electronic Equipment', 'B2B Equipment Maintenance and Repair', 'B2B Farms', 'B2B Food Products', 'B2B Fuel Oil', 'B2B Furniture and Housewares', 'B2B Jewelers', 'B2B Office Furniture', 'B2B Promotional Products and Services', 'B2B Restaurant Equipment and Supplies', 'B2B Restaurant Services', 'B2B Rubber and Plastics', 'B2B Scientific Equipment', 'B2B Signage', 'B2B Storage and Transportation', 'B2B Textiles', 'B2B Truck Dealers', 'B2B Truck Repair and Service', 'B2B Vending Machines', 'Baby Supply Stores', 'Bagels', 'Bakeries', 'Banking and Finance', 'Banks and Credit Unions', 'Barbecue', 'Barbers', 'Barbers and Hair Salons', 'Bariatric Medicine', 'Bars', 'Baseball', 'Basketball', 'Beaches', 'Beauty Salons', 'Beauty Supply Stores', 'Beauty and Spa', 'Bed and Breakfasts', 'Bedding and Bath Stores', 'Bicycle Shops', 'Boat and Yacht Dealers', 'Book Publishers', 'Bookstores', 'Botanical Gardens', 'Boutique Stores', 'Bowling', 'Brake Service and Repair', 'Brazilian Restaurant', 'Breakfast', 'Breweries', 'Bridal Wear Stores', 'British Restaurant', 'Brokers', 'Buffet', 'Bus Stations', 'Buses and Charters', 'Business Brokers', 'Business Centers', 'Business Consultants', 'Business Management Services', 'Business Records Storage and Management', 'Business-to-Business', 'Butcher Shop', 'CD and Record Stores', 'Cable and Satellite Television Services', 'Café', 'Cajun and Creole Restaurant', 'Camera Shops', 'Camps', 'Cancer Treatment Centers', 'Candy and Confectionery Stores', 'Cantonese Restaurant', 'Car Rentals', 'Car Washes', 'Car and Limousine Services', 'Cardiologists', 'Cargo and Freight Services', 'Caribbean Restaurant', 'Cars and Trucks', 'Cash Registers and Supplies', 'Casinos', 'Casting, Molding and Machining', 'Catering', 'Cemeteries', 'Chambers of Commerce', 'Charitable Organizations', 'Charter Schools', 'Cheese Shops', "Children's Clothing Stores", 'Chinese Restaurant', 'Chiropractors', 'Churches', 'Cigar and Tobacco Shops', 'Cinema', 'Cleaning Services', 'Clinical Laboratories', 'Cocktail Lounges', 'Coffee Houses', 'Collectibles Stores', 'Colleges and Universities', 'Comic Book Stores', 'Commercial Printers', 'Community Centers', 'Community and Junior Colleges', 'Computer Coaching', 'Computer Service and Repair Stores', 'Condominiums and Townhouses', 'Consulting Engineers', 'Convenience Stores', 'Convention Centers', 'Cooking Schools', 'Cosmetic Dentistry', 'Cosmetics and Perfume Shops', 'Costume Stores', 'Courts', 'Credit and Debt Counseling', 'Creperies', 'Crisis Intervention Services', 'Crops', 'Cruises', 'Currency Exchange Services', 'Dance Groups and Organizations', 'Dance Schools', 'Day Spas', 'Daycares', 'Delicatessens', 'Delivery Service', 'Dental Care', 'Dentists', 'Department Stores', 'Dermatologists', 'Desserts', 'Diagnostic Centers', 'Dialysis Clinics', 'Dim Sum Restaurant', 'Diners', 'Direct Mail Advertising', 'Discount Stores', 'Doctors', 'Doctors and Clinics', 'Donuts', 'Driving Schools', 'Ear, Nose and Throat', 'Eating Disorder Treatment Centers', 'Education', 'Educational Research Institutes', 'Electric Companies', 'Electricity', 'Electronics Service and Repair Stores', 'Electronics Stores', 'Elementary Schools', 'Embassies and Consulates', 'Emergency Rooms', 'Endocrinologists', 'Energy Management and Conservation Consultants', 'Engineering Services', 'Environmental Consultants', 'Ethnic Food Stores', 'Executive Search Consultants', 'Exhaust and Muffler Repair', 'Eye Care', 'Fabric Shops', 'Fairs', 'Family Activity Centers', 'Family and General Practice Physicians', 'Farmers Markets', 'Farming', 'Fast Food', 'Federal Government Offices', 'Ferries', 'Financial and Investment Planning', 'Fire Protection', 'Fish Markets', 'Flea Markets', 'Flooring and Carpet Stores', 'Florists and Gift Shops', 'Food Trucks', 'Food and Drink', 'Formal Wear Stores', 'Foster Care Services', 'Fraternities and Sororities', 'Freight Agents and Brokers', 'French Restaurant', 'Frozen Yogurt', 'Fruit and Vegetable Stands', 'Furniture Stores', 'Game Arcades', 'Gas Stations', 'Gastroenterologists', 'Golf', 'Golf Courses', 'Golf Equipment and Supply Stores', 'Government Services', 'Government and Community', 'Greek Restaurant', 'Grocery', 'Ground Transportation', 'Guest Houses', 'Gynecologists', 'Hair Removal', 'Hair Salons', 'Handbag Stores', 'Hat Stores', 'Haunted Houses', 'Hawaiian Restaurant', 'Health Clinics', 'Health Insurance', 'Health and Beauty Supplies', 'Healthcare', 'Heating Services', 'Helicopter Charters', 'High Schools', 'Hindu Temples', 'Historical Sites', 'Hobby Shops', 'Hockey', 'Holding Companies', 'Holistic Medicine', 'Home Appliance Stores', 'Home Builders', 'Home Décor Stores', 'Home Improvement Stores', 'Home and Garden', 'Homeless Shelters', 'Hospices', 'Hospitals', 'Hostels', 'Hot Dogs', 'Hotels', 'Housewares', 'Housing Authorities', 'Human Resource Services', 'Hunting and Fishing Stores', 'Hypnosis And Hypnotherapy', 'Ice Cream Parlors', 'Importers', 'Indian Restaurant', 'Industrial Cleaning Services', 'Industrial Equipment', 'Infectious Disease Specialists', 'Information Services', 'Information Technology Companies', 'Insurance', 'Internal Medicine Specialists', 'Internet Cafes', 'Internet Services', 'Irish Restaurant', 'Italian Restaurant', 'Jails and Prisons', 'Japanese Restaurant', 'Jazz Clubs', 'Jewelry and Watches Stores', 'Juices', 'Junior and Middle Schools', 'Justice, Public Order, and Safety Activities', 'Karaoke', 'Kitchenware Stores', 'Korean Restaurant', 'Labor Organizations and Unions', 'Language Schools', 'Latin American Restaurant', 'Lawyers', 'Legal Services', 'Libraries', 'Licensing Services', 'Life Insurance', 'Lighting Stores', 'Lingerie Stores', 'Liquor and Wine Stores', 'Live Music', 'Loan Lending Companies', 'Local and State Government Offices', 'Luggage and Travel Accessories Stores', 'Mailing and Shipping Services', 'Malaysian Restaurant', 'Malls and Shopping Centers', 'Manufactured and Mobile Homes', 'Marijuana Stores', 'Marinas', 'Marketing Consultants', 'Martial Arts and Self-Defense', 'Massage', 'Medical Centers', 'Medical Schools', 'Medical Supply and Equipment Stores', 'Mediterranean Restaurant', "Men's Clothing Stores", 'Mental Health Services', 'Metals', 'Mexican Restaurant', 'Middle Eastern Restaurant', 'Midwife Services', 'Mills', 'Mobile Phones and Services', 'Modeling Agencies', 'Money Transfer Services', 'Monuments', 'Moroccan Restaurant', 'Mortgage Brokers', 'Mortgage Lenders', 'Mosques', 'Motion Picture Producers and Studios', 'Motor Freight Trucking', 'Motorcycle Dealers', 'Motorcycle Repair and Service', 'Movie Theaters', 'Museums', 'Music Production Services', 'Music Schools', 'Music Stores', 'Musical Instrument Stores', 'Nail Salons', 'National Security Services', 'Natural Gas Companies', 'Naturopathic Physicians', 'Nephrologists', 'Neurologists', 'New Car and Truck Dealers', 'News and Media', 'Newspaper and Magazine Stands', 'Newspapers', 'Nightclubs', 'Non-Governmental Organizations', 'Notaries', 'Nursing Homes and Life Care Facilities', 'Nursing Schools', 'Nutritionists And Dietitians', 'Oil Change Services', 'Oncologists', 'Ophthalmologists', 'Optical Stores', 'Optometrists', 'Oral and Maxillofacial Surgeons', 'Orthodontists', 'Orthopedic Medicine', 'Outdoor Advertising', 'Outdoor Recreational Equipment Stores', 'Outlet Stores', 'Pancakes and Waffles', 'Park and Rides', 'Parking', 'Parks', 'Parks and Recreation', 'Party Supply Stores', 'Party and Event Planning', 'Paternity Tests and Services', 'Pathologists', 'Pawn Shops', 'Payroll Services', 'Pediatric Dentists', 'Pediatricians', 'Peruvian Restaurant', 'Pet Supply Stores', 'Pharmacies', 'Pharmacy Schools', 'Physical Fitness Facilities', 'Physical Therapists', 'Pizzeria', 'Places of Worship', 'Playgrounds', 'Podiatrists', 'Police and Sheriffs', 'Polish Restaurant', 'Pool and Billiards', 'Pool and Spa Supply Stores', 'Portuguese Restaurant', 'Postal Services', 'Poultry Farming', 'Preschool and Kindergarten', 'Pretzels', 'Private Schools', 'Professionals and Services', 'Property Management and Maintenance', 'Psychiatrists', 'Psychologists', 'Psychotherapists', 'Public Transit', 'Publicity Services', 'Publishers and Printers', 'RV Dealers and Rentals', 'RVs and Trailers', 'Racing and Race Tracks', 'Radio Stations', 'Radio and Television Commercials', 'Radiologists', 'Real Estate', 'Real Estate Agents and Brokers', 'Real Estate Services', 'Recreation Centers and Gymnasiums', 'Rehabilitation Services', 'Religion', 'Rental Services', 'Resorts', 'Restaurant Management', 'Restaurants', 'Retail', 'Rheumatologists', 'Rock Climbing', 'Sandwiches', 'School District Offices', 'School and Office Supply Stores', 'Schools', 'Science Schools', 'Scientific Laboratories', 'Scrap Metals', 'Screen Printing', 'Seafood', 'Senior Citizen Services', 'Shanghai Food Restaurant', 'Sheet Metal', 'Shipyards', 'Shoe Repair Services', 'Shoe Stores', 'Shooting Ranges', 'Sichuan Restaurant', 'Sightseeing Tours', 'Skating Rinks', 'Sleep Disorder Centers', 'Snow Sports Stores', 'Soba Udon and Ramen Restaurant', 'Soccer', 'Social Service Organizations', 'Social and Human Services', 'Soul Food Restaurant', 'Southwestern Restaurant', 'Spanish Restaurant', 'Special Education', 'Specialty Education', 'Speech Pathologists', 'Sporting Goods Stores', 'Sports Bars', 'Sports Clubs', 'Sports Medicine', 'Sports and Outdoors', 'Sports and Recreation', 'Sportswear Stores', 'Stadiums and Playing Fields', 'Steak House', 'Stock and Bond Brokers', 'Suicide Prevention Services', 'Sunglass Stores', 'Supermarkets', 'Sushi Restaurant', 'Swimming Pools', 'Swimwear Stores', 'Synagogues', 'Tailors', 'Taiwanese Restaurant', 'Take Away', 'Tanning Salons', 'Tapas', 'Tattoos and Piercings', 'Tax Return Preparation and Filing', 'Taxation', 'Taxi Services', 'Tea Lounges', 'Telecommunications Companies', 'Telephone Services', 'Television Stations', 'Tennis', 'Thai Restaurant', 'Theaters and Performance Venues', 'Thrift Stores', 'Tire Stores', 'Tourist Information', 'Toy and Game Stores', 'Trailer Parts and Accessories Stores', 'Train Stations', 'Transcription Services', 'Travel', 'Travel Accommodations', 'Travel Agencies', 'Trophies and Awards Shops', 'Trucking', 'Trucks and Industrial Vehicles', 'Trusts', 'Turkish Restaurant', 'Tutoring Services', 'Uniform Stores', 'Urgent Care', 'Urologists', 'Used Car and Truck Dealers', 'Utilities', 'Vacation Home Rentals', 'Vegetarian and Vegan Restaurant', 'Veterans Associations', 'Veterinarians', 'Video Stores', 'Vietnamese Restaurant', 'Vitamin and Supplement Stores', 'Vocational and Training Schools', 'Warehouse Club Stores', 'Warehouses', 'Waste Management Services', 'Watch Repair and Services', 'Water Treatment Equipment and Services', 'Water and Sewer Utilities', 'Wig and Hairpiece Stores', 'Wildlife Sanctuaries', 'Wine Bars', 'Wineries', "Women's Clothing Stores", 'Yard and Garden Supply Stores', 'Yarn and Knitting Stores', 'Yoga', 'Youth Organizations', 'Zoos']

### Find all the business types from Google

In [ ]:
def sum_lists(lists):
  """lists: a 2d list"""
  """return a 1d list"""
  templist = []
  for i in lists:
    if type(i) != float: # nan
      i = re.sub("'", '', i)
      i_list = i.strip("[]").split(", ") # remove both , and whitespace
      templist += i_list
  return templist

temp = mdf['Google_business_types'].to_list()
all_google_business_types = list(set(sum_lists(temp)))
all_google_business_types.sort()
print(all_google_business_types)

['accounting', 'airport', 'aquarium', 'art_gallery', 'atm', 'bakery', 'bank', 'bar', 'beauty_salon', 'bicycle_store', 'book_store', 'bowling_alley', 'bus_station', 'cafe', 'campground', 'car_dealer', 'car_rental', 'car_repair', 'car_wash', 'cemetery', 'church', 'city_hall', 'clothing_store', 'convenience_store', 'courthouse', 'dentist', 'department_store', 'doctor', 'drugstore', 'electrician', 'electronics_store', 'embassy', 'establishment', 'finance', 'fire_station', 'florist', 'food', 'funeral_home', 'furniture_store', 'gas_station', 'general_contractor', 'grocery_or_supermarket', 'gym', 'hair_care', 'hardware_store', 'health', 'hindu_temple', 'home_goods_store', 'hospital', 'insurance_agency', 'jewelry_store', 'laundry', 'lawyer', 'library', 'light_rail_station', 'liquor_store', 'local_government_office', 'locality', 'locksmith', 'lodging', 'meal_delivery', 'meal_takeaway', 'mosque', 'movie_rental', 'movie_theater', 'moving_company', 'museum', 'natural_feature', 'neighborhood', 'night_club', 'painter', 'park', 'parking', 'pet_store', 'pharmacy', 'physiotherapist', 'place_of_worship', 'plumber', 'point_of_interest', 'police', 'political', 'post_office', 'premise', 'primary_school', 'real_estate_agency', 'restaurant', 'roofing_contractor', 'rv_park', 'school', 'secondary_school', 'shoe_store', 'shopping_mall', 'spa', 'stadium', 'storage', 'store', 'subway_station', 'supermarket', 'synagogue', 'tourist_attraction', 'train_station', 'transit_station', 'travel_agency', 'university', 'veterinary_care', 'zoo']

### Find all the business types from Yelp.

In [ ]:
temp = mdf['Yelp_categories'].to_list()
all_Yelp_categories	= list(set(sum_lists(temp)))
all_Yelp_categories.sort()
print(all_Yelp_categories)

['', '"Childrens Clothing"', '"Childrens Museums"', '"Mens Clothing"', '"Mens Hair Salons"', '"Womens Clothing"', '& Probates', '3D Printing', 'Acai Bowls', 'Accessories', 'Accountants', 'Acne Treatment', 'Active Life', 'Acupuncture', 'Adult', 'Adult Education', 'Adult Entertainment', 'Advertising', 'Aerial Fitness', 'Aestheticians', 'Afghan', 'African', 'Airlines', 'Airport Lounges', 'Airport Shuttles', 'Airport Terminals', 'Amateur Sports Teams', 'American (New)', 'American (Traditional)', 'Animal Shelters', 'Antiques', 'Apartment Agents', 'Apartments', 'Appliances', 'Appliances & Repair', 'Appraisal Services', 'Aquarium Services', 'Aquariums', 'Arcades', 'Architects', 'Art Classes', 'Art Galleries', 'Art Museums', 'Art Schools', 'Art Space Rentals', 'Art Supplies', 'Arts & Crafts', 'Arts & Entertainment', 'Asian Fusion', 'Assisted Living Facilities', 'Auction Houses', 'Audio/Visual Equipment Rental', 'Audiologist', 'Australian', 'Auto Customization', 'Auto Detailing', 'Auto Glass Services', 'Auto Insurance', 'Auto Loan Providers', 'Auto Parts & Supplies', 'Auto Repair', 'Auto Upholstery', 'Automotive', 'Baby Gear & Furniture', 'Bagels', 'Bakeries', 'Balloon Services', 'Bangladeshi', 'Bankruptcy Law', 'Banks & Credit Unions', 'Barbeque', 'Barbers', 'Barre Classes', 'Bars', 'Bartenders', 'Baseball Fields', 'Basketball Courts', 'Beaches', 'Beauty & Spas', 'Bed & Breakfast', 'Beer', 'Beer Bar', 'Beer Gardens', 'Beer Tours', 'Behavior Analysts', 'Bespoke Clothing', 'Bike Rentals', 'Bike Repair/Maintenance', 'Bike tours', 'Bikes', 'Blood & Plasma Donation Centers', 'Blow Dry/Out Services', 'Boat Charters', 'Boat Tours', 'Boating', 'Body Shops', 'Bookkeepers', 'Bookstores', 'Boot Camps', 'Boudoir Photography', 'Bowling', 'Boxing', 'Brasseries', 'Brazilian', 'Brazilian Jiu-jitsu', 'Breakfast & Brunch', 'Breweries', 'Brewpubs', 'Bridal', 'British', 'Bubble Tea', 'Buffets', 'Building Supplies', 'Burgers', 'Burmese', 'Bus Stations', 'Bus Tours', 'Buses', 'Business Consulting', 'Business Law', 'Butcher', 'CPR Classes', 'Cabaret', 'Cabinetry', 'Cafes', 'Cafeteria', 'Cajun/Creole', 'Calligraphy', 'Cambodian', 'Candy Stores', 'Cannabis Clinics', 'Cannabis Collective', 'Cantonese', 'Car Brokers', 'Car Buyers', 'Car Dealers', 'Car Rental', 'Car Stereo Installation', 'Car Wash', 'Car Window Tinting', 'Cardio Classes', 'Cards & Stationery', 'Career Counseling', 'Caribbean', 'Carousels', 'Carpenters', 'Carpet Cleaning', 'Carpet Installation', 'Carpeting', 'Catalan', 'Caterers', 'Champagne Bars', 'Check Cashing/Pay-day Loans', 'Cheese Shops', 'Cheesesteaks', 'Chicken Shop', 'Chicken Wings', 'Child Care & Day Care', 'Childbirth Education', 'Chimney Sweeps', 'Chinese', 'Chinese Martial Arts', 'Chiropractors', 'Chocolatiers & Shops', 'Christmas Trees', 'Churches', 'Cinema', 'Circuit Training Gyms', 'Climbing', 'Clock Repair', 'Cocktail Bars', 'Coffee & Tea', 'Coffee Roasteries', 'College Counseling', 'Colleges & Universities', 'Colombian', 'Comedy Clubs', 'Comfort Food', 'Comic Books', 'Commercial Real Estate', 'Community Centers', 'Community Gardens', 'Community Service/Non-Profit', 'Computers', 'Concierge Medicine', 'Condominiums', 'Contractors', 'Convenience Stores', 'Cooking Classes', 'Cosmetic Dentists', 'Cosmetic Surgeons', 'Cosmetics & Beauty Supply', 'Cosmetology Schools', 'Costumes', 'Counseling & Mental Health', 'Countertop Installation', 'Couriers & Delivery Services', 'Courthouses', 'Crane Services', 'Cremation Services', 'Creperies', 'Criminal Defense Law', 'Crisis Pregnancy Centers', 'Cryotherapy', 'Cuban', 'Cultural Center', 'Cupcakes', 'Currency Exchange', 'Custom Cakes', 'Customized Merchandise', 'Cycling Classes', 'DJs', 'DUI Law', 'Damage Restoration', 'Dance Clubs', 'Dance Schools', 'Dance Studios', 'Data Recovery', 'Day Spas', 'Decks & Railing', 'Delis', 'Demolition Services', 'Dentists', 'Department Stores', 'Departments of Motor Vehicles', 'Dermatologists', 'Desserts', 'Diagnostic Imaging', 'Diamond Buyers', 'Dietitians', 'Dim Sum', 'Diners', 'Dinner Theater', 'Disability Law', 'Discount Store', 'Distilleries', 'Dive Bars', 'Divorce & Family Law', 'Do-It-Yourself Food', 'Doctors', 'Dog Parks', 'Dog Walkers', 'Dominican', 'Donation Center', 'Donuts', 'Door Sales/Installation', 'Doulas', 'Driving Schools', 'Drugstores', 'Dry Cleaning', 'Drywall Installation & Repair', 'Dumpster Rental', 'Ear Nose & Throat', 'Editorial Services', 'Education', 'Educational Services', 'Egyptian', 'Elder Law', 'Electricians', 'Electronics', 'Electronics Repair', 'Elementary Schools', 'Embroidery & Crochet', 'Emergency Pet Hospital', 'Emergency Rooms', 'Empanadas', 'Employment Agencies', 'Employment Law', 'Endodontists', 'Engraving', 'Environmental Abatement', 'Escape Games', 'Estheticians', 'Ethiopian', 'Event Photography', 'Event Planning & Services', 'Excavation Services', 'Eyebrow Services', 'Eyelash Service', 'Eyewear & Opticians', 'Fabric Stores', 'Falafel', 'Family Practice', 'Farmers Market', 'Fashion', 'Fast Food', 'Fences & Gates', 'Fencing Clubs', 'Ferries', 'Festivals', 'Financial Advising', 'Financial Services', 'Fireplace Services', 'First Aid Classes', 'Fish & Chips', 'Fishing', 'Fitness & Instruction', 'Flooring', 'Floral Designers', 'Florists', 'Flowers & Gifts', 'Fondue', 'Food Banks', 'Food Court', 'Food Delivery Services', 'Food Stands', 'Food Tours', 'Food Trucks', 'Formal Wear', 'Framing', 'French', 'Fruits & Veggies', 'Funeral Services & Cemeteries', 'Fur Clothing', 'Furniture Assembly', 'Furniture Repair', 'Furniture Reupholstery', 'Furniture Stores', 'Game Truck Rental', 'Garage Door Services', 'Gardeners', 'Gas Stations', 'Gastroenterologist', 'Gastropubs', 'Gay Bars', 'Gelato', 'General Dentistry', 'General Litigation', 'Gift Shops', 'Glass & Mirrors', 'Gluten-Free', 'Gold Buyers', 'Golf', 'Golf Lessons', 'Graphic Design', 'Greek', 'Grocery', 'Guest Houses', 'Guitar Stores', 'Gutter Services', 'Gymnastics', 'Gyms', 'Hair Extensions', 'Hair Loss Centers', 'Hair Removal', 'Hair Salons', 'Hair Stylists', 'Haitian', 'Halal', 'Handyman', 'Hardware Stores', 'Hats', 'Hawaiian', 'Head Shops', 'Health & Medical', 'Health Coach', 'Health Insurance Offices', 'Health Markets', 'Health Retreats', 'Hearing Aid Providers', 'Heating & Air Conditioning/HVAC', 'Henna Artists', 'Hepatologists', 'Herbs & Spices', 'Hiking', 'Himalayan/Nepalese', 'Historical Tours', 'Hobby Shops', 'Holiday Decorating Services', 'Home & Rental Insurance', 'Home Automation', 'Home Cleaning', 'Home Decor', 'Home Developers', 'Home Health Care', 'Home Inspectors', 'Home Network Installation', 'Home Theatre Installation', 'Home Window Tinting', 'Hong Kong Style Cafe', 'Hookah Bars', 'Hospitals', 'Hostels', 'Hot Dogs', 'Hot Pot', 'Hotels', 'Hungarian', 'Hunting & Fishing Supplies', 'Hypnosis/Hypnotherapy', 'IT Services & Computer Repair', 'IV Hydration', 'Ice Cream & Frozen Yogurt', 'Immigration Law', 'Imported Food', 'Indian', 'Indoor Landscaping', 'Insurance', 'Interior Design', 'Internal Medicine', 'International Grocery', 'Internet Cafes', 'Internet Service Providers', 'Interval Training Gyms', 'Investing', 'Irish', 'Irish Pub', 'Irrigation', 'Italian', 'Izakaya', 'Japanese', 'Japanese Curry', 'Jazz & Blues', 'Jewelry', 'Jewelry Repair', 'Juice Bars & Smoothies', 'Junk Removal & Hauling', 'Karaoke', 'Karate', 'Kebab', 'Keys & Locksmiths', 'Kickboxing', 'Kids Activities', 'Kids Hair Salons', 'Kitchen & Bath', 'Kitchen Incubators', 'Knife Sharpening', 'Knitting Supplies', 'Korean', 'Kosher', 'LAN Centers', 'Laboratory Testing', 'Lactation Services', 'Landmarks & Historical Buildings', 'Landscape Architects', 'Landscaping', 'Language Schools', 'Laser Eye Surgery/Lasik', 'Laser Hair Removal', 'Latin American', 'Laundromat', 'Laundry Services', 'Lawn Services', 'Lawyers', 'Leather Goods', 'Lebanese', 'Legal Services', 'Libraries', 'Life Coach', 'Life Insurance', 'Lighting Fixtures & Equipment', 'Limos', 'Lingerie', 'Live/Raw Food', 'Local Flavor', 'Local Services', 'Lounges', 'Luggage', 'Macarons', 'Machine & Tool Rental', 'Magicians', 'Mailbox Centers', 'Makeup Artists', 'Malaysian', 'Marinas', 'Marketing', 'Martial Arts', 'Masonry/Concrete', 'Massage', 'Massage Schools', 'Massage Therapy', 'Matchmakers', 'Mattresses', 'Meat Shops', 'Mediators', 'Medical Centers', 'Medical Law', 'Medical Spas', 'Medical Supplies', 'Meditation Centers', 'Mediterranean', 'Metal Fabricators', 'Metro Stations', 'Mexican', 'Middle Eastern', 'Middle Schools & High Schools', 'Mobile Phone Accessories', 'Mobile Phone Repair', 'Mobile Phones', 'Modern European', 'Mongolian', 'Montessori Schools', 'Moroccan', 'Mortgage Brokers', 'Mortgage Lenders', 'Mosques', 'Motorcycle Dealers', 'Motorcycle Repair', 'Mountain Biking', 'Movers', 'Museums', 'Music & DVDs', 'Music Production Services', 'Music Venues', 'Musical Instrument Services', 'Musical Instruments & Teachers', 'Musicians', 'Nail Salons', 'Nail Technicians', 'Nanny Services', 'Naturopathic/Holistic', 'Newspapers & Magazines', 'Nightlife', 'Noodles', 'Notaries', 'Nurseries & Gardening', 'Nutritionists', 'Obstetricians & Gynecologists', 'Occupational Therapy', 'Office Cleaning', 'Office Equipment', 'Oil Change Stations', 'Oncologist', 'Opera & Ballet', 'Ophthalmologists', 'Optometrists', 'Oral Surgeons', 'Organic Stores', 'Orthodontists', 'Orthopedists', 'Orthotics', 'Otologists', 'Outdoor Furniture Stores', 'Outdoor Gear', 'Outlet Stores', 'Packing Services', 'Packing Supplies', 'Paddleboarding', 'Paint Stores', 'Painters', 'Pakistani', 'Pan Asian', 'Parking', 'Parklets', 'Parks', 'Party & Event Planning', 'Party Bus Rentals', 'Party Equipment Rentals', 'Party Supplies', 'Passport & Visa Services', 'Pasta Shops', 'Patisserie/Cake Shop', 'Pawn Shops', 'Payroll Services', 'Pediatric Dentists', 'Pediatricians', 'Performing Arts', 'Perfume', 'Periodontists', 'Permanent Makeup', 'Persian/Iranian', 'Personal Assistants', 'Personal Care Services', 'Personal Chefs', 'Personal Injury Law', 'Personal Shopping', 'Peruvian', 'Pest Control', 'Pet Boarding', 'Pet Groomers', 'Pet Insurance', 'Pet Photography', 'Pet Sitting', 'Pet Stores', 'Pet Training', 'Pet Transportation', 'Pharmacy', 'Photo Booth Rentals', 'Photographers', 'Photography Classes', 'Photography Stores & Services', 'Physical Therapy', 'Piano Bars', 'Piano Services', 'Piano Stores', 'Piercing', 'Pilates', 'Pizza', 'Plastic Surgeons', 'Playgrounds', 'Plumbing', 'Plus Size Fashion', 'Podiatrists', 'Poke', 'Pole Dancing Classes', 'Police Departments', 'Polish', 'Pool Halls', 'Pop-up Shops', 'Portuguese', 'Post Offices', 'Powder Coating', 'Prenatal/Perinatal Care', 'Preschools', 'Pressure Washers', 'Pretzels', 'Print Media', 'Printing Services', 'Private Tutors', 'Process Servers', 'Professional Services', 'Professional Sports Teams', 'Propane', 'Property Management', 'Prosthetics', 'Prosthodontists', 'Psychiatrists', 'Psychic Mediums', 'Psychics', 'Psychologists', 'Public Art', 'Public Markets', 'Public Relations', 'Public Services & Government', 'Public Transportation', 'Pubs', 'Puerto Rican', 'Qi Gong', 'Radio Stations', 'Rafting/Kayaking', 'Ramen', 'Real Estate', 'Real Estate Agents', 'Real Estate Law', 'Real Estate Services', 'Recording & Rehearsal Studios', 'Recycling Center', 'Refinishing Services', 'Reflexology', 'Rehabilitation Center', 'Reiki', 'Religious Organizations', 'Religious Schools', 'Reproductive Health Services', 'Resorts', 'Restaurants', 'Retirement Homes', 'Roadside Assistance', 'Rock Climbing', 'Roofing', 'Rugs', 'Russian', 'Safe Stores', 'Safety Equipment', 'Sailing', 'Salad', 'Salvadoran', 'Sandwiches', 'Saunas', 'Scavenger Hunts', 'Scooter Rentals', 'Scottish', 'Screen Printing', 'Screen Printing/T-Shirt Printing', 'Seafood', 'Seafood Markets', 'Security Services', 'Self Storage', 'Self-defense Classes', 'Session Photography', 'Sewing & Alterations', 'Shades & Blinds', 'Shanghainese', 'Shared Office Spaces', 'Shaved Ice', 'Shipping Centers', 'Shoe Repair', 'Shoe Stores', 'Shopping', 'Shopping Centers', 'Signmaking', 'Skate Parks', 'Skate Shops', 'Skating Rinks', 'Skilled Nursing', 'Skin Care', 'Sleep Specialists', 'Smog Check Stations', 'Snow Removal', 'Soccer', 'Social Clubs', 'Social Security Law', 'Software Development', 'Solar Installation', 'Somali', 'Soul Food', 'Soup', 'Southern', 'Souvenir Shops', 'Spanish', 'Special Education', 'Specialty Food', 'Specialty Schools', 'Sporting Goods', 'Sports Bars', 'Sports Clubs', 'Sports Medicine', 'Sports Wear', 'Spray Tanning', 'Squash', 'Stadiums & Arenas', 'Steakhouses', 'Street Vendors', 'Structural Engineers', 'Stucco Services', 'Summer Camps', 'Sunglasses', 'Sushi Bars', 'Swimming Pools', 'Swimwear', 'Synagogues', 'Szechuan', 'TV Mounting', 'Tableware', 'Tacos', 'Taekwondo', 'Tai Chi', 'Taiwanese', 'Talent Agencies', 'Tanning', 'Tanning Beds', 'Tapas Bars', 'Tapas/Small Plates', 'Tattoo', 'Tattoo Removal', 'Tax Law', 'Tax Services', 'Taxis', 'Tea Rooms', 'Team Building Activities', 'Teeth Whitening', 'Telecommunications', 'Television Service Providers', 'Tenant and Eviction Law', 'Tennis', 'Teppanyaki', 'Test Preparation', 'Tex-Mex', 'Thai', 'Threading Services', 'Thrift Stores', 'Ticket Sales', 'Tiki Bars', 'Tires', 'Tobacco Shops', 'Tours', 'Towing', 'Town Car Service', 'Town Hall', 'Toy Stores', 'Traditional Chinese Medicine', 'Traffic Ticketing Law', 'Train Stations', 'Trainers', 'Trains', 'Trampoline Parks', 'Translation Services', 'Transmission Repair', 'Transportation', 'Travel Agents', 'Travel Services', 'Tree Services', 'Trinidadian', 'Trophy Shops', 'Truck Rental', 'Trusts', 'Turkish', 'Tutoring Centers', 'Uniforms', 'University Housing', 'Unofficial Yelp Events', 'Urgent Care', 'Used', 'Used Bookstore', 'Used Car Dealers', 'Utilities', 'Uzbek', 'Vacation Rentals', 'Valet Services', 'Vape Shops', 'Vegan', 'Vegetarian', 'Vehicle Shipping', 'Vehicle Wraps', 'Venezuelan', 'Venues & Event Spaces', 'Veterinarians', 'Video Game Stores', 'Video/Film Production', 'Videographers', 'Videos & Video Game Rental', 'Vietnamese', 'Vintage & Consignment', 'Vinyl Records', 'Vitamins & Supplements', 'Vocal Coach', 'Vocational & Technical School', 'Waffles', 'Walk-in Clinics', 'Walking Tours', 'Wallpapering', 'Watch Repair', 'Watches', 'Water Delivery', 'Water Heater Installation/Repair', 'Waxing', 'Web Design', 'Wedding Planning', 'Weight Loss Centers', 'Wheel & Rim Repair', 'Whiskey Bars', 'Wigs', 'Wills', 'Window Washing', 'Windows Installation', 'Windshield Installation & Repair', 'Wine & Spirits', 'Wine Bars', 'Wine Tasting Room', 'Wine Tours', 'Wineries', 'Workers Compensation Law', 'Wraps', 'Yelp Events', 'Yoga']

### Manually Build all the dictionaries:

In [ ]:
Google_dic = {
    'hospital': ['hospital'],
    'healthcare': ['dentist', 'doctor', 'drugstore', 'health', 'pharmacy', 'physiotherapist'],
    'grocery': ['convenience_store', 'grocery_or_supermarket'],
    'supermarket': ['shopping_mall', 'supermarket'],
    'park': ['campground', 'park', 'rv_park', 'zoo']
}

In [ ]:
Bing_dic = {
    'hospital': ['Emergency Rooms', 'Hospitals', 'Medical Centers', 'Urgent Care'],
    'healthcare': ['Abuse and Addiction Treatment', 'Acupuncturists', 'Alcohol and Drug Treatment Centers', 
                   'Allergists and Immunologists', 'Alternative Medicine', 'Ambulance and EMS Services', 
                   'Anesthesiologists', 'Assisted Living and Care Services', 'Bariatric Medicine', 
                   'Cancer Treatment Centers', 'Cardiologists', 'Chiropractors', 'Dental Care', 'Dentists', 
                   'Dermatologists', 'Diagnostic Centers', 'Dialysis Clinics', 'Doctors', 
                   'Doctors and Clinics', 'Ear, Nose and Throat', 'Eating Disorder Treatment Centers', 
                   'Endocrinologists', 'Eye Care', 'Family and General Practice Physicians', 
                   'Gastroenterologists', 'Gynecologists', 'Health Clinics', 'Healthcare', 'Holistic Medicine',
                   'Hospices', 'Hypnosis And Hypnotherapy', 'Infectious Disease Specialists', 'Massage', 
                   'Medical Supply and Equipment Stores', 'Mental Health Services', 'Naturopathic Physicians', 
                   'Nephrologists', 'Neurologists', 'Nursing Homes and Life Care Facilities', 
                   'Nutritionists And Dietitians', 'Oncologists', 'Ophthalmologists', 
                   'Oral and Maxillofacial Surgeons', 'Orthodontists', 'Orthopedic Medicine', 
                   'Paternity Tests and Services', 'Pathologists', 'Pediatric Dentists', 
                   'Pediatricians', 'Pharmacies', 'Physical Therapists', 'Podiatrists', 'Psychiatrists', 
                   'Psychologists', 'Psychotherapists', 'Radiologists', 'Rehabilitation Services', 
                   'Rheumatologists', 'Sleep Disorder Centers', 'Speech Pathologists', 'Sports Medicine', 
                   'Urologists', 'Vitamin and Supplement Stores'],
    'grocery': ['Butcher Shop', 'Convenience Stores', 'Ethnic Food Stores', 'Farmers Markets', 'Fish Markets', 
                'Fruit and Vegetable Stands', 'Grocery'],
    'supermarket': ['Flea Markets', 'Malls and Shopping Centers', 'Outlet Stores', 'Supermarkets'],
    'park': ['Amusement Parks', 'Beaches', 'Botanical Gardens', 'Camps', 'Park and Rides', 
                            'Parks', 'Parks and Recreation', 'Playgrounds', 'Zoos']
}

Yelp_dic = {
    'hospital': ['Doctors', 'Emergency Rooms', 'Hospitals', 'Medical Centers', 'Personal Care Services', 'Urgent Care', 
                 'Walk-in Clinics'],
    'healthcare': ['Acne Treatment','Acupuncture', 'Behavior Analysts', 'Blood & Plasma Donation Centers', 'Cannabis Clinics', 
                   'Chiropractors', 'Concierge Medicine', 'Cosmetic Dentists', 'Cosmetic Surgeons', 'Counseling & Mental Health', 'Crisis Pregnancy Centers', 
                   'Cryotherapy', 'Dentists', 'Dermatologists', 'Diagnostic Imaging', 'Dietitians', 'Drugstores', 'Ear Nose & Throat', 'Endodontists', 
                   'General Dentistry', 'Health & Medical', 'Hepatologists', 'Hypnosis/Hypnotherapy', 'Internal Medicine', 'Laboratory Testing',
                   'Laser Eye Surgery/Lasik', 'Massage', 'Massage Therapy', 'Medical Supplies', 'Nutritionists', 'Obstetricians & Gynecologists', 
                   'Occupational Therapy', 'Oncologist', 'Ophthalmologists', 'Optometrists', 'Oral Surgeons', 'Orthodontists', 'Orthopedists', 
                   'Orthotics', 'Otologists', 'Pediatric Dentists', 'Pediatricians', 'Periodontists', 'Pharmacy', 'Physical Therapy', 'Plastic Surgeons', 
                   'Podiatrists', 'Prenatal/Perinatal Care', 'Prosthetics', 'Prosthodontists', 'Psychiatrists', 'Psychologists', 'Reflexology', 
                   'Rehabilitation Center', 'Sports Medicine', 'Traditional Chinese Medicine', 'Vitamins & Supplements'],   
    'grocery': ['Butcher', 'Cheese Shops','Chocolatiers & Shops', 'Convenience Stores', 'Farmers Market', 'Fruits & Veggies', 'Gastroenterologist', 'Grocery', 
                'International Grocery', 'Live/Raw Food', 'Meat Shops', 'Organic Stores', 'Seafood Markets'],
    'supermarket': ['Discount Store', 'Outlet Stores', 'Public Markets', 'Shopping', 'Shopping Centers'],
    'park': ['Beaches', 'Dog Parks', 'Parklets', 'Parks', 'Playgrounds', 'Skate Parks', 'Trampoline Parks','Baseball Fields', 'Basketball Courts']
    }

### I will use google info first; if it is not available for that entry, I will use Bing; Yelp is the last choice.

The final data type should be:

'Name', 'type', 'address', 'zip', 'lat', 'lon'

*In later experiment, we find there are some inconsistencies of business types from these 3 sources (e.g., they assign quite different types to the same instance). However, those cases are rare. This dataset is provided by the former SPARK! team, and we trust most of the infomation it provides is accurate.

In [ ]:
def get_key(value, dic):
  """value: the unique value in the dictionary"""
  """dic: the dictionary"""
  """return: the key that contains the value"""
  for key, values in dic.items():
    if value in values:
      #print("key find!")
      return key
  return None

In [ ]:
def process_row(row):
  """take in a pandas row and return a list with values corresponding to description above"""
  r = []
  switch = -1 # 0 for Google, 1 for Bing and 2 for Yelp
  label = None
  # google
  types = row['Google_business_types']
  if type(types) != float:
    for typ in types:
      t = get_key(typ, Google_dic)
      if t != None:
        label = t
        break
    if label == None: # not an essential service
      return None
      #print("Google None")
    else:
      switch = 0
      #print("Google!")
  else: # Bing
    typ = row['BING_BUSINESS_TYPE']
    if type(typ) != float:
      label = get_key(typ, Bing_dic)
      if label == None: # not an essential service
        #print("Bing None")
        return None
      else:
        switch = 1
        #print("Bing!")
    else: # Yelp
      types = row['Yelp_categories'] # it is a string, for strange reason
      if type(types) != float:
        types = ast.literal_eval(types)
        for typename in types:
          t = get_key(typename, Yelp_dic)
          if t != None:
            label = t
            break
        if label == None: # not an essential service
          return None
        else:
          switch = 2
          #print("Yelp!")

  if switch == 0: # Google
    r.append(row['Google_Business_name']) # name
    r.append(label) # type
    #print("type")
    splited = row['Google_vicinity'].split(',')
    #print("split")
    r.append(splited[0]) # address
    #print("address")
    r.append(int(row['Google_Zips'])) # zip
    #print("zip")
    r.append(row['Google_lat']) # lat
    #print("lat")
    r.append(row['Google_lon']) # lon
    #print("lon")
  elif switch == 1: # Bing
    r.append(row['BING_BUSINESS_NAME']) # name
    r.append(label) # type
    #print("type")
    r.append(row['ADDRESS_LINE(Bing)']) # address
    #print("address")
    r.append(int(row['BING_ZIP_CODES'])) # zip
    #print("zip")
    r.append(row['LAT(Bing)']) # lat
    #print("lat")
    r.append(row['LON(Bing)']) # lon
    #print("lon")
  elif switch == 2: # Yelp
    r.append(row['Yelp_business_name']) # name
    r.append(label) # type
    #print("type")
    r.append(row['Yelp_street_address']) # address
    #print("address")
    r.append(int(row['Yelp_Zip_Codes'])) # zip
    #print("zip")
    r.append(row['Yelp_latitude']) # lat
    #print("lat")
    r.append(row['Yelp_longitude']) # lon
    #print("lon")
  else:
    return None
  return r

Do some tests:

In [ ]:
get_key('Seafood Markets', Yelp_dic)

'grocery'

In [ ]:
tttt = mdf.iloc[0]['Yelp_categories']
print(tttt)
print(type(tttt))

['Lounges', 'American (New)']
<class 'str'>

### Extract the useful services from the Business dataset:

In [ ]:
rows = []
for index, row in mdf.iterrows():
  r = process_row(row)
  if r != None:
    rows.append(r)

In [ ]:
print(len(rows))

3792

### Get the result:

Convert the lists into a dataframe:

In [ ]:
df1 = pd.DataFrame(rows, columns = ['name', 'type', 'address', 'zip', 'lat', 'lon'])

combine the food retailers and business:

In [ ]:
df2 = pd.concat([df, df1], ignore_index=True) # combine 2 dataframes (with same columns)

In [ ]:
df2.head(5)

       name     type             address   zip        lat        lon
0  7-Eleven  grocery   462 Washington St  2135  42.348527 -71.158960
1  7-Eleven  grocery  131 Middlesex Tpke  1803  42.487965 -71.221743
2  7-Eleven  grocery    226 Winthrop Ave  1843  42.686019 -71.139769
3  7-Eleven  grocery        1693 Route 6  2726  41.754381 -71.151866
4  7-Eleven  grocery        226 Broadway  2780  41.920467 -71.091320

remove those not in Boston City:

In [ ]:
df3 = df2[df2['zip'].map(lambda x: is_city_Boston(x)) == 1]

In [ ]:
df3.head(5)

                          name     type  ...        lat        lon
0                     7-Eleven  grocery  ...  42.348527 -71.158960
22                    24 Seven  grocery  ...  42.309813 -71.082883
23  24 Seven Convenience Store  grocery  ...  42.309813 -71.082883
29                   Food Land  grocery  ...  42.302039 -71.060150
35                    660 Corp  grocery  ...  42.349045 -71.097122

[5 rows x 6 columns]

Add the open space:

In [ ]:
df4 = pd.concat([df3, osdf], ignore_index=True)
df4.head()

                         name     type  ...        lat        lon
0                    7-Eleven  grocery  ...  42.348527 -71.158960
1                    24 Seven  grocery  ...  42.309813 -71.082883
2  24 Seven Convenience Store  grocery  ...  42.309813 -71.082883
3                   Food Land  grocery  ...  42.302039 -71.060150
4                    660 Corp  grocery  ...  42.349045 -71.097122

[5 rows x 6 columns]

In [ ]:
print(df4.shape)

(5620, 6)

Save the result:

In [ ]:
df4.to_csv('/content/gdrive/My Drive/Colab Notebooks/CS506FinalProject/merged_processed5.csv')