In [1]:
import pandas as pd
import numpy as np

In [2]:
def import_data(filename):
    data = pd.read_csv(filename, sep=',')
    return data

In [3]:
businesses = import_data('../../datasets_clean/businesses_sanitized.csv')
print(businesses.head())

   Unnamed: 0               name   zip        lon        lat  \
0           0      Franklin Cafe  2118 -71.068979  42.342915
1           1  South End Buttery  2118 -71.070373  42.342101
2           2  J.J. Foley's Cafe  2118 -71.065280  42.343664
3           3  Cathedral Station  2118 -71.066770  42.342806
4           4            Dunkin'  2118 -71.065905  42.343730

                                               types
0  ['Caf√©', 'Food and Drink', 'Bars', 'Restaurant...
1  ['Bakeries', 'Food and Drink', 'Bars', 'Restau...
2  ['Bars', 'Food and Drink', 'Restaurants', 'Ret...
3  ['Bars', 'EatDrink', 'bar', 'point_of_interest...
4  ['Coffee Houses', 'Coffee and Tea', 'Food and ...

In [4]:
farmers = import_data('../../datasets_clean/farmers_sanitized.csv')
farmers = farmers.rename(columns={"LONGITUDE": "lon", "LATITUDE": "lat"})
print(farmers.head())

   Unnamed: 0                               NAME                     ADDR_1  \
0          16                        East Boston          209 Sumner Street
1          42               Boston/Copley Square           206 Clarendon St
2          43         Roxbury/Dudley Town Common  Blue Hill Ave & Dudley St
3          47      Boston Public Market/Greenway      136 Blackstone Street
4         130  Boston/South End at the Ink Block          375 Harrison Ave.

                         COUPONS       lon       lat  \
0  WIC & Senior Coupons Accepted -71.03940  42.36899
1  WIC & Senior Coupons Accepted -71.07497  42.35014
2  WIC & Senior Coupons Accepted -71.07497  42.32529
3  WIC & Senior Coupons Accepted -71.05933  42.35919
4  WIC & Senior Coupons Accepted -71.06492  42.34463

                                      coords    TOWN buisness_type
0   [[237938.4373999983, 902156.5898000002]]  Boston   Food access
1  [[235019.08659999818, 900047.6088000014]]  Boston   Food access
2  [[235032.84080000222, 897287.3988999985]]  Boston   Food access
3  [[236302.49329999834, 901059.3781999983]]  Boston   Food access
4   [[235850.24130000174, 899439.760400001]]  Boston   Food access

In [5]:
schools = import_data('../../datasets_clean/schools_latlon.csv')
print(schools.head())

   Unnamed: 0        id                                               name  \
0           0   4570205                  Brooke Charter School East Boston
1           1  35120305           UP Academy Charter School of Springfield
2           2   4120530   Academy of the Pacific Rim Charter Public School
3           3    350560                                Boston Latin School
4           4   4190305  Helen Y Davis Leadership Academy Charter Publi...

                   address        lat        lon   zip
0         94 Horace Street  42.382879 -71.016061  2128
1          90 Canal Street  42.364038 -71.059923  2114
2     1 Westinghouse Plaza  42.244380 -71.132364  2136
3  78 Avenue Louis Pasteur  42.337899 -71.101691  2115
4        23 Leonard Street  42.301323 -71.058689  2122

In [6]:
parcels = import_data('../../datasets_clean/parcels_latlon.csv')
print(parcels.head())

   Unnamed: 0  id        lat        lon
0           0   1  42.249539 -71.126761
1           1   2  42.276385 -71.096688
2           2   3  42.312093 -71.073634
3           3   4  42.309176 -71.074293
4           4   5  42.346613 -71.134690

In [19]:
osp = import_data('../../datasets_clean/open_space_latlon_avg.csv')

osp_amenity = osp[osp['business_type'].notnull()]
# osp_amenity.to_csv('../../datasets_clean/osp_recreation_amenities.csv')
print(osp_amenity.head())

                    SITE_NAME                     ADDRESS        lat  \
0               Franklin Park              143 Seaver St. -71.098270
4            Arnold Arboretum  Opposite 376 Arborway Str. -71.123580
8   George Wright Golf Course               420 West Str. -71.130664
15          Jamaica Pond Park             507 Jamaica Way -71.120792
16          Millennium Park I            300 Gardner Str. -71.184486

          lon business_type
0   42.303353    recreation
4   42.298531    recreation
8   42.267001    recreation
15  42.317698    recreation
16  42.280914    recreation